Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Align vertically all titles
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Labels: none

feat: Adding slug to publications
  app/controllers/tpi/publications_controller.rb
  app/controllers/tpi/sitemaps_controller.rb
  app/models/publication.rb
  app/views/tpi/home/index.html.erb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/sitemaps/index.xml.erb
  db/migrate/20230712074753_add_slug_to_publications.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/tpi/publications_controller_spec.rb
  spec/controllers/tpi/sitemaps_controller_spec.rb
Labels: tpi, cclow

test: Update of test dump
  db/structure.sql
  db/test-dump.psql
  spec/system/public/tpi/banking_tool_spec.rb
Labels: none

chore: Update of Ruby to 2.7.8
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  config/deploy/production.rb
  config/deploy/staging.rb
Labels: none

chore: Update of Ruby to 3.0.0
  .rubocop.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  config/deploy/production.rb
  config/deploy/staging.rb
  spec/commands/csv_data_upload_spec.rb
Labels: none

Update of Readme
  README.md
Labels: none

chore: Update of appsignal
  Gemfile.lock
Labels: none

refactoring: Use Roo and Caxlsx for excel manipulation (replaces RubyXL)
  Gemfile
  Gemfile.lock
  app/services/api/csv_to_excel.rb
  spec/support/controller_helpers.rb
Labels: none

feat: Adding extra comment to bank assessment indicators
  app/admin/bank_assessment_indicators.rb
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
  db/migrate/20230713121501_add_comment_to_bank_assessment_indicators.rb
  db/structure.sql
  db/test-dump.psql
Labels: tpi, admin

Update legend elements size
  app/assets/stylesheets/cclow/_typography.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Labels: none

Wrap text on tooltip
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Labels: none

Add tooltip to titles with ellipsis
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Labels: none

refactoring: Link to publication document
  app/controllers/tpi/publications_controller.rb
  app/views/tpi/home/index.html.erb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/sitemaps/index.xml.erb
  config/routes.rb
  spec/controllers/tpi/publications_controller_spec.rb
  spec/controllers/tpi/sitemaps_controller_spec.rb
Labels: tpi, cclow

Change scroll shadow color to light blue
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Labels: none

Add scroll hint
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table-hooks.js
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Labels: none

Show custom scrollbar always
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Labels: none

Make scroll hint arrows smaller
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Labels: none

Change color of line. Make tooltip visible when hovering
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/charts/mq-level.scss
  app/javascript/components/tpi/charts/cp-performance/options.js
Labels: none

Apply opacity to area chart. Show same color on tooltip
  app/javascript/components/tpi/charts/cp-performance/Tooltip.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Labels: none

feat: assumptions equal to "0" is ignored
  app/services/api/charts/cp_matrix.rb
  spec/services/api/charts/cp_matrix_spec.rb
Labels: none

feat: always use Company CP data to count emission mean
  Gemfile.lock
  app/services/api/charts/cp_assessment.rb
  app/services/seed/tpi_data.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  spec/services/api/charts/cp_assessment_spec.rb
Labels: tpi

feat: Adding last_reported_year to Bank CP importer
  app/admin/banks.rb
  app/admin/cp_assessments.rb
  app/services/csv_import/bank_cp_assessments.rb
Labels: admin

feat: Adding latest_information field to Bank Admin form
  app/admin/banks.rb
Labels: admin

test: fix issues with new chromedriver
  spec/rails_helper.rb
Labels: none

Remove opacity in chart colors as highcharts only accepts hex
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Labels: none

Fix tooltilp wrapping
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Labels: none

Hide extra scrollbar on table
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Labels: none

Allow grouped opacity change on multiple charts
  app/javascript/components/tpi/charts/cp-performance/helpers.js
  app/javascript/components/tpi/charts/cp-performance/options.js
Labels: none

Use opacity on tooltip and legend colors
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
  app/javascript/components/tpi/charts/cp-performance/options.js
Labels: none

refactoring: Adding No disclosure CP::Alignment
  app/models/cp/alignment.rb
  app/services/queries/tpi/latest_cp_assessments_query.rb
  db/seeds/tpi/bank-cp-assessments-2025.csv
Labels: none

chore: Updating webdrivers
  Gemfile.lock
  spec/rails_helper.rb
Labels: none

feat: Adding Beta scores to methodology version of 5
  app/assets/images/icons/trending-down.svg
  app/assets/images/icons/trending-up.svg
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_mixins.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/bubble/CompaniesAccordion.js
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/mq_assessments.rb
  app/services/seed/tpi_data.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/sectors/index.html.erb
  config/locales/en.yml
  db/seeds/tpi/mq-assessments-M5.csv
Labels: tpi, cclow

feat: Enable to switch between MQ Beta scores and not
  app/admin/companies.rb
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/mq_assessments_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/decorators/company_decorator.rb
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
  app/models/concerns/tpi_cache.rb
  app/services/api/charts/sector.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
  config/routes.rb
Labels: tpi, cclow, admin

Update legend
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Labels: none

test: Fix of all broken tests
  app/services/api/charts/sector.rb
  db/test-dump.psql
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Labels: none

Make tooltips wider
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Labels: none

Dont show general tooltip items or target years
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
Labels: none

Don't render benchmarklabels on multiple chart
  app/javascript/components/tpi/charts/cp-performance/options.js
Labels: none

Events go inside chart
  app/javascript/components/tpi/charts/cp-performance/options.js
Labels: none

test: New tests for MQ Beta score feature
  app/services/api/charts/sector.rb
  spec/controllers/tpi/mq_assessments_controller_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_mq_assessments_methodology_5_beta_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_mq_assessments_methodology_5_beta_csv.json
  spec/models/company_spec.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/mq_assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
