Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Adjusts litigation cases results to include last development event
  app/decorators/cclow/litigation_decorator.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/models/litigation.rb
Labels: cclow

Show last change event for laws and policies with date
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Labels: cclow

Change section title based on params scope
  app/views/cclow/geography/legislations/index.html.erb
Labels: cclow

Adds missing heading
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

Show responses on sidebar. Remove topline for litigations show page
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

Move NDC block to under the map
  app/views/cclow/geographies/show.html.erb
Labels: cclow

Fix check for events to show timeline
  app/views/cclow/geographies/show.html.erb
Labels: cclow

Updates footer links
  app/views/layouts/cclow/_footer.html.erb
Labels: none

Update geography's legislation index page displays
  app/controllers/cclow/geography/legislations_controller.rb
  app/decorators/cclow/legislation_decorator.rb
  app/models/legislation.rb
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/legislations/index.html.erb
Labels: cclow

Updates display for geography's litigations index
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
Labels: cclow

Wrap item in span for css to apply to it
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
Labels: cclow

Disable infinite feature of the carousel
  app/assets/stylesheets/cclow/_latest-additions-slider.scss
  app/javascript/shared/controllers/slider_controller.js
Labels: none

renames all_events
  app/models/geography.rb
  app/views/cclow/geographies/show.html.erb
Labels: cclow

Add dotted timeline to a single point event
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/javascript/components/EventsTimeline.js
Labels: none

fix exporting litigations
  app/admin/litigations.rb
Labels: admin

Remove the margin-left of timeline for better alignment
  app/assets/stylesheets/cclow/_events_timeline.scss
Labels: none

Improve display of timeline where there are multiple events
  app/assets/stylesheets/cclow/_events_timeline.scss
Labels: none

Use & with modifier classes and nesting
  app/assets/stylesheets/cclow/_events_timeline.scss
Labels: none

fix(tpi): fix active navbar highlight
  app/javascript/components/Navbar.js
  app/views/layouts/_header.html.erb
Labels: none

add some missing proptypes and keys and other fixes for js troubles
  app/javascript/components/BaseTooltip.js
  app/javascript/components/BubbleChart.js
  app/javascript/components/DropdownSelector.js
  app/javascript/components/SingleBubbleChart.js
Labels: none

reworked how to highlight the given menu item
  app/javascript/components/Navbar.js
  app/views/layouts/tpi.html.erb
  app/views/layouts/tpi/_banner.html.erb
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/layouts/tpi/_subscribe.html.erb
Labels: none

Reworked the whole thing to highlight properly using a rails helper
  app/helpers/application_helper.rb
  app/javascript/components/Navbar.js
  app/views/layouts/tpi/_header.html.erb
Labels: none

Nest css
  app/assets/stylesheets/cclow/_events_timeline.scss
Labels: none

Remove duplicate class
  app/assets/stylesheets/cclow/_events_timeline.scss
Labels: none

Fix litigation-sides importer - overriding records issue
  app/services/csv_import/litigation_sides.rb
Labels: none

Add a separate rake task for importing litigation sides, fix tests
  app/services/seed/cclow_data.rb
  lib/tasks/reimport.rake
  spec/commands/csv_data_upload_spec.rb
Labels: none

remove about page, use _path helpers
  app/controllers/tpi/home_controller.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/about.html.erb
Labels: tpi, cclow

Add unique index to litigation_sides, fix incorrect party types in csv file
  app/services/csv_import/litigation_sides.rb
  db/migrate/20200110103445_add_index_to_litigation_sides.rb
  db/schema.rb
  db/seeds/laws_migration/litigations-sides.csv
Labels: none

simplify active_menu_page method
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/tpi/_header.html.erb
Labels: none

Code review requests patch
  app/javascript/components/DropdownSelector.js
  app/javascript/components/Navbar.js
Labels: none

Fix schema
  db/schema.rb
Labels: none

Add more litigation filters: by litigation side type and party type
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/models/litigation_side.rb
  app/services/queries/cclow/litigation_query.rb
Labels: none

Simplify condition
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

Add More options toggle button to the litigation cases search index
  app/assets/stylesheets/cclow/_geography-page.scss
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

Add filtering by jurisdiction to litigation search index
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
Labels: none

Add uniqueness validation of name in litigation scope on application level
  app/models/litigation_side.rb
Labels: none

Fix hovering on navbar dropdowns in Edge
  app/assets/stylesheets/tpi/_navbar.scss
Labels: none

Show research funding partners logos on homepage
  app/controllers/tpi/home_controller.rb
Labels: tpi, cclow

One less method call
  app/controllers/tpi/home_controller.rb
Labels: tpi, cclow

Instead of defining height, define width for the homepage logos
  app/assets/stylesheets/tpi/_banner.scss
Labels: none
