Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

increase slide by in events timeline
  app/javascript/components/EventsTimeline.js
Labels: none

Skip completely if no pages table
  app/services/dynamic_router.rb
Labels: none

Add more seeds for static pages
  lib/tasks/static_pages.rake
Labels: none

please rubocop
  app/services/dynamic_router.rb
  lib/tasks/static_pages.rake
Labels: none

customize company's number of assessments chart
  app/assets/stylesheets/tpi/_colors.scss
  app/helpers/chart_helper.rb
  app/views/tpi/companies/_mq_assessment.html.erb
Labels: tpi

improve(tpi): pie charts design
  app/assets/stylesheets/tpi/_charts.scss
  app/helpers/chart_helper.rb
  app/views/tpi/sectors/index.html.erb
  config/database.yml
Labels: tpi

Fix individual sector page to meet design specs
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  db/schema.rb
Labels: tpi

trying to do CP charts
  app/helpers/chart_helper.rb
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

improve CP chart
  app/helpers/chart_helper.rb
  app/services/api/charts/cp_assessment.rb
Labels: none

Use html_safe instead of 'raw'
  app/views/tpi/pages/show.html.erb
Labels: tpi

Make the margin between text and logos bigger
  app/assets/stylesheets/tpi/_pages.scss
Labels: none

Style the static pages
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/assets/stylesheets/tpi/_sizes.scss
  app/views/tpi/pages/show.html.erb
Labels: tpi

Fix adding double nested records in the form and Stimulus controller - a problem with images uniqueness
  app/javascript/admin/controllers/nested_list_controller.js
  app/views/admin/pages/_image.html.erb
Labels: admin

fix specs
  spec/services/api/charts/cp_assessment_spec.rb
Labels: none

bring back stacking percent for all sectors CP chart
  app/helpers/chart_helper.rb
Labels: none

fix template for Country pages
  app/assets/images/icons/arrow-right.svg
  app/assets/images/logo/CCLOW_logo.png
  app/assets/images/logo/CCLOW_logo.svg
  app/assets/images/logo/CCLOW_logo@2x.png
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/layout.scss
  app/javascript/components/LawsDropdown.js
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_header.html.erb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

includes world-map component with fake layers and bubbles
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/centroids.js
  app/javascript/components/world-map/world-map.hooks.js
  app/javascript/components/world-map/world-map.reducer.js
  app/views/cclow/home/index.html.erb
  package.json
  yarn.lock
Labels: cclow

update zoom on pinch
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.reducer.js
Labels: none

Add menu attribute to Page model and adjust the form|index|show partials in the admin panel
  app/admin/page.rb
  app/models/page.rb
  app/views/admin/pages/_form.html.erb
  db/migrate/20191128144950_add_menu_to_pages.rb
  db/schema.rb
Labels: admin

Change static pages rake task to include the menu type in scaffolding
  lib/tasks/static_pages.rake
Labels: none

Fix rubocop
  lib/tasks/static_pages.rake
Labels: none

Add links to the header menu
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/controllers/tpi/tpi_controller.rb
  app/views/layouts/_header.html.erb
Labels: tpi, cclow

Fix rubocop
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/controllers/tpi/tpi_controller.rb
Labels: tpi, cclow

add ability to set newRecordId for nested-list-controller
  app/admin/page.rb
  app/decorators/page_decorator.rb
  app/javascript/admin/controllers/nested_list_controller.js
  app/views/admin/pages/_image.html.erb
Labels: admin

fix not styled mode chart colors
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/_highcharts.scss
Labels: none

import highcharts default scss from node_modules
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/_highcharts.scss
Labels: none

only styled charts will import highcharts styled css
  app/assets/stylesheets/tpi/_charts.scss
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

fix sectors company emissions chart
  app/helpers/chart_helper.rb
  app/services/api/charts/sector.rb
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/sectors/show.html.erb
  spec/services/api/charts/sector_spec.rb
Labels: tpi

Adds NewsArticle model and pages to manage it
  app/admin/news_article.rb
  app/decorators/news_article_decorator.rb
  app/models/news_article.rb
  db/migrate/20191129023418_create_news_articles.rb
  db/schema.rb
  spec/factories/news_articles.rb
  spec/models/news_article_spec.rb
Labels: admin

adds specs for news_articles
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/factories/news_articles.rb
Labels: none

Adds Article type
  app/admin/news_article.rb
  app/models/news_article.rb
  db/migrate/20191129033008_add_article_type_to_news_articles.rb
  db/schema.rb
Labels: admin

Importing news articles
  app/services/csv_import/news_articles.rb
  db/seeds.rb
  db/seeds/tpi-news.csv
Labels: none

amend file
  db/seeds/tpi-news.csv
Labels: none

add cp_alignment column
  .gitignore
  app/admin/cp_assessments.rb
  app/services/csv_import/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20191129001618_add_cp_alignment_to_cp_assessments.rb
  db/schema.rb
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/support/fixtures/files/cp_assessments.csv
Labels: admin

update annotations
  app/models/company.rb
  app/models/content.rb
  app/models/cp/assessment.rb
  app/models/image.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/mq/assessment.rb
  app/models/page.rb
  spec/factories/companies.rb
  spec/factories/contents.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/factories/mq_assessments.rb
  spec/factories/pages.rb
  spec/models/company_spec.rb
  spec/models/content_spec.rb
  spec/models/cp/assessment_spec.rb
  spec/models/legislation_spec.rb
  spec/models/litigation_spec.rb
  spec/models/mq/assessment_spec.rb
Labels: none

fix generate file quotes
  spec/factories/news_articles.rb
Labels: none

add cp assumptions notes to company show
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

Use html_safe instead of 'raw'
  app/views/tpi/pages/show.html.erb
Labels: tpi

Style the static pages
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/assets/stylesheets/tpi/_sizes.scss
  app/views/tpi/pages/show.html.erb
Labels: tpi

Fix adding double nested records in the form and Stimulus controller - a problem with images uniqueness
  app/javascript/admin/controllers/nested_list_controller.js
  app/views/admin/pages/_image.html.erb
Labels: admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
