Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Map: move map bubble state to the parent to control country borders and markers with the same logic
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.reducer.js
Labels: none

create history for slugs which will be using history
  app/models/page.rb
  db/migrate/20200120172400_history_slugs_for_companies_and_tpi_sector.rb
  db/schema.rb
Labels: none

add latest company assessments csv to tpi user downloads
  app/controllers/concerns/tpi/user_download.rb
  app/services/csv_export/user/company_latest_assessments.rb
Labels: none

fix companies latest assessments csv column order and row order
  app/services/csv_export/user/company_latest_assessments.rb
Labels: none

fix schema.rb
  db/schema.rb
Labels: none

fix schema.rb
  db/schema.rb
Labels: none

add youtube video to content
  app/admin/page.rb
  app/assets/stylesheets/cclow/_pages.scss
  app/controllers/cclow/pages_controller.rb
  app/controllers/tpi/pages_controller.rb
  app/decorators/content_decorator.rb
  app/decorators/page_decorator.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/cclow/pages/show.html.erb
  db/migrate/20200120121038_add_youtube_link_to_content.rb
  db/schema.rb
Labels: tpi, cclow, admin

bug fix
  db/schema.rb
Labels: none

add authorization for publish/unpublish to before_save
  app/commands/command/csv_data_upload.rb
  app/models/admin_user.rb
  app/models/concerns/visibility_status.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/factories/admin_users.rb
  spec/factories/companies.rb
  spec/factories/geographies.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/factories/targets.rb
Labels: none

remove direct permissions check in import
  app/services/csv_import/base_importer.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
Labels: none

Add option to show EU aggregated data, merge topojson shapes, show marker for EU
  app/assets/stylesheets/cclow/_colors.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/centroids.js
  app/javascript/components/world-map/constants.js
  app/javascript/components/world-map/world-map.hooks.js
  app/javascript/components/world-map/world-map.reducer.js
Labels: none

remove visibility status select option, change before_save authorize to be a validation
  app/admin/companies.rb
  app/controllers/application_controller.rb
  app/helpers/select_helper.rb
  app/models/concerns/visibility_status.rb
  app/views/admin/geographies/_form.html.erb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/targets/_form.html.erb
  spec/commands/csv_data_upload_spec.rb
Labels: admin

remove not needed rescue
  app/services/csv_import/base_importer.rb
Labels: none

Map: Aggregate EU data on the backend
  app/javascript/components/world-map/world-map.hooks.js
  app/models/cclow_map_context_data.rb
Labels: none

add validation for archiving
  app/models/concerns/visibility_status.rb
Labels: none

Fix issue with filtering timeline by event type
  app/views/cclow/geographies/show.html.erb
Labels: cclow

Add link to other newsletters
  app/views/tpi/home/newsletter.html.erb
Labels: tpi

check if user can upload
  app/services/csv_import/base_importer.rb
  spec/commands/csv_data_upload_spec.rb
Labels: none

edit mq assessments answers
  app/admin/mq_assessments.rb
  app/assets/stylesheets/admin/models/mq_assessments.scss
  app/models/mq/assessment.rb
  app/models/mq/question.rb
  app/views/admin/mq_assessments/_form.html.erb
Labels: admin

Don't highlight countries without markers
  app/javascript/components/world-map/WorldMap.js
Labels: none

Add margin-top to the map to avoid being hidden by the map controls
  app/assets/stylesheets/cclow/_world-map.scss
Labels: none

mq assessment update answers specs
  app/models/mq/assessment.rb
  spec/controllers/admin/mq_assessments_controller_spec.rb
Labels: none

Format tooltip values
  app/javascript/components/world-map/MapTooltip.js
  package.json
  yarn.lock
Labels: none

add embed video to trix
  app/assets/images/icon_youtube/logo.svg
  app/assets/stylesheets/active_admin.scss
  app/assets/stylesheets/admin/trix.scss
  app/javascript/admin/controllers/embed_trix_controller.js
  app/views/admin/pages/_content_fields.html.erb
Labels: admin

Distinguish dragging map from clicking; don't show tooltip when dragging
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.reducer.js
Labels: none

Adjust the map height to the design
  app/assets/fonts/BrownTT-Regular.eot
  app/assets/stylesheets/bulma.scss
  app/assets/stylesheets/cclow/_world-map.scss
Labels: none

remove extra changes
  app/admin/page.rb
  app/assets/stylesheets/cclow/_pages.scss
  app/controllers/cclow/pages_controller.rb
  app/controllers/tpi/pages_controller.rb
  app/decorators/content_decorator.rb
  app/decorators/page_decorator.rb
  app/views/cclow/pages/show.html.erb
  db/migrate/20200120121038_add_youtube_link_to_content.rb
Labels: tpi, cclow, admin

rename youtube icon
  app/assets/images/icon_youtube/youtube_gray.svg
  app/assets/stylesheets/admin/trix.scss
Labels: none

extend trix_input
  app/assets/stylesheets/admin/trix.scss
  app/inputs/trix_input.rb
  app/javascript/admin/controllers/embed_trix_controller.js
  app/views/admin/pages/_content_fields.html.erb
Labels: admin

Add Litigation Cases exception for USA
  app/views/cclow/geographies/_overview.html.erb
  app/views/cclow/geography/legislations/index.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

Update text
  app/views/cclow/geography/litigation_cases/index.html.erb
Labels: cclow

Logo should link to root
  app/javascript/components/Navbar.js
Labels: none

Adds validation for geography_id in litigations
  app/models/litigation.rb
Labels: none

updating rails dependencies
  Gemfile.lock
  spec/rails_helper.rb
Labels: none

update js dependencies
  yarn.lock
Labels: none

add brakeman
  Gemfile
  Gemfile.lock
  app/views/cclow/geography/litigation_cases/show.html.erb
  app/views/tpi/home/_partners.html.erb
  config/brakeman.ignore
  config/brakeman.yml
  config/environments/production.rb
  config/environments/staging.rb
  package.json
Labels: tpi, cclow

add bundle audit gem
  Gemfile
  Gemfile.lock
  package.json
Labels: none

add active row to csv importer and only active companies in the chart are considered
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
  app/services/csv_import/companies.rb
  db/schema.rb
Labels: tpi, cclow

add country link to search results
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/decorators/cclow/target_decorator.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  db/schema.rb
Labels: cclow

remove extra changes
  db/schema.rb
Labels: none
