Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Collaborators partners logos
  app/assets/images/collaborators/collaborator_logo_01.png
  app/assets/images/collaborators/collaborator_logo_01@2x.png
  app/assets/images/collaborators/collaborator_logo_02.png
  app/assets/images/collaborators/collaborator_logo_02@2x.png
  app/assets/images/collaborators/collaborator_logo_03.png
  app/assets/images/collaborators/collaborator_logo_03@2x.png
  app/assets/images/collaborators/collaborator_logo_04.png
  app/assets/images/collaborators/collaborator_logo_04@2x.png
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_collaborators.scss
  app/assets/stylesheets/cclow/layout.scss
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_footer.html.erb
Labels: cclow

use srcset for logos
  app/views/cclow/home/index.html.erb
Labels: cclow

adds font-family to body tag on tpi
  app/assets/stylesheets/tpi.scss
Labels: none

Updates layout of text_description based on new designs
  app/assets/stylesheets/tpi/_pages.scss
  app/views/tpi/pages/show.html.erb
Labels: tpi

fix collaborators assets
  app/views/cclow/home/index.html.erb
Labels: cclow

Move rendering tpi pages to partials, adds styles for new layout
  app/assets/stylesheets/tpi/_pages.scss
  app/models/content.rb
  app/views/admin/pages/_image_fields.html.erb
  app/views/tpi/pages/_default.html.erb
  app/views/tpi/pages/_logo_description.html.erb
  app/views/tpi/pages/_text_description.html.erb
  app/views/tpi/pages/show.html.erb
Labels: tpi, admin

Laws shouldn't be in both categories
  app/controllers/cclow/api/targets_controller.rb
Labels: none

renamed default to regular, and use that instead
  app/views/tpi/pages/_regular.html.erb
  app/views/tpi/pages/show.html.erb
Labels: tpi

needed to update the json format response as well
  app/models/target.rb
Labels: none

friday is not a great day for me sometimes. reverts this change from 11054dd276dacfc04f7fe003b518b0302949bfa1
  app/controllers/cclow/api/targets_controller.rb
Labels: none

adds new targets endpoint to be used by climate watch
  .rubocop.yml
  app/controllers/cclow/api/targets_controller.rb
  config/routes.rb
Labels: none

adds rack-cors to manage cors
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/application.rb
Labels: none

RedundantFetchBlock style change
  lib/extensions/active_admin/active_admin_csv_download.rb
Labels: none

Updates syntax to one that works
  config/application.rb
Labels: none

Include iso codes in the response
  app/controllers/cclow/api/targets_controller.rb
Labels: none

update styles of the map
  app/assets/stylesheets/cclow/_world-map.scss
Labels: none

improve styles for news articles
  app/assets/stylesheets/tpi/_pages.scss
  app/views/tpi/publications/show.html.erb
Labels: tpi

Hide EU selector on the show page. open link in same tab
  app/javascript/components/world-map/MapTooltip.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/centroids.js
Labels: none

Updates scope filter
  app/controllers/cclow/api/targets_controller.rb
Labels: none

don't crash if no sector present
  app/services/concerns/uploader_helpers.rb
Labels: none

Updates headers from importing file
  app/services/csv_import/targets.rb
Labels: none

temporary fix before data is updated
  app/controllers/cclow/api/targets_controller.rb
Labels: none

Updates header on spec file
  spec/support/fixtures/files/targets.csv
Labels: none

makes sector optional for targets
  app/models/target.rb
Labels: none

adds more explicit message to content type validator
  app/validators/content_type_validator.rb
Labels: none

remove optional, it's not that optional
  app/models/target.rb
Labels: none

fix cors
  config/application.rb
Labels: none

Enables csv content type from excel
  app/models/data_upload.rb
Labels: none

fix target import and showing zero
  app/services/csv_import/targets.rb
  app/views/cclow/geography/climate_targets/index.html.erb
  db/seeds/laws_migration/targets.csv
Labels: cclow

non_ndc_targets for the rest
  app/models/geography.rb
  app/views/cclow/geography/climate_targets/index.html.erb
Labels: cclow

actually targets without source too
  app/models/geography.rb
Labels: none

fix missing data after importing targets
  app/services/csv_import/targets.rb
Labels: none

short summary and description, fix document icon, fix active links, wrapping text
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/cclow/_related_laws_list.html.erb
  app/views/cclow/cclow/_related_litigations_list.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

truncate breadcrumb title
  app/assets/stylesheets/cclow/layout.scss
  app/helpers/application_helper.rb
  app/models/site/breadcrumb.rb
Labels: none

merge master - squashed forgotten changes
  app/views/layouts/cclow.html.erb
  app/views/layouts/tpi.html.erb
  public/cclow/android-chrome-192x192.png
  public/cclow/android-chrome-512x512.png
  public/cclow/apple-touch-icon.png
  public/cclow/browserconfig.xml
  public/cclow/favicon-16x16.png
  public/cclow/favicon-32x32.png
  public/cclow/favicon.ico
  public/cclow/mstile-144x144.png
  public/cclow/mstile-150x150.png
  public/cclow/mstile-310x150.png
  public/cclow/mstile-310x310.png
  public/cclow/mstile-70x70.png
  public/cclow/safari-pinned-tab.svg
  public/cclow/site.webmanifest
  public/images/cclow.png
  public/tpi/android-chrome-192x192.png
  public/tpi/android-chrome-512x512.png
  public/tpi/apple-touch-icon.png
  public/tpi/browserconfig.xml
  public/tpi/favicon-16x16.png
  public/tpi/favicon-32x32.png
  public/tpi/favicon.ico
  public/tpi/mstile-150x150.png
  public/tpi/safari-pinned-tab.svg
  public/tpi/site.webmanifest
Labels: none

bundle update
  Gemfile.lock
Labels: none

updating js dependencies
  package.json
  yarn.lock
Labels: none

show all filters by default
  app/javascript/components/pages/cclow/List.js
Labels: none

avoid n+1 in the form
  app/views/admin/legislations/_form.html.erb
Labels: admin

fix instruments filter
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Labels: none
