Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

change sedol type to string
  db/migrate/20191126085901_change_column_sedol_companies.rb
  db/schema.rb
Labels: none

add react component for events timeline
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/javascript/components/EventsTimeline.js
  app/views/cclow/geographies/show.html.erb
  package.json
  yarn.lock
Labels: cclow

remove extra template for events timeline
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/javascript/components/EventsTimeline.js
  app/views/cclow/cclow/_events_timeline.html.erb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
  config/locales/en.yml
  package.json
  yarn.lock
Labels: cclow

bug fixes
  app/javascript/components/EventsTimeline.js
  app/views/cclow/geography/legislations/show.html.erb
Labels: cclow

code review
  app/javascript/components/EventsTimeline.js
Labels: none

Fix the DynamicRouter routes name
  app/models/dynamic_router.rb
Labels: none

Fix specs
  spec/controllers/contents_controller_spec.rb
  spec/controllers/pages_controller_spec.rb
Labels: none

Add static pages management and dynamic routes
  app/admin/page.rb
  app/assets/stylesheets/contents.scss
  app/assets/stylesheets/pages.scss
  app/controllers/tpi/contents_controller.rb
  app/controllers/tpi/pages_controller.rb
  app/decorators/content_decorator.rb
  app/decorators/page_decorator.rb
  app/helpers/contents_helper.rb
  app/helpers/pages_helper.rb
  app/models/content.rb
  app/models/dynamic_router.rb
  app/models/page.rb
  app/views/admin/pages/_content.html.erb
  app/views/admin/pages/_content_fields.html.erb
  app/views/admin/pages/_form.html.erb
  app/views/tpi/pages/show.html.erb
  config/routes.rb
  db/migrate/20191125104000_create_pages.rb
  db/migrate/20191125104322_create_contents.rb
  db/migrate/20191125105221_create_dynamic_routers.rb
  db/schema.rb
  spec/controllers/contents_controller_spec.rb
  spec/controllers/pages_controller_spec.rb
  spec/decorators/content_decorator_spec.rb
  spec/decorators/page_decorator_spec.rb
  spec/factories/contents.rb
  spec/factories/dynamic_routers.rb
  spec/factories/pages.rb
  spec/helpers/contents_helper_spec.rb
  spec/helpers/pages_helper_spec.rb
  spec/models/content_spec.rb
  spec/models/dynamic_router_spec.rb
  spec/models/pages_spec.rb
Labels: tpi, cclow, admin

Try fixing travis - check if DB exists
  app/services/dynamic_router.rb
Labels: none

Upload images to content
  app/admin/page.rb
  app/models/page.rb
  app/views/admin/pages/_content_fields.html.erb
Labels: admin

active_tab doesn't need to be in permitted params
  app/admin/page.rb
Labels: admin

Check if we are connected and table exists
  app/services/dynamic_router.rb
  config/routes.rb
Labels: none

Fix rubocop
  app/controllers/tpi/contents_controller.rb
  app/services/dynamic_router.rb
  app/views/admin/pages/_content_fields.html.erb
Labels: tpi, cclow, admin

Remove empty files
  app/assets/stylesheets/contents.scss
  spec/decorators/content_decorator_spec.rb
  spec/decorators/page_decorator_spec.rb
  spec/factories/dynamic_routers.rb
  spec/helpers/contents_helper_spec.rb
  spec/helpers/pages_helper_spec.rb
Labels: none

Fix travis
  app/services/dynamic_router.rb
Labels: none

Fix saving the contents
  app/admin/page.rb
Labels: admin

Fix rubocop
  app/decorators/content_decorator.rb
  app/decorators/page_decorator.rb
  app/services/dynamic_router.rb
Labels: none

Remove unnecessary helpers
  app/helpers/contents_helper.rb
  app/helpers/pages_helper.rb
Labels: none

Remove byebug
  app/views/admin/pages/_content.html.erb
Labels: admin

Add :id to permitted params for content - that prevents from duplicating content records on edit form
  app/admin/page.rb
  app/views/admin/pages/_content_fields.html.erb
Labels: admin

Fix rubocop
  spec/factories/dynamic_routers.rb
  spec/factories/pages.rb
Labels: none

Make DynamicRouter a service
  app/models/dynamic_router.rb
  app/models/page.rb
  app/services/dynamic_router.rb
  db/migrate/20191125105221_create_dynamic_routers.rb
  db/schema.rb
Labels: none

Add rake task for creating know static pages
  app/admin/page.rb
  app/views/admin/pages/_content_fields.html.erb
  db/migrate/20191126123014_add_type_to_contents.rb
  db/schema.rb
  lib/tasks/static_pages.rake
Labels: admin

Fix rubocop
  app/admin/page.rb
Labels: admin

Add Image model and association between Content and Image
  app/admin/page.rb
  app/assets/stylesheets/admin/forms.scss
  app/models/content.rb
  app/models/image.rb
  app/models/page.rb
  app/views/admin/pages/_content.html.erb
  app/views/admin/pages/_content_fields.html.erb
  app/views/admin/pages/_image.html.erb
  app/views/admin/pages/_image_fields.html.erb
  db/migrate/20191126094227_create_images.rb
  db/schema.rb
Labels: admin

Fix rubocop
  app/admin/page.rb
  lib/tasks/static_pages.rake
Labels: admin

Add dependent on images to Content model
  app/models/content.rb
Labels: none

Fix dynamic routing when pages are created through rake task
  app/models/page.rb
Labels: none

Fix rubocop
  app/models/page.rb
Labels: none

Inherit from TPIController - PagesController
  app/controllers/tpi/pages_controller.rb
Labels: tpi, cclow

Fix dynamic router - load dynamic routes on app start
  app/services/dynamic_router.rb
Labels: none

DynamicRouter: when not in development mode, check if we're connected to DB
  app/services/dynamic_router.rb
Labels: none

Fix typo
  app/services/dynamic_router.rb
Labels: none

fixing loading dynamic routes when no database
  app/services/dynamic_router.rb
Labels: none

code review
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/javascript/components/EventsTimeline.js
  package.json
  yarn.lock
Labels: none

Fix rubocop
  app/services/dynamic_router.rb
Labels: none

enable importing responses
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/legislations.rb
Labels: none

use page decorator, remove description from the index, specify filters, simple display
  app/admin/page.rb
  app/decorators/page_decorator.rb
  app/views/layouts/tpi.html.erb
  app/views/tpi/pages/show.html.erb
Labels: tpi, admin

hide the buttons if they are not needed
  app/javascript/components/EventsTimeline.js
Labels: none

Cheeky way to silence rubocop
  app/services/csv_import/legislations.rb
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
