Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Order things
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
Labels: none

handle rubocop
  app/controllers/concerns/cclow/search_controller.rb
Labels: none

Sort in reverse order
  app/controllers/tpi/publications_controller.rb
  app/services/queries/tpi/news_publications_query.rb
Labels: tpi, cclow

Sort events
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

Fixes to targets importer
  app/services/concerns/uploader_helpers.rb
  db/seeds/laws_migration/targets.csv
Labels: none

Adds targets API route per country
  app/controllers/cclow/api/targets_controller.rb
  app/models/legislation.rb
  app/models/target.rb
  config/routes.rb
Labels: none

Moved code to where it belongs
  app/controllers/cclow/api/targets_controller.rb
  app/models/legislation.rb
  app/models/target.rb
Labels: none

Handles 404, adds spec
  app/controllers/cclow/api/targets_controller.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Labels: none

fix France centroid
  app/javascript/components/world-map/centroids.js
Labels: none

add controller and queries to perform full text search
  app/controllers/cclow/api/search_controller.rb
  app/services/queries/cclow/legislations_search_query.rb
  app/services/queries/cclow/litigations_search_query.rb
  config/routes.rb
Labels: none

WIP - adding search_counts route
  app/controllers/cclow/api/search_controller.rb
  app/controllers/concerns/cclow/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/queries/cclow/litigations_search_query.rb
  app/views/layouts/cclow/_header.html.erb
  config/routes.rb
Labels: none

small refactor use inner LawsDropdownCategory component
  app/javascript/components/LawsDropdown.js
Labels: none

add geography full text search query
  app/controllers/cclow/api/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/queries/cclow/geographies_full_text_query.rb
  app/services/queries/cclow/legislations_full_text_query.rb
  app/services/queries/cclow/litigations_full_text_query.rb
Labels: none

add targets full text query
  app/controllers/cclow/api/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/models/target.rb
  app/services/queries/cclow/geographies_full_text_query.rb
  app/services/queries/cclow/legislations_full_text_query.rb
  app/services/queries/cclow/litigations_full_text_query.rb
  app/services/queries/cclow/targets_full_text_query.rb
Labels: none

drop custom made full text search queries and use pg_search instead
  Gemfile
  Gemfile.lock
  app/controllers/cclow/api/search_controller.rb
  app/models/concerns/taggable.rb
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  app/services/queries/cclow/geographies_full_text_query.rb
  app/services/queries/cclow/legislations_full_text_query.rb
  app/services/queries/cclow/litigations_full_text_query.rb
  app/services/queries/cclow/targets_full_text_query.rb
Labels: none

add query objects
  app/controllers/cclow/api/search_controller.rb
  app/services/queries/cclow/geography_query.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

remove search_controller concern
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/geographies_controller.rb
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/cclow/home_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/search_controller.rb
Labels: none

refactor legislation search
  .eslintrc.yml
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/LawsDropdown.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/services/queries/cclow/geography_query.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

refactor cclow backend controllers to use query objects
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/LawsDropdown.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

update recent scopes
  app/controllers/cclow/api/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/api/latest_additions.rb
Labels: none

climate-laws domains updated
  config/routes.rb
Labels: none

fix legend styles
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapLegend.js
Labels: none

add tags to Litigation cases page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/api/filters.rb
Labels: none

add tags to Climate Targets and Legislation and policies page
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Labels: none

add recent parameter to queries
  .rubocop.yml
  app/controllers/cclow/api/search_controller.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  app/services/queries/cclow/geography_query.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

lawsdropdown fix no-matches thing
  app/javascript/components/LawsDropdown.js
Labels: none

smaller debounce
  app/javascript/components/LawsDropdown.js
Labels: none

fix(cclw): add lil world map picture to hero unit
  app/assets/images/cclow/Combined Shape.png
  app/assets/images/cclow/Combined Shape@2x.png
  app/assets/images/cclow/countries@2x.png
  app/assets/images/cclow/countries@2x@2x.png
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/layout.scss
  app/views/cclow/home/_hero.html.erb
Labels: cclow

add background to hero unit
  app/assets/images/cclow/Combined Shape.png
  app/assets/images/cclow/Combined Shape@2x.png
  app/assets/stylesheets/cclow/_hero.scss
Labels: none

add missing assets
  app/assets/images/cclow/countries.png
  app/assets/images/cclow/countries@2x.png
  app/assets/images/cclow/countries@2x@2x.png
  app/assets/images/cclow/hero_background.png
  app/assets/images/cclow/hero_background@2x.png
Labels: none

change page title for search results pages
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

add search title class
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

fix breadcrumbs
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
Labels: none

Added RStudio project files to git ignore
  .gitignore
Labels: none

Added map data files; proportion of global cumulative carbon dioxide emissions
  map_data/proportion_cumulative_emissions_total_fossil_fuels_and_cement_in_percent_2017.csv
  map_data/proportion_cumulative_emissions_total_fossil_fuels_and_cement_in_percent_2017.jsonld
  map_data/proportion_cumulative_emissions_total_fossil_fuels_and_cement_in_percent_2017.yml
Labels: none

fixed Rproj ignore
  .gitignore
Labels: none

fix(tpi): fix active navbar highlight
  app/javascript/components/Navbar.js
  app/views/layouts/_header.html.erb
Labels: none

add some missing proptypes and keys and other fixes for js troubles
  app/javascript/components/BaseTooltip.js
  app/javascript/components/BubbleChart.js
  app/javascript/components/DropdownSelector.js
  app/javascript/components/SingleBubbleChart.js
Labels: none

added germanwatch climate risk index to map_data
  map_data/germanwatch_global_climate_risk_index_1999--2018.csv
  map_data/germanwatch_global_climate_risk_index_1999--2018.jsonld
  map_data/germanwatch_global_climate_risk_index_1999--2018.yml
Labels: none

reworked how to highlight the given menu item
  app/javascript/components/Navbar.js
  app/views/layouts/tpi.html.erb
  app/views/layouts/tpi/_banner.html.erb
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/layouts/tpi/_subscribe.html.erb
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
