Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

fix: Minor fixes related to MQ BETA methodology
  app/javascript/components/tpi/MqBetaModal.jsx
  app/services/api/charts/mq_assessment.rb
  public/static_files/Raising the Bar. TPI's new Management Quality framework.pdf
Labels: none

fix: remove experiment part of mq assessment service
  app/services/api/charts/mq_assessment.rb
Labels: none

refactoring: Show only MQ BETA companies when BETA methodology is enabled
  app/services/api/charts/mq_assessment.rb
  app/services/api/charts/sector.rb
  spec/services/api/charts/sector_spec.rb
Labels: none

refactoring: Hide V4.0 MQ assessments if V5.0 BETA data exists with same assessment date
  app/helpers/mq_assessment_helper.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/show.html.erb
  spec/services/api/charts/mq_assessment_spec.rb
Labels: tpi

feat: Load BETA methodology publication when BETA data are enabled
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

feat: Adding research notes to ASCOR assessment model
  app/admin/ascor/assessments.rb
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/services/csv_import/ascor_assessments.rb
  app/views/tpi/ascor/show.html.erb
  db/seeds/tpi/ascor_assessments.csv
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/ascor_assessments.csv
Labels: tpi, admin

feat: Render metrics for areas which don't have any indicators
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_assessment_indicators.html.erb
  app/views/tpi/ascor/_assessment_metrics.html.erb
Labels: tpi

refactoring: Renaming trend filter values and reversing ordering
  app/services/api/ascor/recent_emissions.rb
  app/views/tpi/ascor/_metrics_ep1a.html.erb
Labels: tpi

refactoring: ASCOR recent emission value is string
  app/javascript/components/tpi/AscorRecentEmissions.js
  db/migrate/20231108125346_change_type_of_recent_emissions_level_at_ascor_pathways.rb
  db/structure.sql
Labels: none

refactoring: ASCOR assessment legend is always visible
  app/javascript/components/tpi/AscorQuestionLegend.js
Labels: none

refactoring: Changing couple ASCOR graph descriptions
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/index.html.erb
Labels: tpi

test: Updating tests with new sql dump
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_pathways_csv.json
  spec/services/api/ascor/recent_emissions_spec.rb
  spec/system/public/tpi/ascor_spec.rb
Labels: none

refactoring: Adding new bubble sizes to ASCOR tool
  app/services/api/ascor/bubble_chart.rb
  spec/services/api/ascor/bubble_chart_spec.rb
Labels: none

feat: Service which calculates data for EP.2 chart
  app/models/ascor/assessment.rb
  app/models/ascor/benchmark.rb
  app/models/ascor/pathway.rb
  app/services/api/ascor/benchmarks_chart.rb
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_benchmarks_chart.html.erb
  app/views/tpi/ascor/show.html.erb
  spec/services/api/ascor/benchmarks_chart_spec.rb
Labels: tpi

refactoring: Changing title of first item at About menu
  app/views/layouts/tpi/_header.html.erb
Labels: none

feat: Adding Plausible snippet
  app/views/layouts/tpi.html.erb
Labels: none

Bubble chart fixes
  app/assets/stylesheets/tpi/_bubble-chart-countries.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  db/structure.sql
Labels: none

Add bubble size to tooltip
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
Labels: none

Revert db structure.sql change
  db/structure.sql
Labels: none

Countries emissions chart fixes
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Labels: none

Update green buttons
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/charts/ascor-emissions/CountrySelector.js
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Labels: tpi

fix ascor.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
Labels: none

feat: Possibility to show/hide ASCOR pillar assessments
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_assessment.html.erb
  spec/system/public/tpi/ascor_spec.rb
Labels: tpi

feat: Show box with ASCOR country details
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/_country_details.html.erb
  app/views/tpi/ascor/show.html.erb
  spec/system/public/tpi/ascor_spec.rb
Labels: tpi

Fix title position
  app/assets/stylesheets/tpi/_bubble-chart-countries.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
Labels: none

Add country benchmarks chart
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_ascor-benchmarks.scss
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
  app/javascript/components/tpi/charts/ascor-benchmarks/index.js
  app/javascript/components/tpi/charts/ascor-benchmarks/options.js
  app/views/tpi/ascor/_benchmarks_chart.html.erb
Labels: tpi

feat: Wrapping ASCOR benchmarks chart at metric styles
  app/assets/stylesheets/tpi/_ascor-benchmarks.scss
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

refactoring: Readjusting country emissions pathway description
  app/views/tpi/ascor/index.html.erb
Labels: tpi

refactoring: Update ASCOR methodology image size
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/index.html.erb
Labels: tpi

refactoring: Renaming Renewable Opportunities to Renewable Energy Opportunities
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  db/seeds/tpi/ascor_assessment_indicators.csv
Labels: none

fix: Typo in Exempt ASCOR category
  app/assets/images/tpi/ascor/exempt.svg
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/helpers/ascor_helper.rb
  app/javascript/components/tpi/AscorQuestionLegend.js
Labels: none

refactoring: Remove pillar show/hide areas option
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

refactoring: Reposition items inside ASCOR country box
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/_country_details.html.erb
Labels: tpi

refactoring: Minor styles refactoring of ASCOR pages
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_country_details.html.erb
Labels: tpi

test: Fixing ASCOR system tests
  spec/system/public/tpi/ascor_spec.rb
Labels: none

refactoring: Updating allowed values for ASCOR countries attributes
  app/models/ascor/country.rb
  db/seeds/tpi/ascor_countries.csv
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_countries.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_countries_csv.json
  spec/support/fixtures/files/ascor_countries.csv
  spec/system/public/tpi/ascor_spec.rb
Labels: none

refactoring: Renaming ASCOR item at dropdown menu
  app/views/layouts/tpi/_header.html.erb
Labels: none

fix: Remove Bank reference from ASCOR dropdown
  app/javascript/components/tpi/AscorDropdown.js
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Labels: tpi

fix: ASCOR pathways importer so No data text is respected
  app/models/ascor/pathway.rb
  app/services/csv_import/ascor_pathways.rb
  app/services/csv_import/helpers/emissions.rb
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_pathways.rb
  spec/support/fixtures/files/ascor_pathways.csv
Labels: none

refactoring: ASCOR benchmark chart Y axis always starts at 0
  app/javascript/components/tpi/AscorRecentEmissions.js
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
  app/services/api/ascor/benchmarks_chart.rb
Labels: none
