Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Add TODO links
  app/views/layouts/_footer.html.erb
Labels: none

Add a guard and search by slug
  app/controllers/tpi/home_controller.rb
Labels: tpi, cclow

Another guard to be added
  app/views/tpi/home/_partners.html.erb
Labels: tpi

update csv files, allow other data format for cp assessments
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_assessments.rb
  db/seeds/cp-assessments.csv
  db/seeds/cp-benchmarks.csv
  db/seeds/mq-assessments-M1.csv
  db/seeds/mq-assessments-M2.csv
  db/seeds/mq-assessments-M3.csv
  db/seeds/tpi-companies.csv
Labels: none

cp assessment do not show alignment if there isn't
  app/assets/stylesheets/tpi/pages/company.scss
  app/services/api/presenters/company.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

fix specs
  spec/services/api/charts/cp_assessment_spec.rb
Labels: none

improve performance a little bit, no emissions no charts
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

add links for summary boxes to scroll down to specific section
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Labels: tpi

pack tpi seed in a class
  app/services/csv_import/news_articles.rb
  app/services/seed/tpi_data.rb
  db/seeds.rb
  lib/tasks/reimport.rake
Labels: none

remove link to cclow geography, fix cp chart data error for some sectors
  app/services/api/charts/sector.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

add new cp performance chart data
  app/controllers/tpi/sectors_controller.rb
  app/helpers/chart_helper.rb
  app/models/cp/alignment.rb
  app/services/api/charts/cp_performance.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/show.html.erb
  spec/factories/companies.rb
  spec/services/api/charts/cp_performance_spec.rb
Labels: tpi, cclow

drop api charts cp benchmark
  app/controllers/tpi/sectors_controller.rb
  app/services/api/charts/cp_benchmark.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
  spec/services/api/charts/cp_benchmark_spec.rb
Labels: tpi, cclow

changes
  app/services/api/charts/sector.rb
  spec/services/api/charts/cp_performance_spec.rb
Labels: none

change color for no disclosure
  app/helpers/chart_helper.rb
  app/models/cp/alignment.rb
Labels: none

small refactor
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

make bubble cells bigger
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/BubbleChart.js
  app/javascript/components/SingleBubbleChart.js
Labels: none

Hide import for newsarticle as this has been done already in prod
  app/services/seed/tpi_data.rb
Labels: none

follow rubocop's advice
  app/services/seed/tpi_data.rb
Labels: none

Move news article importing back to seeds
  app/services/seed/tpi_data.rb
  db/seeds.rb
Labels: none

more spacing for bubble chart, remove padding
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/BubbleChart.js
Labels: none

Don't crash if we don't have an avatar
  app/controllers/tpi/home_controller.rb
Labels: tpi, cclow

make big bubble bigger
  app/javascript/components/BubbleChart.js
Labels: none

add search page for litigation cases
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/LawsDropdown.js
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
  app/views/cclow/legislation_and_policies/index.html.erb
  app/views/cclow/litigation_cases/_list_item.html.erb
  app/views/cclow/litigation_cases/index.html.erb
Labels: cclow

Polish styles for publications grid
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi

Add image to news article model and display it in show page
  app/admin/news_article.rb
  app/assets/stylesheets/tpi/_pages.scss
  app/models/news_article.rb
  app/models/publication.rb
  app/views/tpi/publications/show.html.erb
Labels: tpi, admin

Rubocop
  app/controllers/tpi/publications_controller.rb
Labels: tpi, cclow

Add thumbnail to news articles
  app/admin/news_article.rb
  app/models/news_article.rb
Labels: admin

Hook up publications in the FE
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/controllers/tpi/home_controller.rb
  app/controllers/tpi/publications_controller.rb
  app/views/layouts/_header.html.erb
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  config/routes.rb
Labels: tpi, cclow

Fix styles for publications
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi

Make publications responsive
  app/assets/stylesheets/tpi/_publications.scss
  app/models/news_article.rb
Labels: none

Remove thumbnail upload and serve thumbnail as a resized image
  Gemfile
  Gemfile.lock
  app/admin/news_article.rb
  app/models/news_article.rb
Labels: admin

Add validation for image in NewsArticle and fix specs
  app/models/news_article.rb
  spec/factories/news_articles.rb
  spec/support/fixtures/files/test.jpg
Labels: none

Make thumbnail in Publications responsive
  app/assets/stylesheets/tpi/_publications.scss
  app/models/news_article.rb
Labels: none

Rubocop
  app/models/news_article.rb
Labels: none

improve(tpi): improvements to homepage
  app/assets/images/hero_background_dark.svg
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/views/layouts/_banner.html.erb
  app/views/layouts/_header.html.erb
  app/views/layouts/tpi.html.erb
Labels: none

Fix title truncation in Publications page
  app/assets/stylesheets/tpi/_publications.scss
Labels: none

Remove attachment validation
  app/models/news_article.rb
  db/seeds.rb
Labels: none

Use @include desktop mixin instead of media query + style html tags for single publication page
  app/assets/stylesheets/tpi/_pages.scss
  app/assets/stylesheets/tpi/_publications.scss
Labels: none

Testimonials: remove avatar, make role optional
  app/admin/testimonials.rb
  app/assets/stylesheets/tpi/_testimonials.scss
  app/controllers/tpi/home_controller.rb
  app/javascript/components/Testimonials.js
  app/models/testimonial.rb
  db/migrate/20191203163403_remove_avatar_from_testimonials.rb
  db/schema.rb
Labels: tpi, cclow, admin

Rubocop
  db/seeds.rb
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
