Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

remove prettier
  package.json
  yarn.lock
Labels: none

change time range filter from/to into date of last change
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/common_filters.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
Labels: none

fixing time range filter sync with query string
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

filter legislations by date of law passed
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/services/queries/cclow/legislation_query.rb
  spec/services/queries/cclow/legislation_query_spec.rb
Labels: none

find out min date for law passed filter
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
Labels: none

fix law passed to filter
  app/services/queries/cclow/legislation_query.rb
Labels: none

add filter for case started date
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Labels: none

change selected count to selected title for time range filter
  app/javascript/components/TimeRangeFilter.js
Labels: none

Allow a display name different from the resource
  app/admin/legislations.rb
  lib/extensions/active_admin/active_admin_csv_download.rb
Labels: admin

Updates the available event types for legislation
  app/models/legislation.rb
Labels: none

Updates specs and factories with the new event types
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/factories/events.rb
  spec/services/queries/cclow/legislation_query_spec.rb
Labels: none

simplify method using scope
  app/models/legislation.rb
Labels: none

updates rubocop
  .rubocop.yml
Labels: none

I can't use the scope here. this is a instance method
  app/models/legislation.rb
Labels: none

we are receiving 4 digits year records, not two
  app/services/csv_import/events.rb
Labels: none

fix bug with tragets endpoint
  app/controllers/cclow/api/targets_controller.rb
Labels: none

Adds new endpoint to get what countries have targets in laws or policies
  app/controllers/cclow/api/targets_controller.rb
  config/routes.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Labels: none

add extra info to laws and policies targets endpoint
  app/models/target.rb
Labels: none

updates targets endpoint, and adds more info
  app/controllers/cclow/api/targets_controller.rb
  app/models/target.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Labels: none

Upgrade gems, fixes specs kind off
  Gemfile.lock
  spec/system/public/cclow/geographies_spec.rb
Labels: none

Updates homepage text
  app/views/tpi/home/index.html.erb
Labels: tpi

adds more specific version
  .nvmrc
Labels: none

Updates rails
  Gemfile.lock
Labels: none

remove GBR from EU
  app/models/geography.rb
Labels: none

add distinct to backend filtering
  app/admin/legislations.rb
  app/admin/litigations.rb
Labels: admin

WIP: Managing homepage content
  app/controllers/tpi/home_controller.rb
  app/models/tpi_page.rb
Labels: tpi, cclow

Fetches home content from TPI Page. Adds task to generate current page content
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/index.html.erb
  lib/tasks/static_pages.rake
Labels: tpi, cclow

Fix indeces on external_legislations_litigations table
  db/migrate/20200622151708_fix_unique_indeces_for_external_legislations_and_litigations.rb
  db/schema.rb
Labels: none

adjust identation
  lib/tasks/static_pages.rake
Labels: none

Handle showing data with a single point
  app/services/api/charts/cp_assessment.rb
Labels: none

fix legislative process parsing
  app/decorators/cclow/geography_overview_decorator.rb
  app/views/cclow/geographies/show.html.erb
Labels: cclow

update document types display
  app/views/cclow/geography/legislations/show.html.erb
Labels: cclow

use contains to enable case insensitive search
  app/admin/geographies.rb
Labels: admin

show fields in order
  app/controllers/tpi/home_controller.rb
  app/views/admin/pages/_content.html.erb
Labels: tpi, cclow, admin

No need to fetch each time
  app/controllers/tpi/home_controller.rb
Labels: tpi, cclow

add more attributes to target endpoint
  app/models/target.rb
Labels: none

bundle update
  Gemfile.lock
Labels: none

fix tests
  docker-compose.yml
  spec/system/public/cclow/geographies_spec.rb
Labels: none

Make sure embeding youtube videos works even if there are multiple editors on
  app/javascript/admin/controllers/embed_trix_controller.js
Labels: admin

Add collaborators logos, add Footer subtitle
  .ruby-version
  Gemfile
  Gemfile.lock
  app/assets/images/collaborators/collaborator_logo_01.png
  app/assets/images/collaborators/collaborator_logo_01@2x.png
  app/assets/images/collaborators/collaborator_logo_02.png
  app/assets/images/collaborators/collaborator_logo_02@2x.png
  app/assets/images/collaborators/collaborator_logo_03.png
  app/assets/images/collaborators/collaborator_logo_03@2x.png
  app/assets/images/collaborators/collaborator_logo_04.png
  app/assets/images/collaborators/collaborator_logo_04@2x.png
  app/assets/images/partners/partner_02/partner_logo_inter_parliamentary_union.png
  app/assets/images/partners/partner_02/partner_logo_inter_parliamentary_union@2x.png
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_collaborators.scss
  app/assets/stylesheets/cclow/layout.scss
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_footer.html.erb
Labels: cclow

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
