Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Add separated subsectors' graphs (#526)
  app/services/api/charts/sector.rb
Labels: none

Make single query for cp performance endpoint
  app/services/api/charts/cp_performance.rb
Labels: none

Make single query for cp performance endpoint (#527)
  app/services/api/charts/cp_performance.rb
Labels: none

Remove relative position container, banks
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/views/tpi/banks/index.html.erb
Labels: tpi

Update subscription copy
  app/views/tpi/home/index.html.erb
Labels: tpi

Invert methodology and CP&MQ Data download buttons
  app/assets/stylesheets/tpi/buttons.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

Update subscription copy
  app/views/tpi/home/index.html.erb
Labels: tpi

Remove relative position container, banks
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/views/tpi/banks/index.html.erb
Labels: tpi

Invert methodology and CP&MQ Data download buttons
  app/assets/stylesheets/tpi/buttons.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

Update subscription copy
  app/views/tpi/home/index.html.erb
Labels: tpi

Update subscription copy
  app/views/tpi/home/index.html.erb
Labels: tpi

Update copy, remove Click below to subscribe
  app/views/tpi/home/index.html.erb
Labels: tpi

Subsector graph in sector view
  app/admin/cp_benchmarks.rb
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/models/cp/benchmark.rb
  app/services/api/charts/sector.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/sectors/show.html.erb
  db/migrate/20250403160118_add_subsector_to_cp_benchmark.rb
Labels: tpi, admin

Support subsector filtering on companies
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
Labels: none

Select subsector by default
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/services/seed/tpi_data.rb
  db/migrate/20250407115900_add_coal_mining_cp_unit.rb
Labels: none

Remove options if subsector
  app/javascript/components/tpi/charts/cp-performance/Chart.js
Labels: none

Omit selectedShowBy if not present
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Labels: none

Add subsector selector in sector view
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Labels: none

Point to new stg env
  config/deploy/staging.rb
Labels: none

Add subsector to user download
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_latest_assessments.rb
Labels: none

Add sector cluster data to coal mining
  db/migrate/20250521115030_add_coal_mining_sector_cluster.rb
Labels: none

Hide 0 sector from dropdown
  app/javascript/components/tpi/DropdownSelector.js
Labels: none

Add acceptance tick in CP & MQ download
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Add options to pop-up download, CP & MQ
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Use comma as thousands separator, CP & MQ
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
Labels: none

Change color of info button, corporates page
  app/assets/stylesheets/tpi/_base-tooltip.scss
Labels: none

ASCOR 1: No cursor, select a country
  app/assets/stylesheets/tpi/pages/ascor.scss
Labels: none

Ascor 2: show 2 decimals in labels, emissions
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Labels: none

Ascor 3: add dash in following year from last historical year
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
Labels: none

Ascor 4: add thicker line for 0
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Labels: none

Ascor 5: rename lending for income in country box detail
  app/views/tpi/ascor/_country_details.html.erb
Labels: tpi

Rename Bond Issuers by Transition Planning
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

Copy text from bond issuers to cp & mq page
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Add missing gems
  Gemfile
  Gemfile.lock
Labels: none

Add show all/hide all button, Ascor
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

Revert more options in CP & MQ download
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Move checkbox in download to disclaimer text
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Revert ASCOR 1: continues line until end of last_historical_year
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

Data download disclaimers
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/data_download_mailer.rb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/sectors/index.html.erb
Labels: tpi, cclow

Add verficiation file
  public/google987385f60c859618.html
Labels: none
