Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

fix bank assessment import
  app/services/csv_import/bank_assessments.rb
Labels: none

update avg score description text
  app/views/tpi/banks/index.html.erb
Labels: tpi

change column width for bank bubble chart, add more force to d3force
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bank-bubble/SingleCell.js
Labels: none

change fontsize for average bank score chart
  app/javascript/components/tpi/charts/average-bank-score/Chart.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
Labels: none

more changes to bubble chart
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
Labels: none

fix specs - temp fix
  spec/rails_helper.rb
Labels: none

add couple specs for banking tool importers
  db/seeds/tpi/bank_assessments.csv
  spec/commands/csv_data_upload_spec.rb
  spec/factories/bank_assessment_indicators.rb
  spec/support/fixtures/files/bank_assessment_indicators.csv
  spec/support/fixtures/files/bank_assessments.csv
  spec/support/fixtures/files/banks.csv
Labels: none

add admin banks controller specs
  app/models/ability.rb
  app/models/bank.rb
  spec/controllers/admin/banks_controller_spec.rb
Labels: none

add banking question legend for mobile devices
  app/assets/stylesheets/tpi/banking-question-legend.scss
Labels: none

add bank assessment indicator's legend
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
Labels: tpi

fix publications
  app/controllers/tpi/publications_controller.rb
Labels: tpi, cclow

add bank assessments csv download
  app/admin/bank_assessments.rb
  app/decorators/bank_assessment_decorator.rb
  app/decorators/bank_assessment_result_decorator.rb
Labels: admin

add show in tpi tool to sectors, fix some preview links
  app/admin/banks.rb
  app/admin/companies.rb
  app/admin/tpi_sectors.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/controllers/tpi/sitemaps_controller.rb
  app/decorators/bank_decorator.rb
  app/decorators/tpi_sector_decorator.rb
  app/models/tpi_sector.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  app/views/admin/tpi_sectors/_form.html.erb
  db/migrate/20220722075902_add_show_in_tpi_tool_to_tpi_sectors.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/bank_assessment_indicators.rb
  spec/factories/tpi_sectors.rb
  spec/models/tpi_sector_spec.rb
Labels: tpi, cclow, admin

lock google cloud storage version
  Gemfile
  Gemfile.lock
Labels: none

update packages
  Gemfile.lock
Labels: none

publications and news for banking sector
  app/assets/stylesheets/tpi/_publications.scss
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/index.html.erb
Labels: tpi, cclow

data migration to add bank sector
  db/migrate/20220722100953_add_banks_tpi_sector.rb
  db/structure.sql
  db/test-dump.psql
Labels: none

minor design changes
  app/assets/stylesheets/tpi/pages/bank.scss
  app/javascript/components/tpi/BankDropdown.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
  app/views/tpi/banks/_assessment.html.erb
Labels: tpi

missing banks manage link
  app/controllers/tpi/banks_controller.rb
Labels: tpi, cclow

update tpi sitemaps with banking data
  app/controllers/tpi/sitemaps_controller.rb
  app/views/tpi/sitemaps/index.xml.erb
  spec/controllers/tpi/sitemaps_controller_spec.rb
Labels: tpi, cclow

add download banking data url to all banks
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  config/routes.rb
Labels: tpi

fix bank header for mobile devices
  app/assets/stylesheets/tpi/pages/bank.scss
Labels: none

remove not used tooltips
  app/assets/stylesheets/tpi/pages/bank.scss
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  config/locales/en.yml
Labels: tpi

remove semicolon
  app/views/tpi/banks/index.html.erb
Labels: tpi

Banking tool user data download
  app/controllers/tpi/banks_controller.rb
  app/models/bank_assessment_result.rb
  app/services/csv_export/user/bank_assessment_indicators.rb
  app/services/csv_export/user/bank_assessments.rb
  spec/controllers/tpi/banks_controller_spec.rb
  spec/factories/bank_assessment_result.rb
  spec/factories/banks.rb
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_assessments_csv.json
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_indicators_csv.json
Labels: tpi, cclow

add couple missing specs, restrict answers for bank assessment results
  app/models/bank_assessment_result.rb
  spec/factories/bank_assessment_result.rb
  spec/factories/bank_assessment_results.rb
  spec/factories/bank_assessments.rb
  spec/models/bank_assessment_indicator_spec.rb
  spec/models/bank_assessment_result_spec.rb
Labels: none

change legend placement a little bit
  app/assets/stylesheets/tpi/banking-question-legend.scss
Labels: none

average bank score bar label show insignificant zeros
  app/javascript/components/tpi/charts/average-bank-score/options.js
Labels: none

fix order of banks in dropdown
  app/controllers/tpi/banks_controller.rb
Labels: tpi, cclow

addressing more feedback
  app/controllers/tpi/banks_controller.rb
  app/services/csv_export/user/bank_assessments.rb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  spec/controllers/tpi/banks_controller_spec.rb
Labels: tpi, cclow

fix legend placement
  app/assets/stylesheets/tpi/banking-question-legend.scss
Labels: none

update banks page description
  app/views/tpi/banks/index.html.erb
Labels: tpi

tpi home: changing header
  app/assets/images/partners/partner_01/Bitmap-1.png
  app/assets/images/partners/partner_02/Bitmap-2.png
  app/assets/images/partners/partner_03/Bitmap-3.png
  app/assets/images/partners/partner_04/Bitmap-4.png
  app/assets/images/tpi/partners/ftse-russell.png
  app/assets/images/tpi/partners/grantham.png
  app/assets/images/tpi/partners/lse.png
  app/assets/images/tpi/partners/pri.png
  app/assets/stylesheets/tpi/_banner.scss
  app/views/layouts/tpi/_banner.html.erb
Labels: none

tpi home: hero
  app/assets/images/homepage/bitmap@3x.jpg
  app/assets/images/homepage/homepage-bg.jpg
  app/assets/images/homepage/homepage-bg@2x.jpg
  app/assets/images/homepage/homepage-bg@3x.jpg
  app/assets/images/homepage/homepage-dot-pattern.png
  app/assets/images/homepage/homepage_pattern.svg
  app/assets/images/tpi/home/hero-background.png
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

tpi home: check out centre online tool
  app/assets/images/tpi/home/bank.svg
  app/assets/images/tpi/home/bond.svg
  app/assets/images/tpi/home/countries.svg
  app/assets/images/tpi/home/office-building.svg
  app/assets/images/tpi/icons/plus-darker.svg
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

tpi home: stats and news
  app/assets/images/tpi/home/companies.svg
  app/assets/images/tpi/home/construction.svg
  app/assets/images/tpi/home/electric-factory.svg
  app/assets/images/tpi/home/events.svg
  app/assets/images/tpi/home/location.svg
  app/assets/images/tpi/home/market-cap.svg
  app/assets/images/tpi/home/money-bag.svg
  app/assets/images/tpi/home/news.svg
  app/assets/images/tpi/home/sectors.svg
  app/assets/images/tpi/home/support.svg
  app/assets/images/tpi/home/transportation.svg
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

tpi home: more sections
  app/assets/images/hero_background.svg
  app/assets/images/hero_background_dark.svg
  app/assets/images/homepage/bitmap.jpg
  app/assets/images/homepage/bitmap@2x.jpg
  app/assets/images/quote.svg
  app/assets/images/tpi/funders/ciff.png
  app/assets/images/tpi/funders/ftse-russell.png
  app/assets/images/tpi/funders/lseg.png
  app/assets/images/tpi/funders/tpi.png
  app/assets/images/tpi/home/temp-research-author.png
  app/assets/images/tpi/home/temp-research-image.png
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_helpers.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/components/tpi/Testimonials.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/_testimonials.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

first version of case studies slider
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/home_controller.rb
  app/javascript/packs/tpi.js
  app/views/tpi/home/index.html.erb
Labels: tpi, cclow

home page: add links, style list
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

tpi home: mobile css
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi
