Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

refactoring: ASCOR cap groups are quantiles
  app/services/api/ascor/bubble_chart.rb
  spec/services/api/ascor/bubble_chart_spec.rb
Labels: none

Add filters
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/_selector.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/javascript/components/tpi/charts/emissions/Chart.js
  app/javascript/components/tpi/charts/emissions/CountrySelector.js
  app/javascript/components/tpi/charts/emissions/Emissions.js
  app/javascript/components/tpi/charts/emissions/Filters.js
  app/javascript/components/tpi/charts/emissions/Select.js
  app/javascript/components/tpi/charts/emissions/index.js
  app/javascript/components/tpi/charts/emissions/mockedData.js
  app/javascript/components/tpi/charts/emissions/options.js
  app/javascript/components/tpi/charts/hooks.js
  app/views/tpi/ascor/_emissions_chart.html.erb
Labels: tpi

Update countries bubble chart colors and toootip
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
Labels: none

refactoring: Updating ASCOR icons and making assessments responsive
  app/assets/images/tpi/ascor/no.svg
  app/assets/images/tpi/ascor/oval.svg
  app/assets/images/tpi/ascor/partial.svg
  app/assets/images/tpi/ascor/yes.svg
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

feat: React component to generate metrics_ep1a filters
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorRecentEmissions.js
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/emissions/Filters.js
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

test: which verifies that EP.1.a.i metric is rendered
  app/admin/ascor/assessments.rb
  app/models/ascor/emissions_boundary.rb
  app/views/tpi/ascor/_assessment.html.erb
  spec/system/public/tpi/ascor_spec.rb
Labels: tpi, admin

Add chart responsivity, update country selector
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/javascript/components/tpi/charts/emissions/Chart.js
  app/javascript/components/tpi/charts/emissions/CountrySelector.js
  app/javascript/components/tpi/charts/emissions/Emissions.js
  app/javascript/components/tpi/charts/emissions/options.js
Labels: none

fix: ASCOR emissions chart API url
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/CountrySelector.js
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/javascript/components/tpi/charts/ascor-emissions/Filters.js
  app/javascript/components/tpi/charts/ascor-emissions/Select.js
  app/javascript/components/tpi/charts/ascor-emissions/index.js
  app/javascript/components/tpi/charts/ascor-emissions/mockedData.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
  app/services/api/ascor/emissions_chart.rb
  app/views/tpi/ascor/_emissions_chart.html.erb
Labels: tpi, cclow

Update app/javascript/components/tpi/AscorRecentEmissions.js
  app/javascript/components/tpi/AscorRecentEmissions.js
Labels: none

Update app/javascript/components/tpi/AscorRecentEmissions.js
  app/javascript/components/tpi/AscorRecentEmissions.js
Labels: none

Update app/assets/stylesheets/tpi/pages/ascor.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
Labels: none

fix: ASCOR BubbleChart service
  app/services/api/ascor/bubble_chart.rb
Labels: none

feat: React component for ASCOR country selector
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/AscorDropdown.js
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Labels: tpi, cclow

refactoring: Updating styles of ASCOR pages based on feedback
  app/assets/images/tpi/ascor/circles_3.svg
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorRecentEmissions.js
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_contact.html.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Labels: tpi

fix: Styles of ASCOR assessment - position of Source
  app/javascript/components/tpi/AscorRecentEmissions.js
Labels: none

refactoring: renaming TPI Centre to LSE-TPI Centre
  app/views/tpi/home/index.html.erb
Labels: tpi

feat: Add possibility to define number of supporters without logo
  app/controllers/tpi/home_controller.rb
  app/models/content.rb
Labels: tpi, cclow

feat: LinkedIn widget for homepage
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

Add mobile version of the countries emissions bubble chart
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_bubble-chart-countries.scss
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/chart-mobile/ChartMobile.js
  app/javascript/components/tpi/charts/ascor-bubble/chart-mobile/index.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
Labels: none

test: Fix of ASCOR bubble chart test (desktop and mobile version)
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/ascor_spec.rb
Labels: none

feat: Separate page for Publications
  app/assets/stylesheets/tpi/_pages.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/Filters.js
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  app/views/tpi/publications/show_news_article.erb
  app/views/tpi/sitemaps/index.xml.erb
  config/routes.rb
  spec/controllers/tpi/publications_controller_spec.rb
  spec/controllers/tpi/sitemaps_controller_spec.rb
Labels: tpi, cclow

fix: brakeman - upgrading ignore files
  config/brakeman.ignore
Labels: none

feat: Adding insight content type
  app/admin/news_article.rb
  app/assets/stylesheets/tpi/_publications.scss
  app/models/news_article.rb
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  db/migrate/20231023101859_add_is_insight_to_news_articles.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
Labels: tpi, admin

feat: Adding summary to Publications
  app/admin/publication.rb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/show.html.erb
  db/migrate/20231023120255_add_summary_to_publications.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/admin/publications_controller_spec.rb
  spec/factories/publications.rb
Labels: tpi, admin

fix: db schema
  app/models/bank_assessment_indicator.rb
  app/models/news_article.rb
  app/models/publication.rb
  db/structure.sql
  spec/factories/bank_assessment_indicators.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
  spec/models/bank_assessment_indicator_spec.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
Labels: none

Revert "refactoring: renaming TPI Centre to LSE-TPI Centre"
  app/views/tpi/home/index.html.erb
Labels: tpi

feat: MQ assessments support No data answer
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/mq/question.rb
  db/seeds/tpi/mq-assessments-M5.csv
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/mq_assessments.csv
Labels: none

feat: Link to MQ BETA feature presentation
  app/javascript/components/tpi/MqBetaModal.jsx
  public/static_files/23-10-20 MQ V5 Report for publication.pptx
Labels: none

feat: Final Linkedin widget with feeds
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

refactoring: Minor tweaks of Publication web page
  app/views/tpi/publications/show.html.erb
Labels: tpi

feat: Adding active filter into Company Admin
  app/admin/companies.rb
Labels: admin

feat: Adding active filter into Company Admin
  app/admin/companies.rb
Labels: admin

feat: Another small tweak of Publication web pages
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_list.html.erb
Labels: tpi

Add min Y axis value and change X axis ticks
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Labels: none

Change countries sizes range
  app/assets/stylesheets/tpi/_bubble-chart-countries.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
Labels: none

Update axis ticks
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Labels: none

Typo fixing and remove text from contact section
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_contact.html.erb
Labels: tpi

refactoring: Minor tweaks of MQ BETA report texts
  app/javascript/components/tpi/MqBetaModal.jsx
  public/static_files/23-10-20 MQ V5 Report for publication.pptx
  public/static_files/23-11-02 MQ V5 Report for publication.pptx
Labels: none

refactoring: Changing MQ BETA presentation
  app/javascript/components/tpi/MqBetaModal.jsx
  public/static_files/23-11-02 MQ V5 Report for publication.pptx
  public/static_files/Raising the Bar. TPI's new Management Quality framework.pdf
Labels: none

refactoring: Update of seeding data plus fix of units
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorRecentEmissions.js
  db/seeds/tpi/ascor_assessment_indicators.csv
  db/seeds/tpi/ascor_assessments.csv
  db/seeds/tpi/ascor_benchmarks.csv
  db/seeds/tpi/ascor_countries.csv
  db/seeds/tpi/ascor_pathways.csv
Labels: none
