Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Don't show coal graph if no emissions: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi

Coal mining graph showed: Banking
  app/controllers/tpi/banks_controller.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi, cclow

Show different graphs for coal mining subsectors: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi

Add industry relationship and update disclaimer download: MQ
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/models/industry.rb
  app/models/tpi_sector.rb
  app/views/tpi/companies/show.html.erb
  db/migrate/20251031120000_create_industries.rb
  db/migrate/20251031120001_add_industry_id_to_tpi_sectors.rb
  db/structure.sql
Labels: tpi

Add tooltip info to email field, download modal: MQ
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Add email instruction inlined, download modal: MQ
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Add fields for Use case details section, download: MQ
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Add section Self-attestation of use case, download modal: MQ
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Modify backend to support new modal fields, download: MQ
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/mailers/data_download_mailer_spec.rb
Labels: tpi, cclow

Fix user_download issue: Banking, ASCOR, MQ
  app/services/csv_export/user/bank_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_export/user/mq_assessments.rb
  app/services/queries/tpi/latest_cp_assessments_query.rb
Labels: none

Make not assessed tag in main view year-dependent: ASCOR
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/views/tpi/ascor/_bubble_chart.html.erb
Labels: tpi

Order customer-facing ASCOR download: ASCOR
  app/services/csv_export/ascor/assessment_indicators.rb
  app/services/csv_export/ascor/assessments.rb
Labels: none

Order admin download of assessments: ASCOR
  app/admin/ascor/assessments.rb
Labels: admin

Use Not assessed string for <=2024 downloaded files, EP3: ASCOR
  app/admin/ascor/assessments.rb
  app/services/csv_export/ascor/assessments.rb
Labels: admin

Add new area replacement for new EP 3: ASCOR
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
Labels: none

Show dynamic end year in detail graph for EP3: ASCOR
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
  app/views/tpi/ascor/_benchmarks_chart.html.erb
Labels: tpi

Add metrics for EP.1.b.i and EP.1.c.i: ASCOR
  app/views/tpi/ascor/_assessment_metrics.html.erb
Labels: tpi

Make end date of graph in ascor main dynamic: ASCOR
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/views/tpi/ascor/_emissions_chart.html.erb
Labels: tpi

In country view, show EP3 before EP4: ASCOR
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

Show not-applicable for EP 3 for <= 2024: ASCOR
  app/helpers/ascor_helper.rb
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

Fix assessment date selectors: ASCOR
  app/controllers/tpi/ascor_controller.rb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/index_assessment.js.erb
  app/views/tpi/ascor/index_emissions_assessment.js.erb
Labels: tpi, cclow

Move graph to EP 3 in country view for >2024: ASCOR
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_assessment_indicators.html.erb
Labels: tpi

Show empty areas if present: ASCOR
  app/helpers/ascor_helper.rb
  app/services/api/ascor/bubble_chart.rb
Labels: none

Update terms of use URL: Download form
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Ordering locations, professional email check: Download form
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/data_download_mailer.rb
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  spec/mailers/data_download_mailer_spec.rb
Labels: tpi, cclow

Separate CP from MQ download button: Download form
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
Labels: tpi, cclow

Remove latest companies from download, add company id: Download form
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/mq_assessments.rb
Labels: none

Add latest company assessment files for CP and MQ: Download
  app/controllers/concerns/tpi/user_download.rb
  app/services/csv_export/user/latest_cp_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
Labels: none

Update spacing between company buttons: Download
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

Remove version toggles: Download
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

Support new fields in MQAssessment upload: Download
  app/admin/mq_assessments.rb
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/mq/assessment.rb
  app/services/csv_import/mq_assessments.rb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/mq_assessments/_form.html.erb
  app/views/tpi/companies/_mq_assessment_metadata.html.erb
  app/views/tpi/companies/mq_assessment.js.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20251204110115_add_fiscal_year_and_assessment_type_to_mq_assessments.rb
  db/structure.sql
Labels: tpi, admin

Add support for CP Methodology publication: Bank
  app/controllers/tpi/banks_controller.rb
  app/helpers/resource_attributes.rb
  app/models/content.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/tpi/banks/index.html.erb
  db/migrate/20251204154629_add_cp_methodology_publication_id_to_banks_content.rb
Labels: tpi, cclow, admin

Rename the migration :facepalm:: Bank
  db/migrate/20251204154629_add_cp_methodology_publication_id_to_banks_content.rb
Labels: none

Run CP publication migration: Bank
  db/structure.sql
Labels: none

Rename the migration :facepalm:: Bank
  db/migrate/20251204154629_add_cp_methodology_publication_id_to_banks_content.rb
Labels: none

Add support for CP Methodology publication: Bank
  app/controllers/tpi/banks_controller.rb
  app/helpers/resource_attributes.rb
  app/models/content.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/tpi/banks/index.html.erb
  db/migrate/20251204154629_add_cp_methodology_publication_id_to_banks_content.rb
Labels: tpi, cclow, admin

Remove assessment_type: Download
  app/admin/mq_assessments.rb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/mq_assessments/_form.html.erb
  app/views/tpi/companies/_mq_assessment_metadata.html.erb
  db/structure.sql
Labels: tpi, admin

Add Downloadable field support: Download
  app/admin/mq_assessments.rb
  app/models/mq/assessment.rb
  app/services/csv_import/mq_assessments.rb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/mq_assessments/_form.html.erb
  db/migrate/20251208090415_add_downloadable_to_mq_assessments.rb
  db/structure.sql
Labels: admin

Unify font size: Download
  app/assets/stylesheets/tpi/_download-form-modal.scss
Labels: none

Download buttons and icons' spacing: Download
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi
