Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

remove redundant ability
  app/models/ability.rb
Labels: none

abilities unit tests for editor roles
  spec/models/admin_user_spec.rb
  spec/rails_helper.rb
Labels: none

add pry for debugging
  Gemfile
  Gemfile.lock
Labels: none

remove old TODO comment
  app/models/ability.rb
Labels: none

check abilities for displaying batch actions (publish/archive/destroy)
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
Labels: admin

extract method
  app/models/ability.rb
Labels: none

fix displaying tag links on index page
  app/admin/tags.rb
Labels: admin

define abilities
  app/models/ability.rb
Labels: none

update roles which publishers can select when managing other users
  app/admin/admin_users.rb
  app/helpers/select_helper.rb
Labels: admin

be more precise in AdminUsersController spec
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: none

cancan needs #current_user method
  app/controllers/application_controller.rb
Labels: none

for editor roles visibility-status select should be read-only
  app/admin/companies.rb
  app/helpers/select_helper.rb
  app/views/admin/geographies/_form.html.erb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/targets/_form.html.erb
Labels: admin

WIP
  app/controllers/application_controller.rb
  app/models/ability.rb
  config/initializers/active_admin.rb
Labels: none

unit tests for publisher roles
  spec/models/admin_user_spec.rb
Labels: none

when editing self, do not allow to change role
  app/admin/admin_users.rb
  app/helpers/select_helper.rb
Labels: admin

Apply fix from draper-cancancan gem to fix working with abilities on decorated resources
  Gemfile
  Gemfile.lock
  app/models/ability.rb
  spec/models/admin_user_spec.rb
Labels: none

add alias for crud actions
  app/models/ability.rb
Labels: none

display publishable_sidebar if user has :publish ability
  app/admin/companies.rb
  app/admin/geographies.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  lib/extensions/active_admin/active_admin_visibility_status.rb
Labels: admin

add comments about what does not work yet for editor roles
  app/models/ability.rb
Labels: none

revert initializer docs
  config/initializers/active_admin.rb
Labels: none

remove comments
  app/models/ability.rb
Labels: none

add example users with all roles for development env
  db/seeds.rb
Labels: none

allow users to modify themselves
  app/models/ability.rb
  spec/models/admin_user_spec.rb
Labels: none

remove not used method
  app/admin/news_article.rb
Labels: admin

Add more information to the events on the timeline
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/assets/stylesheets/cclow/_tooltip.scss
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/javascript/components/EventsTimeline.js
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

Add links to timeline events
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/javascript/components/EventsTimeline.js
  app/services/api/presenters/event.rb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

Fix tags display
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

Show different tooltip content depending on timeline type
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/services/api/presenters/event.rb
Labels: none

add friendly_id initializer and history table
  config/initializers/friendly_id.rb
  db/migrate/20200117184302_create_friendly_id_slugs.rb
Labels: none

change slug when slugged column changed
  app/models/company.rb
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/page.rb
  app/models/tpi_sector.rb
  db/schema.rb
  spec/factories/pages.rb
  spec/models/cclow_page_spec.rb
  spec/models/company_spec.rb
  spec/models/geography_spec.rb
  spec/models/legislation_spec.rb
  spec/models/litigation_spec.rb
  spec/models/pages_spec.rb
  spec/models/tpi_page_spec.rb
  spec/models/tpi_sector_spec.rb
Labels: none

update schema
  db/schema.rb
Labels: none

add auth check for data-uploads: editors should not publish resources
  app/models/ability.rb
  app/services/csv_import/base_importer.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
  db/schema.rb
  spec/commands/csv_data_upload_spec.rb
Labels: none

On initial load, show the timeline scrolled to the right edge
  app/javascript/components/EventsTimeline.js
Labels: none

Simplify code
  app/controllers/cclow/geography/legislations_controller.rb
  app/services/api/presenters/event.rb
  app/views/cclow/geography/legislations/show.html.erb
Labels: cclow

change images timestamps deafult value to nil
  db/migrate/20200120130555_remove_default_from_images_timestamps.rb
  db/schema.rb
Labels: none

Change map projection to Equal-Earth
  app/javascript/components/world-map/WorldMap.js
  package.json
  yarn.lock
Labels: none

Fit the map module in an average viewport height of 700px + hide antarctica
  app/assets/stylesheets/cclow/_world-map.scss
Labels: none

Order map bubbles by weight, remove the blending mode
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
Labels: none

tpi companies/sectors redirect for old slugs
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

Map: make the country clickable to reveal the tooltip
  app/javascript/components/world-map/WorldMap.js
Labels: none
