Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

remove some columns from index
  app/admin/legislations.rb
  app/admin/litigations.rb
Labels: admin

Include search component in every cclow page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/layout.scss
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/geographies_controller.rb
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/cclow/home_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/views/cclow/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_header.html.erb
Labels: cclow

Add last search logic
  app/javascript/components/LawsDropdown.js
Labels: none

Laws dropdown
  app/assets/images/icons/country-flag.svg
  app/assets/images/icons/laws.svg
  app/assets/images/icons/legal-scale.svg
  app/assets/images/icons/search-again.svg
  app/assets/images/icons/search.svg
  app/assets/images/icons/target.svg
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_colors.scss
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/home_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/LawsDropdown.js
  app/javascript/packs/cclow.js
  app/views/cclow/climate_targets/index.html.erb
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_header.html.erb
  config/routes.rb
Labels: cclow

Fix rubocop
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/geographies_controller.rb
  app/controllers/cclow/home_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/search_controller.rb
Labels: none

Fixes after rebase
  app/javascript/packs/cclow.js
Labels: none

Adds instrument types and instruments
  db/seeds.rb
Labels: none

Import sectors in the seeds
  db/seeds.rb
Labels: none

adds sorting
  app/admin/instrument.rb
  app/admin/laws_sectors.rb
Labels: admin

Better css class naming
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/javascript/components/LawsDropdown.js
Labels: none

Adds updated companies migration file and updates as needed
  app/models/company.rb
  app/services/csv_import/companies.rb
  db/migrate/20191121170141_remove_isin_index_from_companies.rb
  db/schema.rb
  db/seeds.rb
  db/seeds/companies.csv
  db/seeds/geographies.csv
  db/seeds/tpi-companies.csv
Labels: none

Adds CP benchmarks
  db/seeds/cp-benchmarks.csv
Labels: none

Update some ids
  db/seeds/tpi-companies.csv
Labels: none

Updates cp_assessments and mq_assessments importers to use company ids. update files
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/mq_assessments.rb
  db/seeds.rb
  db/seeds/cp-assessments.csv
  db/seeds/mq-assessments-M1.csv
  db/seeds/mq-assessments-M2.csv
  db/seeds/mq-assessments-M3.csv
Labels: none

Updates files and small fix for when there's no assessment_date for a company
  app/services/csv_import/cp_assessments.rb
  db/seeds/cp-assessments.csv
  db/seeds/mq-assessments-M2.csv
  db/seeds/mq-assessments-M3.csv
Labels: none

updates to specs e fixes do rubocop
  db/seeds.rb
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
  spec/support/fixtures/files/mq_assessments.csv
Labels: none

ISIN is no longer unique
  spec/models/company_spec.rb
Labels: none

Include company id in cp and mq assessments download
  app/admin/cp_assessments.rb
  app/admin/mq_assessments.rb
Labels: admin

transferring js code with stimulus
  app/javascript/packs/cclow.js
  app/javascript/shared/controllers/index.js
  app/javascript/shared/controllers/slider_controller.js
  app/javascript/shared/index.js
  app/views/cclow/home/_latest_additions.html.erb
Labels: cclow

create sample test for latest additions service
  app/services/api/latest_additions.rb
  spec/factories/litigations.rb
  spec/services/api/latest_additions_spec.rb
Labels: none

refactors to have override_id passed as an option
  app/services/csv_import/base_importer.rb
  db/seeds.rb
Labels: none

Adds methodology_version to MQ::Assessment
  app/admin/mq_assessments.rb
  app/services/csv_import/mq_assessments.rb
  db/migrate/20191122133323_add_methodology_version_to_mq_assessments.rb
  db/schema.rb
  db/seeds/mq-assessments-M1.csv
  db/seeds/mq-assessments-M2.csv
  db/seeds/mq-assessments-M3.csv
Labels: admin

Select only the attributes we should search through in search controller + debounce full text search
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/controllers/concerns/cclow/search_controller.rb
  app/javascript/components/LawsDropdown.js
Labels: none

Fix rubocop
  app/controllers/concerns/cclow/search_controller.rb
Labels: none

Update assessment date format to use hifens
  db/seeds/cp-assessments.csv
Labels: none

Use useCallback instead of useRef
  app/javascript/components/LawsDropdown.js
Labels: none

Search through correct keys - laws search dropdown
  app/javascript/components/LawsDropdown.js
Labels: none

activity owner set to ::Current.admin_user
  app/models/concerns/public_activity_trackable.rb
Labels: none

tweak display of activity index page
  app/admin/activities.rb
  app/decorators/public_activity/activity_decorator.rb
Labels: admin

public activity
  Gemfile
  Gemfile.lock
  app/admin/activities.rb
  app/decorators/public_activity/activity_decorator.rb
  app/models/company.rb
  app/models/concerns/public_activity_trackable.rb
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  db/migrate/20191121060716_create_activities.rb
  db/schema.rb
  spec/controllers/admin/litigations_controller_spec.rb
Labels: admin

include PublicActivity::Common in PublicActivityTrackable concern
  app/models/company.rb
  app/models/concerns/public_activity_trackable.rb
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
Labels: none

fix tests
  spec/controllers/admin/legislations_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/factories/geographies.rb
Labels: none

clean up
  app/admin/activities.rb
  app/models/concerns/public_activity_trackable.rb
Labels: admin

controller tests
  spec/controllers/admin/legislations_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
Labels: none

update missing controller specs
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/geographies_controller_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
Labels: none

change filter, and fix links
  app/admin/activities.rb
  app/decorators/public_activity/activity_decorator.rb
Labels: admin

use callback-enable update instead of update_all for batch actions
  app/commands/command/batch/archive.rb
  app/commands/command/batch/publish.rb
Labels: none

add sector to admin companies index, tweak charts on sectors index page
  app/admin/companies.rb
  app/assets/stylesheets/tpi/_charts.scss
  app/helpers/chart_helper.rb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi, admin

add missing sector companies size for pie chart
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/sectors/show.html.erb
Labels: tpi, cclow

add sedol to frontend, humanize_boolean helper
  app/helpers/application_helper.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
