Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Sort data
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/controllers/cclow/geography/legislations_controller.rb
Labels: none

hide unknown sections
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/views/cclow/geography/legislations/show.html.erb
Labels: cclow

fixing targets index page
  app/controllers/cclow/climate_targets_controller.rb
  app/views/cclow/climate_targets/index.html.erb
  app/views/cclow/geographies/show.html.erb
Labels: cclow

make targets index more nice looking
  app/controllers/cclow/climate_targets_controller.rb
  app/decorators/cclow/target_decorator.rb
  app/models/target.rb
  app/views/cclow/climate_targets/index.html.erb
Labels: cclow

set routing based on path
  config/routes.rb
Labels: none

more concise metadata files
  app/models/cclow_map_context_data.rb
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
  map_data/cumalitive_weather_idp_per_country_2008--2018.yml
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.yml
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.yml
Labels: none

Getting targets routing right
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/decorators/cclow/target_decorator.rb
  app/views/cclow/geography/climate_targets/show.html.erb
Labels: cclow

small style changes
  app/assets/stylesheets/cclow/_world-map.scss
Labels: none

tooltip style changes
  app/assets/stylesheets/cclow/_world-map.scss
Labels: none

a little more routing
  config/routes.rb
Labels: none

better number formatting, use proper color ramps
  app/javascript/components/world-map/MapLegend.js
  app/javascript/components/world-map/MapTooltip.js
  app/javascript/components/world-map/helpers.js
  app/javascript/components/world-map/world-map.hooks.js
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
  map_data/cumalitive_weather_idp_per_country_2008--2018.yml
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.yml
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.yml
Labels: none

Add filter by geography to targets admin page
  app/admin/targets.rb
Labels: admin

rollback routing changes
  config/routes.rb
Labels: none

fix(cclw): missing icons
  app/assets/images/icons/world.svg
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/javascript/components/LawsDropdown.js
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_header.html.erb
Labels: cclow

map legend description
  app/javascript/components/world-map/MapLegend.js
  app/models/cclow_map_content_data.rb
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
  map_data/cumalitive_weather_idp_per_country_2008--2018.yml
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.yml
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.yml
Labels: none

render data source links in map legend
  app/javascript/components/world-map/MapLegend.js
  app/models/cclow_map_content_data.rb
Labels: none

Add links fixes icons
  app/assets/images/icons/official-building.svg
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_hero.scss
  app/controllers/cclow/home_controller.rb
  app/views/cclow/geographies/_overview.html.erb
  app/views/cclow/home/_hero.html.erb
Labels: cclow

Found the designs!
  app/decorators/cclow/target_decorator.rb
  app/views/cclow/climate_targets/index.html.erb
Labels: cclow

Don't forget the published scope
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/services/api/latest_additions.rb
Labels: none

fix the broke
  app/decorators/cclow/litigation_decorator.rb
Labels: cclow

Enable managing source of Targets
  app/admin/targets.rb
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/models/target.rb
  app/services/csv_import/targets.rb
  app/views/admin/targets/_form.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  db/migrate/20191208233512_add_source_to_targets.rb
  db/schema.rb
  db/seeds/laws_migration/targets.csv
Labels: cclow, admin

Sort the targets display
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/views/cclow/geography/climate_targets/index.html.erb
Labels: cclow

add map to country page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_map.scss
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.reducer.js
  app/views/cclow/geographies/_map.html.erb
  app/views/cclow/geographies/show.html.erb
Labels: cclow

link to policy or law
  app/views/cclow/geography/climate_targets/index.html.erb
Labels: cclow

preserve bubble size
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
Labels: none

Getting more links between targets and laws
  app/services/csv_import/targets.rb
  app/services/seed/cclow_data.rb
Labels: none

some more published scopes
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geographies/show.html.erb
Labels: cclow

highlight active geography
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
Labels: none

wrong scope
  app/views/cclow/geographies/show.html.erb
Labels: cclow

active geographies should be last ones, to show the whole border
  app/javascript/components/world-map/WorldMap.js
Labels: none

routes constraints
  config/routes.rb
Labels: none

Fix domain for transition
  config/routes.rb
Labels: none

fix typo
  app/controllers/cclow/legislation_and_policies_controller.rb
Labels: none

No scope when finding by id
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
Labels: none

some litigations don't have a geography, don't crash
  app/decorators/cclow/litigation_decorator.rb
  app/views/cclow/litigation_cases/_list_item.html.erb
Labels: cclow

get me my hero unit please
  app/views/layouts/cclow.html.erb
Labels: none

bug fix
  app/assets/stylesheets/cclow/_colors.scss
Labels: none

Fix numbers in search and fix links in numbers
  app/assets/stylesheets/cclow/_hero.scss
  app/controllers/concerns/cclow/search_controller.rb
  app/views/cclow/home/_hero.html.erb
Labels: cclow

map fix issues with context data, use ckmeans to create better buckets
  app/javascript/components/world-map/world-map.hooks.js
  app/models/cclow_map_context_data.rb
  package.json
  yarn.lock
Labels: none

unhook number of displaced people, number of litigation cases
  app/models/cclow_map_content_data.rb
  app/models/cclow_map_context_data.rb
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
