Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Add text on tooltip for no targets
  app/javascript/components/tpi/charts/cp-performance/Tooltip.js
  app/javascript/components/tpi/charts/cp-performance/options.js
Labels: none

feat: Adding Beta scores to methodology version of 5
  app/assets/images/icons/trending-down.svg
  app/assets/images/icons/trending-up.svg
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_mixins.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/bubble/CompaniesAccordion.js
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/mq_assessments.rb
  app/services/seed/tpi_data.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/sectors/index.html.erb
  config/locales/en.yml
  db/seeds/tpi/mq-assessments-M5.csv
Labels: tpi, cclow

feat: Enable to switch between MQ Beta scores and not
  app/admin/companies.rb
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/mq_assessments_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/decorators/company_decorator.rb
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
  app/models/concerns/tpi_cache.rb
  app/services/api/charts/sector.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
  config/routes.rb
Labels: tpi, cclow, admin

test: Fix of all broken tests
  app/services/api/charts/sector.rb
  db/test-dump.psql
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Labels: none

test: New tests for MQ Beta score feature
  app/services/api/charts/sector.rb
  spec/controllers/tpi/mq_assessments_controller_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_mq_assessments_methodology_5_beta_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_mq_assessments_methodology_5_beta_csv.json
  spec/models/company_spec.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/mq_assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Labels: none

Add modal for mq methodology
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/mq-beta-modal.scss
  app/javascript/components/tpi/Modal.js
  app/javascript/components/tpi/MqBetaModal.jsx
  app/views/tpi/shared/_mq_beta_scores.html.erb
  package.json
  yarn.lock
Labels: tpi

fix: Api::Charts::Sector service takes enable_beta_mq_assessments from session
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

Show level 5 on accordion and change 5 to 5 beta labels
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/mq-level/options.js
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
Labels: none

Render modal only once. Fix mobile styles
  app/assets/stylesheets/tpi/mq-beta-modal.scss
  app/views/tpi/companies/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi

Fix X button and add do not show again button
  app/javascript/components/tpi/MqBetaModal.jsx
Labels: none

Fix tests
  spec/support/capybara_helpers.rb
Labels: none

Render modal in sectors and companies
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

refactoring: Sector mean description is different for Bank category
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  spec/services/api/charts/cp_assessment_spec.rb
Labels: tpi

Fix max level
  app/javascript/components/tpi/charts/mq-level/options.js
Labels: none

Rename matrix table legend label
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Labels: none

Add local storage variable to limit modal appearances
  app/javascript/components/tpi/MqBetaModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

Fix max level on the chart depending on data
  app/javascript/components/tpi/charts/mq-level/options.js
Labels: none

Change separator styles and paddings
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi

Update download button labels
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

Change weight to normal in unselected button
  app/assets/stylesheets/tpi/pages/sectors-index.scss
Labels: none

Add focus on the Proceed button on render
  app/javascript/components/tpi/MqBetaModal.jsx
Labels: none

chore: update of Puma
  Gemfile
  Gemfile.lock
Labels: none

Updates to the modal text
  app/javascript/components/tpi/MqBetaModal.jsx
Labels: none

Fix borders
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
Labels: none

Update labels
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi

Reduce size of bubbles to 50%
  app/javascript/components/tpi/charts/bubble/SingleCell.js
Labels: none

Adjust bar chart levels
  app/assets/stylesheets/tpi/pages/sector.scss
Labels: none

fix: Max level of MQ Assessments chart depends on selected assessments
  app/controllers/tpi/mq_assessments_controller.rb
  app/javascript/components/tpi/charts/mq-level/options.js
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  spec/services/api/charts/mq_assessment_spec.rb
Labels: tpi, cclow

feat: Highlight also individual questions on different levels of MQ assessment
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/mq/assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/sectors/index.html.erb
  db/seeds/tpi/mq-assessments-M5.csv
  db/test-dump.psql
  spec/models/company_spec.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/mq_assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Labels: tpi

chore: minor update of Rails
  Gemfile.lock
Labels: none

Improve beta question style
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/_mq_assessment.html.erb
Labels: tpi

FIx responsive
  app/assets/stylesheets/tpi/pages/company.scss
Labels: none

Change BETA color and add border to circle in button
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
Labels: none

Fix bars line-height. Add black background
  app/assets/stylesheets/tpi/_mixins.scss
  app/assets/stylesheets/tpi/pages/sector.scss
Labels: none

Update line padding
  app/assets/stylesheets/tpi/pages/sector.scss
Labels: none

feat: Support 5STAR level
  app/assets/images/icons/star.svg
  app/models/mq/assessment.rb
Labels: none

Add feature tag to show the entry to beta data
  .env.sample
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi

Add env variable to tests github action
  .github/workflows/tests.yml
Labels: none

refactoring: Hide Company_Latest_Assessments_BETA_5.0.csv
  app/controllers/concerns/tpi/user_download.rb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi

Update buttons design
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
