Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Revert "remove database cleaner, use before_all"
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
Labels: none

Add Full text search indexes for optimization
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  config/application.rb
  db/migrate/20210204142212_add_ts_vector_columns.rb
  db/schema.rb
  db/structure.sql
Labels: none

security update
  Gemfile.lock
Labels: none

fix structure.sql
  db/structure.sql
Labels: none

gh test workflow - change to structure load
  .github/workflows/tests.yml
Labels: none

remove deprecation warning
  app/admin/admin_users.rb
  app/admin/companies.rb
  app/admin/data_uploads.rb
  app/admin/events.rb
  app/admin/external_legislations.rb
  app/admin/governance.rb
  app/admin/governance_types.rb
  app/admin/instrument.rb
  app/admin/instrument_types.rb
  app/admin/laws_sectors.rb
  app/admin/news_article.rb
  app/admin/publication.rb
  app/admin/testimonials.rb
  app/commands/command/csv_data_upload.rb
  app/validators/date_after_validator.rb
  app/validators/url_validator.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/admin/cp_benchmarks/_form.html.erb
  app/views/admin/geographies/_form.html.erb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/mq_assessments/_form.html.erb
  app/views/admin/pages/_form.html.erb
  app/views/admin/targets/_form.html.erb
  app/views/admin/tpi_sectors/_form.html.erb
  config/application.rb
Labels: admin

upgrade rails yarn dependecies
  yarn.lock
Labels: none

fix linter
  config.ru
Labels: none

upgrade to rails 6.1
  Gemfile
  Gemfile.lock
  bin/rails
  bin/rake
  bin/setup
  bin/spring
  bin/yarn
  config.ru
  config/boot.rb
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/backtrace_silencers.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_6_1.rb
  config/initializers/permissions_policy.rb
  config/puma.rb
  db/migrate/20210129140030_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20210129140031_create_active_storage_variant_records.active_storage.rb
  db/schema.rb
Labels: none

fix tests
  spec/rails_helper.rb
  spec/support/test_files.rb
Labels: none

regenerate db/test-dump
  db/test-dump.psql
Labels: none

regenerate db dump
  db/test-dump.psql
Labels: none

bundle update
  Gemfile.lock
Labels: none

upgrade js dependencies
  yarn.lock
Labels: none

fix full text indices to ignore accents
  db/migrate/20210204142212_add_ts_vector_columns.rb
  db/structure.sql
  db/test-dump.psql
Labels: none

fix structure.sql
  db/structure.sql
Labels: none

fix date format for mq chart when there is one entry only
  app/javascript/components/charts/mq-level/options.js
Labels: none

modify characters fix tasks to allow for model whitelist
  lib/tasks/fix.rake
Labels: none

fix unicode characters when importing
  .rubocop.yml
  app/services/concerns/csv_importer.rb
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/base_importer.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/documents.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/helpers/cached_collections.rb
  app/services/csv_import/helpers/emissions.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigation_sides.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/news_articles.rb
  app/services/csv_import/targets.rb
  lib/tasks/fix.rake
  lib/unicode_fixer.rb
  spec/commands/csv_data_upload_spec.rb
  spec/lib/unicode_fixer_spec.rb
Labels: none

quick tpi sectors page cache
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/concerns/tpi_cache.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/models/mq/assessment.rb
  app/models/tpi_sector.rb
Labels: tpi, cclow

remove register page
  app/controllers/tpi/home_controller.rb
  app/javascript/components/Navbar.js
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/register.html.erb
  app/views/tpi/sitemaps/index.xml.erb
  config/routes.rb
Labels: tpi, cclow

fix bug with cp assessmenets last reported year nil
  app/models/cp/assessment.rb
  app/services/api/charts/cp_assessment.rb
  spec/models/cp/assessment_spec.rb
Labels: none

run security job every day
  .github/workflows/security.yml
Labels: none

enable external laws upload, little refactoring
  app/admin/external_legislations.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  app/decorators/external_legislation_decorator.rb
  app/models/data_upload.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
  config/application.rb
Labels: admin

updating bundle and fixing offenses
  Gemfile.lock
  app/decorators/document_decorator.rb
  app/decorators/event_decorator.rb
  app/decorators/geography_decorator.rb
  app/decorators/legislation_decorator.rb
  app/decorators/litigation_decorator.rb
  app/models/application_record.rb
  app/services/queries/cclow/litigation_query.rb
  lib/tasks/static_pages.rake
Labels: none

update model annotations
  app/models/content.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  spec/factories/contents.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/factories/targets.rb
  spec/models/content_spec.rb
  spec/models/legislation_spec.rb
  spec/models/litigation_spec.rb
  spec/models/target_spec.rb
Labels: none

add orderable feature
  Gemfile
  Gemfile.lock
  app/admin/content.rb
  app/admin/page.rb
  app/assets/stylesheets/admin/base.scss
  app/javascript/admin/utils/index.js
  app/javascript/admin/utils/orderable.js
  app/models/content.rb
  app/models/page.rb
  config/initializers/active_admin.rb
  db/migrate/20210305132256_add_position_to_content.rb
  db/structure.sql
  lib/extensions/active_admin/active_admin_orderable.rb
Labels: admin

update test-dump
  db/test-dump.psql
Labels: none

move rake specific when there is a need for this - rspec
  spec/rails_helper.rb
Labels: none

making specs faster
  app/models/tpi_sector.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/cp_assessments_controller_spec.rb
  spec/controllers/admin/geographies_controller_spec.rb
  spec/controllers/admin/instrument_controller_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/controllers/admin/mq_assessments_controller_spec.rb
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/factories/companies.rb
  spec/factories/cp_assessment.rb
  spec/factories/geographies.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/factories/mq_assessments.rb
  spec/factories/news_articles.rb
  spec/factories/targets.rb
  spec/models/company_spec.rb
  spec/models/cp/assessment_spec.rb
  spec/models/mq/assessment_spec.rb
  spec/rails_helper.rb
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Labels: none

more reliable tests
  Gemfile
  Gemfile.lock
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/fixtures/snapshots/cclow_climate_targets_controller_csv.json
  spec/fixtures/snapshots/cclow_legislation_and_policies_controller_csv.json
  spec/fixtures/snapshots/cclow_litigation_cases_controller_csv.json
  spec/rails_helper.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
  spec/snapshots/cclow_climate_targets_controller_csv.snap
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Labels: none

fix flaky tests, before_all and let_it_be does not work with async queue adapters
  config/environments/test.rb
  spec/rails_helper.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
  spec/spec_helper.rb
Labels: none

fix user export flaky tests
  app/services/csv_export/user/helpers.rb
Labels: none

undo order
  app/services/csv_export/user/helpers.rb
Labels: none

npm cache seems like not working
  .github/workflows/linters.yml
  .github/workflows/tests.yml
Labels: none

missing factories and specs
  app/admin/page.rb
  app/helpers/resource_attributes.rb
  app/models/content.rb
  app/models/page.rb
  spec/controllers/admin/cclow_pages_controller_spec.rb
  spec/controllers/admin/tpi_pages_controller_spec.rb
  spec/factories/contents.rb
  spec/factories/images.rb
  spec/models/content_spec.rb
Labels: admin

retry just in case
  Gemfile
  Gemfile.lock
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/spec_helper.rb
Labels: none

orderable css changes
  app/assets/stylesheets/active_admin.scss
  app/assets/stylesheets/admin/base.scss
  app/assets/stylesheets/admin/orderable.scss
Labels: none

add created at filters
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/services/csv_import/legislations.rb
Labels: admin

changes for cp alignment
  app/javascript/components/charts/cp-performance-all-sectors/options.js
  app/models/cp/alignment.rb
  app/services/csv_import/cp_assessments.rb
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Labels: none
