Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

add bank assessment indicators to admin panel
  app/admin/bank_assessment_indicators.rb
Labels: admin

first version of bank average score on banking tool index page
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/charts/bank-average-score.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/average-bank-score/Chart.js
  app/javascript/components/tpi/charts/average-bank-score/index.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
  app/models/bank_assessment_result.rb
  app/services/api/charts/average_bank_score.rb
  app/views/tpi/banks/index.html.erb
  config/routes.rb
Labels: tpi, cclow

refactor see more/less buttons
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/show.html.erb
Labels: tpi

fix double lines
  app/assets/stylesheets/tpi/pages/bank.scss
Labels: none

fix bank assessment for mobile and tablet
  app/assets/stylesheets/tpi/pages/bank.scss
Labels: none

add area value progress bar
  app/assets/stylesheets/tpi/pages/bank.scss
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/show.html.erb
Labels: tpi, cclow

add simple tooltip for average and max value
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
Labels: tpi

fix bank assessment indicators order
  app/assets/stylesheets/tpi/pages/bank.scss
  app/models/bank_assessment.rb
Labels: none

update packages
  Gemfile.lock
Labels: none

fix brakeman warning
  app/views/tpi/banks/show.html.erb
Labels: tpi

remove multipart limit
  config/initializers/multipart_part_limit.rb
Labels: none

more changes to bank assessment page
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/RemoteDropdown.js
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_result.rb
  app/presenters/tpi/bank_assessment_presenter.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/assessment.js.erb
  app/views/tpi/banks/show.html.erb
  config/routes.rb
Labels: tpi, cclow

remove border radius from all buttons
  app/assets/stylesheets/tpi/buttons.scss
Labels: none

add banks bubble chart
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/bank-bubble/SingleCell.js
  app/javascript/components/tpi/charts/bank-bubble/index.js
  app/views/tpi/banks/index.html.erb
Labels: tpi, cclow

fix specs
  spec/system/public/tpi/company_spec.rb
Labels: none

fix nested blue dropdown, add All banks option
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/BankDropdown.js
  app/javascript/components/tpi/RemoteDropdown.js
  app/models/bank.rb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
Labels: tpi, cclow

simplify layout
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/show.html.erb
Labels: tpi

quick temp solution to display percentage without gauge
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_indicators.html.erb
Labels: tpi

more polishing
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/average-bank-score/options.js
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/models/bank_assessment_indicator.rb
  app/services/api/charts/average_bank_score.rb
Labels: tpi, cclow

polishing tpi banking tools index page
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/views/tpi/banks/_index_assessment.js.erb
  app/views/tpi/banks/_index_charts.html.erb
  app/views/tpi/banks/index.html.erb
  config/routes.rb
Labels: tpi, cclow

do not show banking tool if there are no assessments, add more example data
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/services/csv_import/bank_assessments.rb
  app/views/layouts/tpi/_header.html.erb
  db/seeds/tpi/bank_assessment_indicators.csv
  db/seeds/tpi/bank_assessments.csv
  db/seeds/tpi/banks.csv
  spec/models/bank_assessment_spec.rb
Labels: tpi, cclow

format number for average bank score chart
  app/javascript/components/tpi/charts/average-bank-score/options.js
Labels: none

fix vulnerabilities
  Gemfile
  Gemfile.lock
Labels: none

update bubble chart tooltip styles and bank assessment percentage bar
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/Chart.js
Labels: none

add new average, max score indicators styles
  app/assets/stylesheets/tpi/pages/bank.scss
  app/helpers/application_helper.rb
  app/views/tpi/banks/_assessment.html.erb
Labels: tpi

add tooltip for indicator percentage
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
Labels: tpi

add example tooltip descriptions
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  app/views/tpi/companies/show.html.erb
  config/locales/controllers.en.yml
  config/locales/en.yml
Labels: tpi

add number with precision for max and average score on bank page
  app/views/tpi/banks/_assessment.html.erb
Labels: tpi

tpi banking tool - update admin
  app/admin/bank_assessment_indicators.rb
  app/admin/bank_assessments.rb
  app/models/data_upload.rb
  lib/extensions/active_admin/active_admin_csv_download.rb
Labels: admin

fix tooltip for sectors bubble
  app/javascript/components/tpi/charts/bubble/Chart.js
Labels: none

small feedback
  app/assets/images/icons/chevron-gray.svg
  app/assets/stylesheets/tpi/pages/bank.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/tpi/BankDropdown.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
Labels: none

add publications and news section for banks - not sure what to show there yet
  app/assets/stylesheets/tpi/_publications.scss
  app/controllers/tpi/banks_controller.rb
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/services/seed/tpi_data.rb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/search/index.html.erb
  app/views/tpi/sectors/show.html.erb
  db/test-dump.psql
Labels: tpi, cclow

simple system specs for banking tool
  app/services/api/charts/average_bank_score.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/banking_tool_spec.rb
  spec/system/public/tpi/company_spec.rb
Labels: none

add quick question legend
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/banking-question-legend.scss
  app/javascript/components/tpi/BankingQuestionLegend.js
  app/javascript/components/tpi/Testimonials.js
  app/javascript/shared/hooks/index.js
  app/javascript/shared/hooks/use-interval.js
  app/views/tpi/banks/_assessment.html.erb
Labels: tpi

annotate models
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_indicator.rb
  app/models/bank_assessment_result.rb
  app/models/theme.rb
  spec/factories/bank_assessments.rb
  spec/factories/banks.rb
  spec/factories/data_uploads.rb
  spec/factories/themes.rb
  spec/models/bank_assessment_spec.rb
  spec/models/bank_spec.rb
  spec/models/theme_spec.rb
Labels: none

latest information box refactor
  app/javascript/components/tpi/LatestInformation.js
  app/views/tpi/companies/show.html.erb
Labels: tpi

change max value for average bank score
  app/javascript/components/tpi/charts/average-bank-score/options.js
Labels: none

complete CompaniesAccordion for bank sector - v1
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/bank-bubble/constants.js
  app/views/tpi/banks/_index_charts.html.erb
Labels: tpi

add latest information for banks
  app/admin/banks.rb
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_latest-information.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/bank.rb
  app/services/csv_import/banks.rb
  app/views/tpi/banks/show.html.erb
  db/migrate/20220719121521_add_latest_information_to_banks.rb
  db/seeds/tpi/banks.csv
  db/structure.sql
  db/test-dump.psql
  spec/factories/banks.rb
  spec/models/bank_spec.rb
  spec/system/public/tpi/banking_tool_spec.rb
Labels: tpi, admin

update bank data indicators
  db/seeds/tpi/bank_assessment_indicators.csv
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
