Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

add cait emissions data
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_MtCO2e_2016.csv
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_MtCO2e_2016.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_MtCO2e_2016.yml
Labels: none

base importer: add rollback_on_error option, default to false
  app/commands/command/csv_data_upload.rb
  app/services/csv_import/base_importer.rb
  spec/commands/csv_data_upload_spec.rb
Labels: none

replaced validation with removing optional
  app/models/litigation.rb
Labels: none

Fix map tooltips behaviors
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapTooltip.js
  app/javascript/components/world-map/ReactMapTooltip.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/constants.js
  app/javascript/components/world-map/world-map.hooks.js
  app/javascript/components/world-map/world-map.reducer.js
Labels: none

Import bulma specific css styles
  app/assets/stylesheets/cclow.scss
Labels: none

Remove duplicate ReactMapTooltip file
  app/javascript/components/world-map/MapTooltip.js
  app/javascript/components/world-map/ReactMapTooltip.js
  app/javascript/components/world-map/WorldMap.js
Labels: none

Updated javascript dependencies
  yarn.lock
Labels: none

fix brakeman warnings, update yarn.lock - not sure why
  app/controllers/cclow/geography/litigation_cases_controller.rb
  config/brakeman.ignore
  yarn.lock
Labels: none

Remove the margin-top from the composable map and center it accordingly instead
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/world-map.reducer.js
Labels: none

fix companies/sectors dropdown no results message
  app/javascript/components/DropdownSelector.js
Labels: none

sort laws and policies by last event date
  app/controllers/cclow/legislation_and_policies_controller.rb
Labels: none

Put aggregation EU button into selectors container, add max-width to map dropdowns
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
Labels: none

add cp units migration
  app/models/cp/unit.rb
  app/models/tpi_sector.rb
  app/services/seed/tpi_data.rb
  db/migrate/20200128123316_create_cp_units.rb
  db/schema.rb
Labels: none

add styles for youtube-video and add youtube for page desc and news
  app/admin/news_article.rb
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/common/youtube.scss
  app/assets/stylesheets/tpi.scss
  app/views/admin/pages/_form.html.erb
Labels: admin

remove extra changes
  db/schema.rb
Labels: none

use different cut off date then default one when parsing two digit year
  app/services/csv_import/date_utils.rb
Labels: none

add cp_units to tpi_sectors admin page
  app/admin/tpi_sectors.rb
  app/decorators/tpi_sector_decorator.rb
  app/models/cp/unit.rb
  app/models/tpi_sector.rb
  app/views/admin/tpi_sectors/_cp_unit_fields.html.erb
  app/views/admin/tpi_sectors/_form.html.erb
Labels: admin

add specs for cp units, fix order
  app/admin/tpi_sectors.rb
  app/decorators/tpi_sector_decorator.rb
  app/models/cp/unit.rb
  app/models/tpi_sector.rb
  spec/controllers/admin/tpi_sectors_controller_spec.rb
  spec/factories/cp_unit.rb
Labels: admin

replace sector cp unit with cp unit by date
  app/models/tpi_sector.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/sectors/show.html.erb
  spec/models/tpi_sector_spec.rb
Labels: tpi

little refactor
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi, cclow

remove tpi user download duplication
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

sort order by name on admin TPI Sectors
  app/admin/tpi_sectors.rb
Labels: admin

Add button to edit data for logged in users
  app/assets/images/icons/edit-icon.svg
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_edit-button.scss
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/application_controller.rb
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/ManageDataButton.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/views/cclow/cclow/_manage_data.html.erb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/show.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/cclow/geography/legislations/index.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

Add rel attribute to link_to helper for better security
  app/views/cclow/cclow/_manage_data.html.erb
Labels: cclow

fix db reset
  app/services/seed/tpi_data.rb
Labels: none

bug fix
  app/admin/companies.rb
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow, admin

remove extra changes
  db/schema.rb
Labels: none

Removed discardable controller as these are properly deletable.
  app/admin/news_article.rb
  app/admin/publication.rb
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/controllers/admin/publications_controller_spec.rb
Labels: admin

Don't show future publications and articles
  app/services/queries/tpi/news_publications_query.rb
Labels: none

Add filtering by side a|b|c party type to litigations page
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
Labels: none

Rename Side A|B|C filter labels to Side A|B|C name
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

reposition filters
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

fix hero unit for desktop and mobile
  app/assets/images/homepage/homepage_pattern.svg
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/views/tpi/home/index.html.erb
  config/routes.rb
Labels: tpi

expose rails server to internal network
  package.json
Labels: none

small balls height fix
  app/assets/stylesheets/tpi/_hero.scss
Labels: none

Adds validation for publication date on news articles and ignores if its nil, so it doesn't crash
  app/controllers/tpi/home_controller.rb
  app/models/news_article.rb
  app/services/queries/tpi/news_publications_query.rb
  spec/controllers/tpi/home_controller_spec.rb
Labels: tpi, cclow

update brakeman.ignore
  config/brakeman.ignore
Labels: none

show only active companies on the pie chart
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi, cclow

code refactor
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi, cclow

move cp all sectors chart to js
  app/assets/stylesheets/tpi/_charts.scss
  app/helpers/chart_helper.rb
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/javascript/packs/cclow.js
  app/javascript/packs/tpi.js
  app/views/tpi/sectors/index.html.erb
  package.json
  yarn.lock
Labels: tpi
