Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

track activity log (Companies/Geographies) via paper_trail
  Gemfile
  Gemfile.lock
  app/admin/activity_log.rb
  app/controllers/application_controller.rb
  app/models/company.rb
  app/models/geography.rb
  db/migrate/20191115134208_create_versions.rb
  db/schema.rb
Labels: admin

Updates script to fetch flags from new source
  Gemfile
  Gemfile.lock
  README.md
  lib/tasks/flags.rake
  package.json
  yarn.lock
Labels: none

track activity log (Legislations, Targets) via logidze
  Gemfile
  Gemfile.lock
  app/admin/activity_log.rb
  app/controllers/application_controller.rb
  app/models/legislation.rb
  app/models/target.rb
  config/application.rb
  config/database.yml
  db/migrate/20191115170554_logidze_install.rb
  db/migrate/20191115170555_enable_hstore.rb
  db/migrate/20191115173122_add_logidze_to_legislations.rb
  db/migrate/20191115205950_add_logidze_to_targets.rb
  db/schema.rb
Labels: admin

track object changes in paper_trail
  app/admin/activity_log.rb
  app/controllers/application_controller.rb
  config/database.yml
  db/migrate/20191115221338_add_object_changes_to_versions.rb
Labels: admin

changes for rubocop and code quality
  Gemfile
  lib/tasks/flags.rake
Labels: none

fix flags for which we have troubles to find iso3 code
  app/assets/images/flags/EUR.svg
  app/assets/images/flags/XKX.svg
  lib/country_iso_mapper.rb
  lib/tasks/flags.rake
Labels: none

use latest_ as has_one relation
  app/admin/companies.rb
  app/models/company.rb
  app/services/api/charts/cp_benchmark.rb
  app/services/api/charts/sector.rb
Labels: admin

fix some cases for nil level
  app/services/api/charts/sector.rb
Labels: none

fix charts for 4STAR level, add tests
  app/services/api/charts/sector.rb
  spec/services/api/charts/sector_spec.rb
Labels: none

simplify a little bit
  app/services/api/charts/sector.rb
Labels: none

add input styles, tweaks to position mq level
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_inputs.scss
  app/assets/stylesheets/tpi/_mixins.scss
  app/views/tpi/companies/_mq_level.html.erb
  app/views/tpi/companies/_mq_level_trend.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/home/sandbox.html.erb
Labels: tpi

add tooltips for company show page
  app/assets/stylesheets/tpi/_base-tooltip.scss
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/BaseTooltip.js
  app/javascript/components/BubbleChart.js
  app/views/tpi/companies/_company_property.html.erb
  app/views/tpi/companies/show.html.erb
  config/locales/controllers.en.yml
Labels: tpi

fix cp emission charts, use integers instead of string for a year
  app/javascript/components/BubbleChart.js
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

fix tests
  spec/services/api/charts/cp_assessment_spec.rb
Labels: none

add hero section
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/assets/stylesheets/cclow/layout.scss
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow.html.erb
Labels: cclow

Make the search matching more accurate by setting threshold
  app/javascript/components/DropdownSelector.js
Labels: none

Add dropdown selector
  app/assets/images/icons/white-chevron-down.svg
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/DropdownSelector.js
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  package.json
  yarn.lock
Labels: tpi, cclow

Fix placeholder text and rubocop warnings
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/DropdownSelector.js
Labels: tpi, cclow

Move shared pixels to variables - dropdown
  app/assets/stylesheets/tpi/_dropdown-selector.scss
Labels: none

Dropdown improvement * Focus the input on opening the dropdown * On hitting escape, close dropdown * On click outside the search container, close dropdown * Fix dropdown width
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/javascript/components/DropdownSelector.js
Labels: none

Fix No Results container style and add enter functionality
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/javascript/components/DropdownSelector.js
Labels: none

Re-filter options with search input filled when changing filters
  app/javascript/components/DropdownSelector.js
Labels: none

Keep default filter in the page's context
  app/javascript/components/DropdownSelector.js
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

Set default filter to 'sector'
  app/javascript/components/DropdownSelector.js
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

track activity log (Litigations) via public_activity
  Gemfile
  Gemfile.lock
  app/admin/activity_log.rb
  app/models/concerns/public_activity_trackable.rb
  app/models/litigation.rb
  db/migrate/20191118124313_create_activities.rb
  spec/controllers/admin/litigations_controller_spec.rb
Labels: admin

Add quote change mechanism
  app/assets/stylesheets/tpi/_testimonials.scss
  app/controllers/tpi/home_controller.rb
  app/javascript/components/TestimonialSlider.js
  app/javascript/components/Testimonials.js
  app/views/tpi/home/_testimonials.html.erb
Labels: tpi, cclow

feature(tpi: testimonials): add testimonials scaffold properly styled as spec'd
  app/assets/images/quote.svg
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_testimonials.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/javascript/components/TestimonialSlider.js
  app/views/tpi/home/_testimonials.html.erb
Labels: tpi

add footer
  app/assets/images/cclow/footer.svg
  app/assets/stylesheets/cclow/_variables.scss
  app/assets/stylesheets/cclow/layout.scss
  app/views/layouts/cclow.html.erb
  app/views/layouts/cclow/_footer.html.erb
Labels: none

add margin to footer
  app/assets/stylesheets/cclow/layout.scss
Labels: none

Changing filters should open the dropdown
  app/javascript/components/DropdownSelector.js
Labels: none

Adds international flag
  app/assets/images/flags/WW.svg
Labels: none

Adds batch actions for litigations
  app/admin/litigations.rb
  spec/controllers/admin/litigations_controller_spec.rb
Labels: admin

Adds publish batch action for legislations
  app/admin/legislations.rb
  app/commands/command/batch/publish.rb
  spec/controllers/admin/legislations_controller_spec.rb
Labels: admin

adds publish batch action to litigations
  app/admin/litigations.rb
  spec/controllers/admin/litigations_controller_spec.rb
Labels: admin

Adds batch actions to the targets index page
  app/admin/targets.rb
  spec/controllers/admin/targets_controller_spec.rb
Labels: admin

setting up production deploy files for cap
  config/deploy.rb
  config/deploy/production.rb
  config/deploy/staging.rb
Labels: none

fix rubocop offense
  app/admin/litigations.rb
Labels: admin

single quotes as no interpolation
  config/deploy/production.rb
  config/deploy/staging.rb
Labels: none

Use first visibility status otherwise randomness can cause specs to fail
  spec/factories/litigations.rb
Labels: none

updating bundle
  Gemfile.lock
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
