Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Update introduction and auto metric: Banking
  app/services/seed/tpi_data.rb
  app/views/tpi/banks/index.html.erb
Labels: tpi

Not show non-assessable graphs: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi

Make partial comparison for not assessable: banking
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi

Check assessmentable against matrix values: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi

Show the 3 logos on mobile view
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
Labels: none

Change CP graph of bank dinamically with assessment date: banking
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/_cp_assessments_content.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
Labels: tpi, cclow

Show the 3 logos on mobile view
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
Labels: none

Update cp assessment upload: Banking
  app/admin/cp_assessments.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments2025.rb
Labels: admin

Update header converters: banking
  app/services/csv_import/bank_cp_assessments.rb
Labels: none

Accept year-suffixed headers in cp aligment upload: banking
  app/services/api/charts/cp_assessment.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments2025.rb
Labels: none

Darker gray for not assessable, graph exceptions: Banking
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/services/api/charts/cp_matrix.rb
  app/services/cp/display_overrides.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  config/cp_display_overrides.yml
Labels: tpi, cclow

Add sector normalizer and checker to avoid wrong sectos: Banking
  app/controllers/tpi/banks_controller.rb
  app/services/api/charts/cp_matrix.rb
  app/services/cp/display_overrides.rb
  app/services/cp/sector_normalizer.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi, cclow

Add sector's config: Banking
  config/cp_display_overrides.yml
  config/sector_aliases.yml
Labels: none

Fix local dev tools
  config/database.yml
  db/structure.sql
  docker-compose.yml
Labels: none

Update CP' matrix sector setting: Banking
  app/services/api/charts/cp_matrix.rb
  app/services/cp/sector_normalizer.rb
Labels: none

Add sector list depending on year: Banking
  app/services/api/charts/cp_matrix.rb
  lib/tasks/cp_export.rake
Labels: none

Change Electric for Electricity, matrix: Banking
  app/services/api/charts/cp_matrix.rb
  app/services/cp/sector_normalizer.rb
  config/sector_aliases.yml
Labels: none

Show column names based on year: banking
  app/services/api/charts/cp_matrix.rb
Labels: none

Update graphs names for Electric/Electricity: Banking
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi, cclow

Show message for cp matrix for banks without 2025 assessment: Banking
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/show.html.erb
Labels: tpi, cclow

Show NA only for 4th area: Banking
  app/views/tpi/banks/_assessment.html.erb
Labels: tpi

Break assesment tie when date collides: Banking
  app/views/tpi/banks/_assessment.html.erb
Labels: tpi

Add metrics for EP.1.b.i and EP.1.c.i: ASCOR
  app/views/tpi/ascor/_assessment_metrics.html.erb
Labels: tpi

Show empty areas if present: ASCOR
  app/helpers/ascor_helper.rb
  app/services/api/ascor/bubble_chart.rb
Labels: none

Add new area replacement for new EP 3: ASCOR
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
Labels: none

In country view, show EP3 before EP4: ASCOR
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

Show not-applicable for EP 3 for <= 2024: ASCOR
  app/helpers/ascor_helper.rb
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

Make not assessed tag in main view year-dependent: ASCOR
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/views/tpi/ascor/_bubble_chart.html.erb
Labels: tpi

Make end date of graph in ascor main dynamic: ASCOR
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/views/tpi/ascor/_emissions_chart.html.erb
Labels: tpi

Fix assessment date selectors: ASCOR
  app/controllers/tpi/ascor_controller.rb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/index_assessment.js.erb
  app/views/tpi/ascor/index_emissions_assessment.js.erb
Labels: tpi, cclow

Move graph to EP 3 in country view for >2024: ASCOR
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_assessment_indicators.html.erb
Labels: tpi

Show dynamic end year in detail graph for EP3: ASCOR
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
  app/views/tpi/ascor/_benchmarks_chart.html.erb
Labels: tpi

Order admin download of assessments: ASCOR
  app/admin/ascor/assessments.rb
Labels: admin

Order customer-facing ASCOR download: ASCOR
  app/services/csv_export/ascor/assessment_indicators.rb
  app/services/csv_export/ascor/assessments.rb
Labels: none

Use Not assessed string for <=2024 downloaded files, EP3: ASCOR
  app/admin/ascor/assessments.rb
  app/services/csv_export/ascor/assessments.rb
Labels: admin

Show different graphs for coal mining subsectors: Banking
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi, cclow

Coal mining graph showed: Banking
  app/controllers/tpi/banks_controller.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi, cclow

Don't show coal graph if no emissions: Banking
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi, cclow

Account for subsector in mean calculation: Banking
  app/services/api/charts/cp_assessment.rb
Labels: none

Account for subsector in mean calculation: Banking
  app/services/api/charts/cp_assessment.rb
Labels: none
