Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

small adjustments home
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

user download order cp benchmarks
  app/controllers/concerns/tpi/user_download.rb
Labels: none

fix styles for search results
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_search.scss
  app/controllers/tpi/search_controller.rb
  app/views/tpi/search/index.html.erb
Labels: tpi, cclow

Don't change unit if it exists
  app/services/seed/tpi_data.rb
Labels: none

more update on them styles
  app/assets/stylesheets/tpi/_search.scss
  app/views/tpi/search/index.html.erb
Labels: tpi

Include title for publications and news results
  app/views/tpi/search/index.html.erb
Labels: tpi

sort by titles
  app/controllers/tpi/search_controller.rb
Labels: tpi, cclow

uppss
  app/controllers/tpi/search_controller.rb
Labels: tpi, cclow

Remove base auth from TPI and Admin
  app/controllers/application_controller.rb
  app/controllers/cclow/cclow_controller.rb
Labels: none

Fixes the path from about and tpi tool
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/models/page.rb
Labels: none

Fixes some missing links
  app/javascript/components/Navbar.js
  app/views/layouts/_header.html.erb
Labels: none

Add filtering for publications and news articles
  app/assets/images/icons/filter-blue.svg
  app/assets/images/icons/filter-white.svg
  app/assets/stylesheets/tpi/_filters.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/views/tpi/publications/index.html.erb
  package.json
  yarn.lock
Labels: tpi, cclow

Add tags to publication cell
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi

Move filtering to helper function
  app/controllers/tpi/publications_controller.rb
Labels: tpi, cclow

fix open/close mobile menu
  app/javascript/components/Navbar.js
Labels: none

Adding social media tags
  app/views/layouts/tpi.html.erb
  public/tpi.jpg
Labels: none

updates supporters text
  app/views/tpi/home/index.html.erb
Labels: tpi

news and publications filter refactor
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/models/tag.rb
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/index.html.erb
  config/routes.rb
  spec/factories/publications.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
Labels: tpi, cclow

Fixes path to metadata image
  app/views/layouts/tpi.html.erb
  public/images/tpi.jpg
Labels: none

eslint configuration
  .eslintignore
  .eslintrc.yml
  app/javascript/packs/cclow.js
  app/javascript/packs/tpi.js
  config/webpack/environment.js
  package.json
  yarn.lock
Labels: none

using vizzuality config
  .eslintrc.yml
  package.json
  yarn.lock
Labels: none

ignore some rules for now
  .eslintrc.yml
Labels: none

do not fail on eslint
  config/webpack/environment.js
Labels: none

disable more rules and fix the rest of warnings/errors
  .eslintrc.yml
  app/javascript/admin/controllers/check_modified_controller.js
  app/javascript/admin/controllers/index.js
  app/javascript/admin/controllers/litigation_side_controller.js
  app/javascript/admin/controllers/nested_list_controller.js
  app/javascript/admin/controllers/tabs_controller.js
  app/javascript/admin/controllers/with_emission_table_form_controller.js
  app/javascript/admin/utils/fix_selected_list_positioning.js
  app/javascript/admin/utils/fix_user_menu_width.js
  app/javascript/admin/utils/gravatar.js
  app/javascript/components/BaseTooltip.js
  app/javascript/components/BubbleChart.js
  app/javascript/components/DropdownSelector.js
  app/javascript/components/EventsTimeline.js
  app/javascript/components/LawsDropdown.js
  app/javascript/components/Navbar.js
  app/javascript/components/SingleBubbleChart.js
  app/javascript/components/Testimonials.js
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.hooks.js
  app/javascript/components/world-map/world-map.reducer.js
  app/javascript/packs/admin.js
  app/javascript/packs/cclow.js
  app/javascript/packs/server_rendering.js
  app/javascript/packs/tpi.js
  app/javascript/shared/controllers/content_list_controller.js
  app/javascript/shared/controllers/index.js
  app/javascript/tpi/controllers/index.js
Labels: tpi, cclow, admin

Fix link on home
  app/views/tpi/home/index.html.erb
Labels: tpi

add lintstaged
  .huskyrc
  .lintstagedrc
  package.json
  yarn.lock
Labels: none

let it fails
  .lintstagedrc
Labels: none

add few more linting yarn commands
  package.json
Labels: none

Persist state of active options in react, fix filtering on backend
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/index.html.erb
Labels: tpi, cclow

Remove button's default outline
  app/assets/stylesheets/tpi/_filters.scss
Labels: none

fix slick carousel
  app/javascript/packs/cclow.js
Labels: none

fix deploys
  config/webpack/development.js
  config/webpack/environment.js
  config/webpack/plugins/eslint.js
  config/webpack/test.js
Labels: none

add buttons styles, better zoom in/out buttons for worldmap
  .eslintrc.yml
  app/assets/images/cclow/icons/minus.svg
  app/assets/images/cclow/icons/plus.svg
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_buttons.scss
  app/assets/stylesheets/cclow/_colors.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
  config/webpacker.yml
Labels: none

add cclow sandbox page
  app/assets/stylesheets/cclow/_buttons.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/controllers/cclow/home_controller.rb
  app/views/cclow/home/sandbox.html.erb
  config/routes.rb
Labels: cclow

create multiselect component
  app/javascript/components/EventsTimeline.js
  app/javascript/components/MultiSelect.js
Labels: none

Fixes specs to match implementation
  spec/services/queries/tpi/news_publications_query_spec.rb
Labels: none

Add react component scaffold for Publication filters
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_filters.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/views/tpi/publications/index.html.erb
Labels: tpi, cclow

Add filtering for publications and news articles
  app/assets/images/icons/filter-blue.svg
  app/assets/images/icons/filter-white.svg
  app/assets/stylesheets/tpi/_filters.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/views/tpi/publications/index.html.erb
  package.json
  yarn.lock
Labels: tpi, cclow

Add tags to publication cell
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi

Move filtering to helper function
  app/controllers/tpi/publications_controller.rb
Labels: tpi, cclow
