Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Rename columns of banking matrix
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/models/cp/portfolio.rb
  app/services/api/charts/cp_matrix.rb
Labels: none

ASCOR: fix targetting non-target last historical year
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Labels: none

Lint
  app/javascript/components/tpi/DownloadFormModal.jsx
  package.json
Labels: none

Add verficiation file
  public/google987385f60c859618.html
Labels: none

Change color of info button, corporates page
  app/assets/stylesheets/tpi/_base-tooltip.scss
Labels: none

ASCOR 1: No cursor, select a country
  app/assets/stylesheets/tpi/pages/ascor.scss
Labels: none

Use comma as thousands separator, CP & MQ
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
Labels: none

Hide 0 sector from dropdown
  app/javascript/components/tpi/DropdownSelector.js
Labels: none

Add missing gems
  Gemfile
  Gemfile.lock
Labels: none

Update banking mapping based on comments
  app/models/cp/portfolio.rb
  app/services/api/charts/cp_matrix.rb
Labels: none

Amend the download modal's error messages
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Ascor 2: show 2 decimals in labels, emissions
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Labels: none

Add show all/hide all button, Ascor
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

Revert ASCOR 1: continues line until end of last_historical_year
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi

ASCOR: fix targetting non-target last historical year
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Labels: none

Ascor 4: add thicker line for 0
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Labels: none

Ascor 3: add dash in following year from last historical year
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
Labels: none

Ascor 5: rename lending for income in country box detail
  app/views/tpi/ascor/_country_details.html.erb
Labels: tpi

Revert "Rename Bond Issuers by Transition Planning"
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

Revert "Copy text from bond issuers to cp & mq page"
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Download modal: increase limit and update tou link
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Lint
  app/javascript/components/tpi/DownloadFormModal.jsx
  package.json
Labels: none

Revert more options in CP & MQ download
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Amend the download modal's error messages
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Data download disclaimers
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/data_download_mailer.rb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/sectors/index.html.erb
Labels: tpi, cclow

Add acceptance tick in CP & MQ download
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Add options to pop-up download, CP & MQ
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Move checkbox in download to disclaimer text
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Download modal: increase limit and update tou link
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Increase default minLength in DownloadModal
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Increase default minLength in DownloadModal
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Add download pop-up to detail bank/company (ascor)
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/show.html.erb
Labels: tpi

Add test email for banking download
  app/controllers/tpi/banks_controller.rb
Labels: tpi, cclow

Send download based on the source of the Download modal
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

Fix typo in sectors DownloadModal
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Add missing routes for Download and revert test email
  app/controllers/tpi/banks_controller.rb
  config/routes.rb
Labels: tpi, cclow

Add download pop-up to detail bank/company (ascor)
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/show.html.erb
Labels: tpi

Add missing routes for Download and revert test email
  app/controllers/tpi/banks_controller.rb
  config/routes.rb
Labels: tpi, cclow

Send download based on the source of the Download modal
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

Fix typo in sectors DownloadModal
  app/views/tpi/sectors/index.html.erb
Labels: tpi

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
