Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Avoid crashing tracking activities index page
  app/decorators/public_activity/activity_decorator.rb
Labels: none

avoid crashing if no sector
  app/controllers/cclow/geography/climate_targets_controller.rb
Labels: none

Don't add sector to breadcrumbs if there's no sector
  app/controllers/cclow/geography/climate_targets_controller.rb
Labels: none

Fixing linking to targets from climate targets search
  app/decorators/cclow/target_decorator.rb
  config/routes.rb
Labels: cclow

Fix compare with source
  app/models/geography.rb
Labels: none

Fix typo in method name
  app/models/geography.rb
Labels: none

Don't try to count targets without source
  app/models/geography.rb
Labels: none

Enable editing source of a target
  app/admin/targets.rb
Labels: admin

Include this still even if no source set
  app/models/geography.rb
Labels: none

add filters for keywords, responses and frameworks
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
Labels: none

remove tag filter
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/target_query.rb
Labels: none

remove extra changes
  app/javascript/components/SearchFilter.js
Labels: none

move cp performance chart to React
  app/helpers/chart_helper.rb
  app/javascript/components/charts/CPPerformance.js
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

add missing filters to legislation page
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/services/queries/cclow/legislation_query.rb
Labels: none

hide the filter if there are no options
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

No need to include, just join
  app/services/queries/cclow/legislation_query.rb
Labels: none

react chartkick is not great, use highcharts react
  app/assets/stylesheets/tpi/_charts.scss
  app/javascript/components/charts/CPPerformance.js
  package.json
  yarn.lock
Labels: none

cp performance chart tooltip
  app/assets/stylesheets/tpi/_charts.scss
  app/javascript/components/charts/CPPerformance.js
Labels: none

disable marker in cp performance chart
  app/javascript/components/charts/CPPerformance.js
Labels: none

area series group under one DOM element to apply combined opacity
  app/assets/stylesheets/tpi/_charts.scss
  app/javascript/components/charts/CPPerformance.js
Labels: none

remove chart title and credits
  app/javascript/components/charts/CPPerformance.js
Labels: none

refactor
  app/javascript/components/charts/cp-performance-all-sectors/CPPerformanceAllSectors.js
  app/javascript/components/charts/cp-performance-all-sectors/helpers.js
  app/javascript/components/charts/cp-performance-all-sectors/index.js
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/LegendItem.js
  app/javascript/components/charts/cp-performance/Tooltip.js
  app/javascript/components/charts/cp-performance/helpers.js
  app/javascript/components/charts/cp-performance/index.js
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

move css files around for charts
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
Labels: none

cp charts line in legend and tooltips refactor
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/Tooltip.js
Labels: none

move groupAllAreaSeries to separate method
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/helpers.js
Labels: none

fix tooltip borders, and remove overflow hidden from the chart
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Labels: none

refactor tooltip styles
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/Tooltip.js
  package.json
  yarn.lock
Labels: none

remove react warnings, change style for xAxis crosshair
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/Tooltip.js
Labels: none

add companies to the chart button
  app/assets/images/icons/plus.svg
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
Labels: none

company chart selector
  app/assets/stylesheets/tpi/charts/chart-company-selector.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/ChartCompanySelector.js
Labels: none

company chart selector works, styles are missing though
  app/javascript/components/CheckList.js
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/ChartCompanySelector.js
  app/javascript/components/charts/cp-performance/CompanySelector.js
Labels: none

style chart selector component
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/chart-company-selector.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
Labels: none

sort litigation be event's date
  app/controllers/cclow/litigation_cases_controller.rb
Labels: none

handle click outside
  app/javascript/components/charts/cp-performance/CPPerformance.js
Labels: none

fix brakeman
  config/brakeman.ignore
Labels: none

company tag
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/CompanyTag.js
  app/javascript/components/charts/cp-performance/LegendItem.js
Labels: none

handle colors for legend items
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/CompanyTag.js
Labels: none

dark x
  app/assets/images/icons/dark-x.svg
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CompanyTag.js
Labels: none

apply changes button
  app/assets/stylesheets/tpi/charts/chart-company-selector.scss
  app/javascript/components/CheckList.js
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/CompanySelector.js
Labels: none

fix applying colors to legend items
  app/javascript/components/charts/cp-performance/CPPerformance.js
Labels: none
