Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

remove UK from the EU on the map
  app/javascript/components/world-map/constants.js
Labels: none

add external litigations count
  app/admin/geographies.rb
  app/views/admin/geographies/_form.html.erb
  db/migrate/20210316164558_add_external_litigations_count_to_geographies.rb
  db/structure.sql
Labels: admin

changes for external litigation cases count
  app/admin/geographies.rb
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/cclow/geography_overview_decorator.rb
  app/javascript/components/pages/cclow/List.js
  app/views/cclow/home/_hero.html.erb
Labels: cclow, admin

apply external litigations count on the map
  app/models/cclow_map_content_data.rb
Labels: none

update db dump
  db/test-dump.psql
  spec/system/public/tpi/company_spec.rb
Labels: none

fix jurisdiction nil bug
  app/controllers/concerns/cclow/filter_controller.rb
Labels: none

add support for UTF-8 BOM for excel
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/mq_assessments.rb
  app/services/csv_export/user/targets.rb
  app/services/csv_import/base_importer.rb
  config/initializers/active_admin.rb
Labels: none

add BOM tests
  spec/commands/csv_data_upload_spec.rb
Labels: none

better link to Sabin Center database
  app/javascript/components/pages/cclow/List.js
Labels: none

fix tests
  spec/controllers/admin/documents_controller_spec.rb
  spec/controllers/admin/events_controller_spec.rb
  spec/controllers/admin/litigation_sides_controller_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/rails_helper.rb
  spec/support/controller_helpers.rb
Labels: none

Add missing legislation export columns: parent_id, connected_litigation_ids, instruments, link
  app/admin/instrument_types.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/decorators/instrument_type_decorator.rb
  app/decorators/legislation_decorator.rb
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
Labels: admin

add import/export legislation governances
  app/admin/legislations.rb
  app/decorators/legislation_decorator.rb
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
Labels: admin

enable partial updates for legislation csv upload
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
  spec/spec_helper.rb
Labels: none

speed up csv export
  app/admin/companies.rb
  app/admin/legislations.rb
Labels: admin

update rails dependencies
  Gemfile.lock
Labels: none

update npm dependencies
  yarn.lock
Labels: none

remove jquery from cclow frontend, use tinyslider instead slick
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_latest-additions-slider.scss
  app/javascript/packs/cclow.js
  app/javascript/shared/controllers/cookies_consent_controller.js
  app/javascript/shared/controllers/slider_controller.js
  app/views/cclow/home/_latest_additions.html.erb
  app/views/layouts/cclow/_cookies_tooltip.html.erb
  package.json
  yarn.lock
Labels: cclow

remove jQuery from tpi pack
  app/javascript/packs/tpi.js
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/mq_assessment.js.erb
Labels: tpi

fix rendering cclow list pages
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
Labels: none

remove server rendering as is not needed
  app/javascript/packs/server_rendering.js
Labels: none

ignore brakeman warning
  config/brakeman.ignore
Labels: none

add data upload instruction stimulus controller
  app/admin/data_uploads.rb
  app/javascript/admin/controllers/upload_instructions_controller.js
  app/views/admin/data_uploads/instruction.html.erb
  app/views/admin/data_uploads/instruction/_geographies.html.erb
Labels: admin

better data upload select options
  app/models/data_upload.rb
Labels: none

enable partial updates for all importers
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/helpers/emissions.rb
  app/services/csv_import/litigation_sides.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_benchmarks.rb
Labels: none

update brakeman warnings file
  config/brakeman.ignore
Labels: none

draft version of CSV upload instructions
  app/admin/tags.rb
  app/admin/targets.rb
  app/assets/stylesheets/admin/models/data_uploads.scss
  app/javascript/admin/controllers/upload_instructions_controller.js
  app/views/admin/data_uploads/instruction.html.erb
  app/views/admin/data_uploads/instruction/_column_id.html.erb
  app/views/admin/data_uploads/instruction/_column_visibility_status.html.erb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  app/views/admin/data_uploads/instruction/_events.html.erb
  app/views/admin/data_uploads/instruction/_external_legislations.html.erb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/data_uploads/instruction/_litigation_sides.html.erb
  app/views/admin/data_uploads/instruction/_litigations.html.erb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/data_uploads/instruction/_targets.html.erb
Labels: admin

fix admin event controller specs
  spec/controllers/admin/events_controller_spec.rb
Labels: none

add extra columns for litigation sides export
  app/admin/litigation_sides.rb
  app/views/admin/data_uploads/instruction/_litigation_sides.html.erb
  spec/controllers/admin/litigation_sides_controller_spec.rb
Labels: admin

change sector -> sectors when multiple ids allowed, remove connected_ from csv header names, change eventable -> eventable_id, add eventable_name helper column
  app/admin/events.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  app/decorators/event_decorator.rb
  app/services/csv_import/events.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
  app/views/admin/data_uploads/instruction/_events.html.erb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/data_uploads/instruction/_targets.html.erb
  db/seeds/cclow/events.csv
  db/seeds/cclow/legislations.csv
  db/seeds/cclow/litigations.csv
  db/seeds/cclow/targets.csv
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
Labels: admin

add required headers logic and specs, fix partial updates specs
  app/services/csv_import/base_importer.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigation_sides.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/row.rb
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/rails_helper.rb
Labels: none

moar CSV upload instruction
  app/admin/data_uploads.rb
  app/assets/images/admin/csv_instruction/bulk_edit_image1.png
  app/assets/images/admin/csv_instruction/bulk_edit_image2.png
  app/assets/stylesheets/admin/models/data_uploads.scss
  app/javascript/admin/controllers/upload_instructions_controller.js
  app/views/admin/data_uploads/instruction.html.erb
  app/views/admin/data_uploads/instruction/_column_descriptions_notes.html.erb
  app/views/admin/data_uploads/instruction/_column_visibility_status.html.erb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  app/views/admin/data_uploads/instruction/_events.html.erb
  app/views/admin/data_uploads/instruction/_external_legislations.html.erb
  app/views/admin/data_uploads/instruction/_geographies.html.erb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/data_uploads/instruction/_litigation_sides.html.erb
  app/views/admin/data_uploads/instruction/_litigations.html.erb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/data_uploads/instruction/_targets.html.erb
Labels: admin

couple grammar changes
  app/views/admin/data_uploads/instruction.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  app/views/admin/data_uploads/instruction/_geographies.html.erb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/data_uploads/instruction/_litigations.html.erb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/data_uploads/instruction/_targets.html.erb
Labels: admin

more cleanup
  app/admin/cp_assessments.rb
  app/admin/events.rb
  app/admin/geographies.rb
  app/admin/legislations.rb
  app/admin/litigation_sides.rb
  app/admin/litigations.rb
  app/models/concerns/taggable.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigation_sides.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/targets.rb
  app/views/admin/data_uploads/instruction/_geographies.html.erb
  config/application.rb
  db/seeds/geographies.csv
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/geographies.csv
Labels: admin

finish changing inner cell separator
  spec/controllers/admin/events_controller_spec.rb
  spec/support/fixtures/files/geographies.csv
  spec/support/fixtures/files/legislations.csv
  spec/support/fixtures/files/targets.csv
Labels: none

add dirty associations module
  app/models/concerns/dirty_associations.rb
  app/models/concerns/taggable.rb
  app/models/external_legislation.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  spec/commands/csv_data_upload_spec.rb
Labels: none

prefer to save nil not empty strings
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/targets.rb
Labels: none

change separator in seeds csv
  db/seeds/cclow/legislations.csv
  db/seeds/cclow/litigations.csv
  db/seeds/cclow/targets.csv
  db/seeds/geographies.csv
Labels: none

fix flaky tests
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
Labels: none

bundle update
  Gemfile.lock
Labels: none

fix rubocop
  .rubocop.yml
Labels: none
