Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

better errors for instrument and governances fails when uploading
  app/services/csv_import/legislations.rb
Labels: none

update bundle
  Gemfile.lock
Labels: none

more aggresive tpi cache
  app/controllers/tpi/sectors_controller.rb
  app/models/concerns/tpi_cache.rb
Labels: tpi, cclow

fix latest information component, small design fixes
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/tpi/LatestInformation.js
Labels: none

remove travis
  .travis.yml
Labels: none

remove todo file
  todo.md
Labels: none

add cp alignment year algorithm
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

update export headers
  app/services/csv_export/user/company_latest_assessments.rb
Labels: none

add cp alignment year override
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/decorators/cp/assessment_decorator.rb
  app/models/cp/assessment.rb
  app/services/csv_import/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  db/migrate/20210514085536_add_cp_alignment_year_override_to_cp_assessments.rb
  db/structure.sql
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Labels: admin

specs for cp alignment year
  app/models/cp/assessment.rb
  spec/models/cp/assessment_spec.rb
Labels: none

hide cp alignment year from frontend
  app/models/cp/assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

fix tests
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
Labels: none

update bundle
  Gemfile.lock
Labels: none

update npm dep vol1
  yarn.lock
Labels: none

npm update vol2
  yarn.lock
Labels: none

npm update vol3
  yarn.lock
Labels: none

rollback active material for now
  Gemfile
  Gemfile.lock
Labels: none

fix active material
  Gemfile
  Gemfile.lock
  app/assets/javascripts/active_admin.js
Labels: none

add sorting to instrument types, fix data upload to strip name and type
  app/admin/instrument.rb
  app/admin/instrument_types.rb
  app/assets/stylesheets/tpi/_footer.scss
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
Labels: admin

fix date formatting
  app/javascript/components/cclow/EventsTimeline.js
Labels: none

change algorithm that returns alignment year
  app/models/cp/assessment.rb
  spec/models/cp/assessment_spec.rb
Labels: none

show alignment year only for logged in users
  app/controllers/concerns/tpi/user_download.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

show cp alignment year always
  app/controllers/concerns/tpi/user_download.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

add linkedin button and twitter widget
  app/assets/images/icon_linkedin/icon_linkedin_white.svg
  app/assets/stylesheets/tpi/_footer.scss
  app/views/layouts/tpi/_footer.html.erb
Labels: none

remove terms of use
  app/views/layouts/cclow/_footer.html.erb
Labels: none

add unlisted market cap group option
  app/models/company.rb
Labels: none

add benchmarkid and prev assessment to csv export
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
Labels: none

change which benchmark to take when assessment date before benchmark release date
  app/models/tpi_sector.rb
  spec/models/company_spec.rb
Labels: none

bundle update
  Gemfile.lock
Labels: none

fix linter
  .rubocop.yml
  app/validators/content_type_validator.rb
  lib/timed_logger.rb
Labels: none

adjust for new cp alignment colors
  app/models/cp/alignment.rb
  app/services/api/presenters/company.rb
Labels: none

add presence validation for mq assessment methodology version
  app/models/mq/assessment.rb
  db/migrate/20211116114117_add_mq_assessments_methodology_version_not_null.rb
  db/structure.sql
  spec/factories/mq_assessments.rb
  spec/models/mq/assessment_spec.rb
Labels: none

allow importing text/plain
  app/models/data_upload.rb
Labels: none

fix colors
  app/models/cp/alignment.rb
Labels: none

fix last reported year zones
  app/services/api/charts/cp_assessment.rb
Labels: none

quick change to sector cp assessments chart
  app/models/cp/alignment.rb
  app/services/api/charts/cp_performance.rb
Labels: none

fix targetted year placement
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
Labels: none

fix cp all sectors chart
  app/services/api/charts/cp_performance.rb
Labels: none

show no data when no data available for all sectors chart
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Labels: none

ignore some specs for now
  spec/services/api/charts/cp_performance_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Labels: none
