Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

fix saving emission if is 0
  app/javascript/admin/controllers/with_emission_table_form_controller.js
Labels: admin

cpr banner
  app/assets/stylesheets/cclow.scss
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow.html.erb
  app/views/layouts/cclow/_header.html.erb
Labels: cclow

refactoring: CP Assessments table is polymorphic
  Gemfile
  Gemfile.lock
  app/admin/cp_assessments.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20190703130037_create_cp_benchmarks.rb
  db/migrate/20190703153230_create_mq_assessments.rb
  db/migrate/20190715092238_create_cp_assessments.rb
  db/migrate/20190916123835_add_cp_unit_to_sectors.rb
  db/migrate/20190916134155_cp_benchmarks_flatten.rb
  db/migrate/20190919175639_add_discarded_at_to_cp_assessments.rb
  db/migrate/20190919175646_add_discarded_at_to_mq_assessments.rb
  db/migrate/20191006152145_add_last_reported_year_to_cp_assessments.rb
  db/migrate/20220722075902_add_show_in_tpi_tool_to_tpi_sectors.rb
  db/migrate/20230612083439_make_cp_assessment_polymorphic.rb
  db/seeds.rb
  db/structure.sql
  db/test-dump.psql
  lib/extensions/active_admin/active_admin_csv_download.rb
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/cp_assessments_controller_spec.rb
  spec/factories/companies.rb
  spec/factories/cp_assessment.rb
  spec/models/cp/assessment_spec.rb
Labels: tpi, cclow, admin

refactoring: CP Benchmarks to store also Bank data
  app/admin/cp_benchmarks.rb
  app/controllers/concerns/tpi/user_download.rb
  app/models/cp/benchmark.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  db/migrate/20230613090106_add_source_to_cp_benchmark.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/cp_benchmarks.rb
  spec/models/cp/benchmark_spec.rb
Labels: admin

feat: Adding new importers for Bank CP data
  app/admin/banks.rb
  app/admin/cp_assessments.rb
  app/admin/cp_benchmarks.rb
  app/decorators/cp/assessment_decorator.rb
  app/models/bank.rb
  app/models/cp/assessment.rb
  app/models/data_upload.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/company_cp_benchmarks.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20230613101102_add2027_to_cp_assessment.rb
  db/seeds/tpi/bank-cp-assessments.csv
  db/seeds/tpi/bank-cp-benchmarks.csv
  db/seeds/tpi/company-cp-assessments.csv
  db/seeds/tpi/company-cp-benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/cp_assessments_controller_spec.rb
  spec/factories/cp_assessment.rb
  spec/support/fixtures/files/bank_cp_assessments.csv
  spec/support/fixtures/files/bank_cp_benchmarks.csv
  spec/support/fixtures/files/company_cp_assessments.csv
  spec/support/fixtures/files/company_cp_benchmarks.csv
Labels: admin

fix: structure.sql schema
  db/structure.sql
Labels: none

fix: Distinguish between benchmarks from different source at Graphs
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  spec/models/tpi_sector_spec.rb
Labels: none

refactoring: Removing source from Benchmark table
  app/admin/cp_benchmarks.rb
  app/controllers/concerns/tpi/user_download.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/models/data_upload.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  app/services/csv_import/bank_cp_benchmarks.rb
  app/services/csv_import/company_cp_benchmarks.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  db/migrate/20230613090106_add_source_to_cp_benchmark.rb
  db/seeds/tpi/bank-cp-benchmarks.csv
  db/seeds/tpi/cp-benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_benchmarks.rb
  spec/models/cp/benchmark_spec.rb
  spec/models/tpi_sector_spec.rb
  spec/support/fixtures/files/bank_cp_benchmarks.csv
  spec/support/fixtures/files/cp_benchmarks.csv
Labels: admin

refactoring: TPI sector can be Company or Bank specific (or both).
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/admin/mq_assessments.rb
  app/admin/tpi_sectors.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/search_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/tpi_sector.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/news_articles.rb
  app/services/seed/tpi_data.rb
  app/validators/array_inclusion_validator.rb
  app/views/admin/tpi_sectors/_form.html.erb
  db/migrate/20230620080704_add_categories_to_sector.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/tpi_sectors.rb
  spec/models/tpi_sector_spec.rb
Labels: tpi, cclow, admin

refactoring: Adding category to CP Benchmark
  app/admin/cp_benchmarks.rb
  app/admin/tpi_sectors.rb
  app/controllers/concerns/tpi/user_download.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/models/data_upload.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  app/services/csv_import/bank_cp_benchmarks.rb
  app/services/csv_import/company_cp_benchmarks.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  db/migrate/20230622073030_add_category_to_benchmarks.rb
  db/seeds/tpi/bank-cp-benchmarks.csv
  db/seeds/tpi/company-cp-benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_benchmarks.rb
  spec/models/cp/benchmark_spec.rb
  spec/models/tpi_sector_spec.rb
  spec/support/fixtures/files/bank_cp_benchmarks.csv
  spec/support/fixtures/files/company_cp_benchmarks.csv
Labels: admin

refactoring: Removing 2027 CP alignment
  app/admin/banks.rb
  app/admin/cp_assessments.rb
  app/models/bank.rb
  app/models/cp/assessment.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20230613101102_add2027_to_cp_assessment.rb
  db/migrate/20230613101102_add_sector_to_cp_assessment.rb
  db/seeds/tpi/bank-cp-assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/support/fixtures/files/bank_cp_assessments.csv
Labels: admin

feat: Store Matrix data
  app/admin/cp_assessments.rb
  app/admin/cp_benchmarks.rb
  app/admin/tpi_sector_clusters.rb
  app/admin/tpi_sectors.rb
  app/models/cp/assessment.rb
  app/models/cp/matrix.rb
  app/models/cp/portfolio.rb
  app/models/data_upload.rb
  app/models/tpi_sector.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments2025.rb
  app/services/csv_import/bank_cp_assessments2035.rb
  app/services/csv_import/bank_cp_assessments2050.rb
  app/services/csv_import/cp_matrix.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20230613101102_add_sector_to_cp_assessment.rb
  db/migrate/20230613101102_add_sector_to_cp_assessments.rb
  db/migrate/20230622093001_create_cp_matrices.rb
  db/seeds/tpi/bank-cp-assessments-2025.csv
  db/seeds/tpi/bank-cp-assessments.csv
  db/seeds/tpi/banks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/cp_assessments_controller_spec.rb
  spec/controllers/admin/tpi_sectors_controller_spec.rb
  spec/factories/cp_matrices.rb
  spec/models/cp/matrix_spec.rb
  spec/support/fixtures/files/bank_cp_assessments.csv
Labels: admin

feat: Show CP Matrix as part of Admin Bank detail
  app/admin/banks.rb
  app/models/cp/assessment.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/cp_matrix.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  spec/controllers/admin/banks_controller_spec.rb
Labels: admin

feat: Annotating new models
  app/admin/cp_assessments.rb
  app/admin/tpi_sectors.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/models/cp/matrix.rb
  app/models/tpi_sector.rb
  spec/factories/cp_benchmarks.rb
  spec/factories/cp_matrices.rb
  spec/factories/tpi_sectors.rb
  spec/models/cp/assessment_spec.rb
  spec/models/cp/benchmark_spec.rb
  spec/models/cp/matrix_spec.rb
  spec/models/tpi_sector_spec.rb
Labels: admin

chore: update of appsignal
  Gemfile.lock
Labels: none

feat: emissions_chart_data for Banks
  app/controllers/tpi/banks_controller.rb
  app/models/bank.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  config/routes.rb
  spec/services/api/charts/cp_assessment_spec.rb
Labels: tpi, cclow

feat: matrix_data API for Banks
  app/controllers/tpi/banks_controller.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_matrix.rb
  app/services/queries/tpi/latest_cp_assessments_query.rb
  config/routes.rb
  spec/services/api/charts/cp_matrix_spec.rb
  spec/services/queries/tpi/latest_cp_assessments_query_spec.rb
Labels: tpi, cclow

feat: dummy components showing CP Bank data
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/show.html.erb
Labels: tpi

feat: Export also Bank CP assessments
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/banks_controller.rb
  app/services/csv_export/user/bank_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/views/tpi/banks/show.html.erb
  spec/controllers/tpi/banks_controller_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_assessments_csv.json
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_cp_assessments_csv.json
Labels: tpi, cclow

refactoring: hide bank cp_assessments
  app/views/tpi/banks/show.html.erb
Labels: tpi

refactoring: Bank sectors
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank-cp-assessments-2025.csv
  db/seeds/tpi/bank-cp-benchmarks.csv
  spec/support/fixtures/files/bank_cp_assessments.csv
Labels: none

fix: tests
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/banks_controller_spec.rb
Labels: none

feat: CP Matrix data endpoint also provides assumptions info
  app/models/tpi_sector.rb
  app/services/api/charts/cp_matrix.rb
  spec/services/api/charts/cp_matrix_spec.rb
Labels: none

Show multiple charts with common legend
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/Legend.js
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/javascript/components/tpi/charts/cp-performance/options.js
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/show.html.erb
Labels: tpi

refactoring: Moving Bank Assessments behind CP data
  app/views/tpi/banks/show.html.erb
Labels: tpi

Remove sector button. Add unit and style
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/tpi/charts/cp-performance/Legend.js
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
  app/javascript/components/tpi/charts/cp-performance/options.js
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi

refactoring: find unit based on assessment
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi

refactoring: cp_matrix_data api provides also metadata information
  app/models/cp/portfolio.rb
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/show.html.erb
  spec/services/api/charts/cp_matrix_spec.rb
Labels: tpi

feat: Support new bank indicators
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/presenters/tpi/bank_assessment_presenter.rb
  app/services/api/charts/average_bank_score.rb
  app/services/csv_export/user/bank_assessments.rb
  app/views/tpi/banks/_assessment.html.erb
  db/seeds/tpi/bank_assessment_indicators.csv
  db/seeds/tpi/bank_assessments.csv
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/banks_controller_spec.rb
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_assessments_csv.json
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_indicators_csv.json
  spec/support/fixtures/files/bank_assessment_indicators.csv
  spec/support/fixtures/files/bank_assessments.csv
Labels: tpi, cclow

Add cp matrix chart
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/assets/stylesheets/tpi/charts/cp-matrix.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/javascript/components/tpi/charts/cp-matrix/index.js
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/show.html.erb
  package.json
  yarn.lock
Labels: tpi

Add arrows to charts and fix some styles
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
Labels: none

Change color of ellipsis
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Labels: none

Fix legend
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Labels: none

feat: Adding new Alignment option
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/models/cp/alignment.rb
Labels: none

Make section responsive
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/assets/stylesheets/tpi/charts/cp-matrix.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/views/tpi/banks/_cp_matrix.html.erb
Labels: tpi

Fix type warnings
  app/javascript/components/tpi/Navbar.js
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
Labels: none

feat: Adding missing units for sectors
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank_assessment_indicators.csv
Labels: none

feat: Convert exported csv files to excel
  Gemfile
  Gemfile.lock
  app/controllers/tpi/banks_controller.rb
  app/services/api/csv_to_excel.rb
  spec/controllers/tpi/banks_controller_spec.rb
  spec/support/controller_helpers.rb
Labels: tpi, cclow

Filter target years on legend
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
Labels: none

Style fixes.Add scroll shadows. Update icon
  app/assets/images/icon-go-to-arrow.svg
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table-hooks.js
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-performance/options.js
Labels: none
