Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

change email
  app/views/layouts/tpi/_footer.html.erb
Labels: none

update dependencies
  Gemfile.lock
Labels: none

remove sec schedule, update rubocop
  .github/workflows/security.yml
  .rubocop.yml
Labels: none

fix wrong date format import failures
  app/services/csv_import/base_importer.rb
  app/services/csv_import/date_utils.rb
  spec/commands/csv_data_upload_spec.rb
Labels: none

add legislation, litigation ids to user downloads
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/fixtures/snapshots/cclow_legislation_and_policies_controller_csv.json
  spec/fixtures/snapshots/cclow_litigation_cases_controller_csv.json
Labels: none

bundle update
  Gemfile.lock
Labels: none

update ruby
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  config/deploy/production.rb
  config/deploy/staging.rb
Labels: none

disallow adding new instrument or governance types using CSV import, only through admin UI
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
Labels: none

disable tags creation through user import, allow for seeds
  app/services/csv_import/base_importer.rb
  app/services/csv_import/helpers/cached_collections.rb
  app/services/seed/cclow_data.rb
  db/seeds.rb
  spec/commands/csv_data_upload_spec.rb
  spec/factories/tags.rb
Labels: none

disable adding tags in admin UI using select dropdown for cclow part
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  app/models/tag.rb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/targets/_form.html.erb
Labels: admin

downgrade active admin
  Gemfile
  Gemfile.lock
Labels: none

change publications link
  app/views/cclow/home/index.html.erb
Labels: cclow

try to fix issue with seg fault
  config/initializers/assets.rb
Labels: none

downgrade ruby
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  config/deploy/production.rb
  config/deploy/staging.rb
Labels: none

rake task to fix instrument and instrument types on production
  lib/tasks/instruments.rake
  lib/tasks/support/instruments_mapping.csv
  lib/tasks/support/new_instruments.csv
Labels: none

remove duplicates from instrument_legislations
  app/decorators/legislation_decorator.rb
  lib/tasks/instruments.rake
Labels: none

add more logs
  lib/tasks/instruments.rake
Labels: none

remove not needed instruments and types
  lib/tasks/instruments.rake
Labels: none

another sanity check
  lib/tasks/instruments.rake
  lib/tasks/support/instruments_mapping.csv
  lib/tasks/support/new_instruments.csv
Labels: none

please
  config/initializers/assets.rb
Labels: none

add 2025, 2035 cp alignment, and target years
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/geography.rb
  app/models/mq/assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/helpers/emissions.rb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20220215170029_add2025_and2035_alignments_and_target_years_to_cp_assessments.rb
  db/structure.sql
  spec/factories/geographies.rb
  spec/factories/images.rb
  spec/factories/mq_assessments.rb
  spec/models/cp/assessment_spec.rb
  spec/models/geography_spec.rb
  spec/models/mq/assessment_spec.rb
Labels: tpi, admin

add years with targets to cp chart
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/options.js
  app/models/cp/assessment.rb
  app/services/api/charts/cp_assessment.rb
  app/services/csv_import/cp_assessments.rb
  db/migrate/20220215170029_add2025_and2035_alignments_and_target_years_to_cp_assessments.rb
  db/structure.sql
  spec/models/cp/assessment_spec.rb
Labels: none

update carbon performance box css, add placeholders for 2025 and 2035 alignments
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Labels: tpi

update test dump after migration
  db/test-dump.psql
Labels: none

make colors based on sectors not dates
  app/models/cp/alignment.rb
  app/services/api/presenters/company.rb
Labels: none

fix linking to sector in bubble chart
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi, cclow

update instruction
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
Labels: admin

add cp alignments and years with targets to edit forms, and csvs
  app/admin/cp_assessments.rb
  app/decorators/cp/assessment_decorator.rb
  app/models/cp/assessment.rb
  app/services/csv_export/user/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  spec/factories/cp_assessment.rb
Labels: admin

fix colors
  app/models/cp/alignment.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

security patch
  Gemfile.lock
Labels: none

another color fix
  app/models/cp/alignment.rb
Labels: none

trying to fix cp all sectors chart
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/models/cp/alignment.rb
  app/services/api/charts/cp_performance.rb
Labels: none

change alignemnt year for electricity utilities sector
  app/views/tpi/companies/show.html.erb
Labels: tpi

add validations for cp alignments for carbon performance
  app/models/cp/alignment.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/tpi/companies/show.html.erb
  spec/models/cp/assessment_spec.rb
Labels: tpi, admin

WIP all sectors chart
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

fix text color for no or unsuitable disclosure
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
Labels: none

refactor cp all sectors chart
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
Labels: none

change chart legend layout
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
Labels: none

seeds for publications
  app/services/seed/tpi_data.rb
  db/seeds/tpi/files/airlines2022.jpg
  db/seeds/tpi/files/autos2022.jpg
  db/seeds/tpi/files/shipping2022.jpg
  db/seeds/tpi/files/test.pdf
Labels: none

seeds for news articles
  app/admin/news_article.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/news_articles.rb
  app/services/seed/tpi_data.rb
  db/seeds.rb
  db/seeds/tpi/files/bridge.jpg
  db/seeds/tpi/files/industrials.jpg
  db/seeds/tpi/tpi-news-articles.csv
  db/seeds/tpi/tpi-news.csv
  lib/tasks/reimport.rake
Labels: admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
