Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

MQ changes regarding emails
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/industries_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/mq_download_mailer.rb
  app/views/mq_download_mailer/asset_owner_use_email.html.erb
  db/migrate/20260211120000_add_composite_index_to_mq_assessments.rb
Labels: tpi, cclow

Another fix
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Labels: none

Fix migration
  db/migrate/20260211120000_add_composite_index_to_mq_assessments.rb
Labels: none

Improve read query
  app/services/api/charts/sector.rb
Labels: none

Fix short term button
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Labels: none

Fix user download
  app/controllers/concerns/tpi/user_download.rb
Labels: none

Some other fixes
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/sector.rb
Labels: none

Fix download
  app/models/mq/assessment.rb
  app/services/csv_export/user/mq_assessments.rb
Labels: none

Fix eager loading
  app/services/api/charts/sector.rb
Labels: none

Make short term dynamic depending on data available
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
Labels: none

Improve performance of multi year graph
  app/admin/ascor/assessments.rb
  app/services/api/ascor/bubble_chart.rb
  app/services/api/charts/cp_performance.rb
  app/services/csv_export/ascor/assessments.rb
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi, admin

Update text under Explore: MQ
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Fix download clickable link
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Update forms and user paths
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/mq_download_mailer.rb
  app/views/mq_download_mailer/asset_owner_use_email.html.erb
  app/views/mq_download_mailer/exempted_use_email.html.erb
  app/views/mq_download_mailer/non_professional_email_notice.html.erb
  app/views/mq_download_mailer/other_review_email.html.erb
  app/views/mq_download_mailer/permitted_use_email.html.erb
Labels: tpi, cclow

MQ download updates
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/views/mq_download_mailer/asset_owner_use_email.html.erb
  app/views/mq_download_mailer/permitted_use_email.html.erb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

ASCOR: dynamic short term year
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

ASCOR: update company cp view
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

ASCOR: show 2030 in admin panel
  app/admin/companies.rb
Labels: admin

Support 2030 upload
  app/services/csv_import/company_cp_assessments.rb
Labels: none

Give support to 2030 download
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_cp_assessments.rb
Labels: none

Update questions' wording
  db/migrate/20260316120000_fix_mq_assessment_question_texts.rb
Labels: none

Add download form
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/publications/show.html.erb
  config/routes.rb
Labels: tpi, cclow

Hide Insurance
  app/services/api/charts/cp_performance.rb
Labels: none

Hide Insurance
  app/services/api/charts/cp_performance.rb
Labels: none

ASCOR: update company cp view
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

ASCOR: dynamic short term year
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Give support to 2030 download
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_cp_assessments.rb
Labels: none

Support 2030 upload
  app/services/csv_import/company_cp_assessments.rb
Labels: none

ASCOR: show 2030 in admin panel
  app/admin/companies.rb
Labels: admin

Revert "Deploy live 25032026"
  app/admin/companies.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_cp_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
Labels: tpi, admin

ASCOR: dynamic short term year
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Give support to 2030 download
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_cp_assessments.rb
Labels: none

Support 2030 upload
  app/services/csv_import/company_cp_assessments.rb
Labels: none

Hide Insurance
  app/services/api/charts/cp_performance.rb
Labels: none

Use 2030 short term button
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Labels: none

Fix short term button
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Labels: none

ASCOR: update company cp view
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

ASCOR: show 2030 in admin panel
  app/admin/companies.rb
Labels: admin

Improve performance of multi year graph
  app/admin/ascor/assessments.rb
  app/services/api/ascor/bubble_chart.rb
  app/services/api/charts/cp_performance.rb
  app/services/csv_export/ascor/assessments.rb
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi, admin

Fix cp graph
  app/models/company.rb
Labels: none
