Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Make short term dynamic depending on data available
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
Labels: none

Reactivate beta version for mq download
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/helpers/mq_assessment_helper.rb
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/views/tpi/shared/_mq_beta_scores.html.erb
  db/migrate/20260330123611_change_methodology_version_to_string.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/factories/mq_assessments.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Labels: tpi, cclow

Add download form
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/publications/show.html.erb
  config/routes.rb
Labels: tpi, cclow

Add beta version re-activation
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/helpers/mq_assessment_helper.rb
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/views/tpi/shared/_mq_beta_scores.html.erb
  db/migrate/20260330123611_change_methodology_version_to_string.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/factories/mq_assessments.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Labels: tpi, cclow

Revert beta version, keep migration
  app/controllers/tpi/sectors_controller.rb
  app/models/mq/assessment.rb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi, cclow

CP Changes: first iteration
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-chemicals-bar/Chart.js
  app/javascript/components/tpi/charts/cp-chemicals-bar/index.js
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/models/cp/benchmark.rb
  app/services/api/charts/chemicals_sector.rb
  app/services/csv_export/user/chemicals_cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
  db/migrate/20260428110000_add_benchmark_label_to_cp_benchmarks.rb
  db/migrate/20260428110001_create_steel_subsectors.rb
  db/migrate/20260428110002_add_steel_companies_subsector.rb
Labels: tpi, cclow

Rename migration
  db/migrate/20260428110000_add_benchmark_label_to_cp_benchmarks.rb
Labels: none

CP changes: fix sector ref
  app/services/api/charts/chemicals_sector.rb
Labels: none

CP changes: fix sector ref 2
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

CP changes: fix sector ref 3
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

CP changes: fix cp coal subsector graph
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP changes: fix date picker
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP changes: change date picker
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP changes: notify when graph is empty
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

CP changes: deactivate buttons when no data available
  app/controllers/tpi/companies_controller.rb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi, cclow

CP changes: fix steel buttons
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP changes: fix cp banner for steel
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP changes: show steel subsector even if no data
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP change: show message on missing data sector
  app/javascript/components/tpi/charts/cp-performance/Chart.js
Labels: none

CP changes: show new columns in admin
  app/admin/cp_benchmarks.rb
  app/views/admin/cp_benchmarks/_form.html.erb
Labels: admin

Fix video embedding
  app/javascript/admin/controllers/embed_trix_controller.js
Labels: admin

Fix video embedding
  app/javascript/admin/controllers/embed_trix_controller.js
Labels: admin

CP Changes v2
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
  spec/models/cp/benchmark_spec.rb
Labels: tpi

CP Changes V2: first iter
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes V2: second iter
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/models/company_subsector.rb
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes V2: addendum
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  app/views/tpi/companies/show.html.erb
  spec/models/cp/assessment_spec.rb
  spec/models/tpi_sector_spec.rb
  spec/services/api/charts/cp_assessment_spec.rb
  spec/services/csv_export/user/chemicals_cp_benchmarks_spec.rb
  spec/services/csv_export/user/cp_benchmarks_spec.rb
Labels: tpi, admin

CP Changes 2: addendum 2
  app/assets/stylesheets/tpi/pages/company.scss
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
  spec/services/api/charts/cp_assessment_spec.rb
Labels: tpi

CP Changes v2: addendum 3
  app/assets/stylesheets/tpi/pages/company.scss
  app/services/api/charts/cp_assessment.rb
Labels: none

CP Changes v2: addendum 4
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

CP Changes V2: first iter
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes v2: addendum 3
  app/assets/stylesheets/tpi/pages/company.scss
  app/services/api/charts/cp_assessment.rb
Labels: none

CP changes: show steel subsector even if no data
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes: first iteration
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-chemicals-bar/Chart.js
  app/javascript/components/tpi/charts/cp-chemicals-bar/index.js
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/models/cp/benchmark.rb
  app/services/api/charts/chemicals_sector.rb
  app/services/csv_export/user/chemicals_cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
  db/migrate/20260428110000_add_benchmark_label_to_cp_benchmarks.rb
  db/migrate/20260428110001_create_steel_subsectors.rb
  db/migrate/20260428110002_add_steel_companies_subsector.rb
Labels: tpi, cclow

CP changes: fix sector ref
  app/services/api/charts/chemicals_sector.rb
Labels: none

CP Changes v2: addendum 4
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

CP Changes 2: addendum 2
  app/assets/stylesheets/tpi/pages/company.scss
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
  spec/services/api/charts/cp_assessment_spec.rb
Labels: tpi

CP changes: deactivate buttons when no data available
  app/controllers/tpi/companies_controller.rb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi, cclow

CP changes: fix date picker
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP changes: fix cp coal subsector graph
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP changes: show new columns in admin
  app/admin/cp_benchmarks.rb
  app/views/admin/cp_benchmarks/_form.html.erb
Labels: admin
