Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

updating dependencies
  .rubocop.yml
  Gemfile.lock
  yarn.lock
Labels: none

Style fixes on cclow
  app/assets/stylesheets/cclow/_geography-page.scss
  yarn.lock
Labels: none

Removes unnecessary section
  app/views/cclow/home/index.html.erb
Labels: cclow

Put sides closer to each other
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

Tweaks to search filters
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

rename filter
  app/javascript/components/pages/cclow/ClimateTargets.js
Labels: none

Align styles from climate targets search results
  app/javascript/components/pages/cclow/ClimateTargets.js
Labels: none

Removes hardcoded value
  app/services/api/presenters/company.rb
Labels: none

adding some cool csv snapshot tests
  .rubocop.yml
  Gemfile
  Gemfile.lock
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/factories/tags.rb
  spec/rails_helper.rb
  spec/snapshots/cclow_climate_targets_controller_csv.snap
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Labels: none

implement mobile style to sectors page
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_sizes.scss
  app/assets/stylesheets/tpi/charts/_mobile-booble-chart.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/charts/bubble/Chart.js
  app/javascript/components/charts/bubble/MobileChart.js
  app/javascript/components/charts/bubble/index.js
  app/javascript/components/charts/mq-sector-pie/Chart.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

update legislations external csv
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
Labels: none

update external litigations csv format
  app/models/external_legislation.rb
  app/models/legislation.rb
  app/models/target.rb
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Labels: none

update bundles
  Gemfile.lock
Labels: none

make tests less dynamic, update includes statements
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/models/document.rb
  app/models/legislation.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/factories/geographies.rb
  spec/snapshots/cclow_climate_targets_controller_csv.snap
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Labels: none

moving includes into legislation csv exporter
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/services/csv_export/user/legislations.rb
  config/appsignal.yml
  config/database.yml
  config/environments/staging.rb
Labels: none

use current request host for active storage document files
  app/controllers/application_controller.rb
  app/models/current.rb
  app/models/document.rb
Labels: none

fix specs
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/snapshots/cclow_climate_targets_controller_csv.snap
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Labels: none

rollback some config changes
  config/appsignal.yml
  config/database.yml
  config/environments/staging.rb
Labels: none

external csv files order by geography name
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Labels: none

fixing tests
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Labels: none

add test-prof gem and use let_it_be to quickly make tests faster
  Gemfile
  Gemfile.lock
  app/services/csv_export/user/legislations.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/rails_helper.rb
Labels: none

display slowests rspec examples by default
  package.json
Labels: none

add order by id for tags, why rails, why!!??
  app/models/concerns/taggable.rb
Labels: none

implement mobile style to sectors show page
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/NestedDropdown.js
  app/javascript/components/charts/bubble/MobileChart.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/services/api/charts/sector.rb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

update dependencies, new webpacker major version
  Gemfile.lock
  bin/webpack
  bin/webpack-dev-server
  package.json
  yarn.lock
Labels: none

update rubocop config
  .rubocop.yml
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/decorators/cclow/target_decorator.rb
  app/models/cclow_map_context_data.rb
  app/models/geography.rb
  app/services/api/charts/cp_performance.rb
  app/services/api/latest_additions.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/targets.rb
  app/services/migration/legislation.rb
  app/services/migration/litigation.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  lib/extensions/active_admin/active_admin_csv_download.rb
  lib/extensions/enumerable.rb
Labels: cclow

Upgrade capistrano
  Gemfile
  Gemfile.lock
Labels: none

lock to new version
  config/deploy.rb
Labels: none

Update node version to use
  config/deploy.rb
Labels: none

fix design
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/assets/stylesheets/tpi/charts/_mobile-buble-chart.scss
  app/javascript/components/charts/bubble/MobileChart.js
  app/javascript/components/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/charts/cp-performance-all-sectors/options.js
  app/javascript/components/charts/mq-sector-pie/Chart.js
  app/services/api/charts/sector.rb
  package.json
  yarn.lock
Labels: none

remove grouping by clusters from the chart in the mobile view
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/charts/_mobile-bubble-chart.scss
  app/javascript/components/charts/cp-performance-all-sectors/options.js
Labels: none

change routes to remove /tpi and /cclow prefixes and fix domains
  app/services/domain_constraint.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/routes.rb
Labels: none

use domain constraints in dynamic router
  app/services/dynamic_router.rb
Labels: none

implement mobile style to cp-performance chart
  app/assets/stylesheets/tpi/_fixed-navbar.scss
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/helpers.js
  app/javascript/components/charts/cp-performance/options.js
Labels: none

fix rubocop and minor changes
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/javascript/components/charts/bubble/CompaniesAccordion.js
  app/javascript/components/charts/bubble/index.js
  app/models/concerns/taggable.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

fix is-outlined button
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
Labels: none

fix rspec
  spec/services/api/charts/sector_spec.rb
Labels: none

fix rspec
  spec/services/api/charts/sector_spec.rb
Labels: none

some targets are without sectors, add includes for quicker download
  app/admin/targets.rb
Labels: admin

Adds sector filter for climate targets
  app/controllers/cclow/climate_targets_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/services/queries/cclow/target_query.rb
Labels: none
