Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

change benchmark id for regional benchmark
  app/models/cp/benchmark.rb
Labels: none

update specs to include regional benchmarks file
  app/commands/command/csv_data_upload.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_regional_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_zip_sector_benchmarks_csv.json
Labels: none

update puma
  Gemfile.lock
Labels: none

small css fixes
  app/assets/stylesheets/tpi/_base-tooltip.scss
  app/assets/stylesheets/tpi/pages/company.scss
Labels: none

use local storage on staging for now
  config/environments/staging.rb
Labels: none

Ifix error with showing all benchmarks not global ones in sector page
  app/models/company.rb
  app/models/tpi_sector.rb
  app/services/api/charts/sector.rb
Labels: none

missing image alt texts
  app/javascript/components/cclow/LawsDropdown.js
  app/javascript/components/cclow/MobileNavigateMenu.js
  app/javascript/components/cclow/SearchFilter.js
  app/javascript/components/cclow/TimeRangeFilter.js
  app/javascript/components/cclow/pages/ClimateTargets.js
  app/javascript/components/cclow/pages/LegislationAndPolicies.js
  app/javascript/components/cclow/pages/LitigationCases.js
  app/javascript/components/cclow/world-map/WorldMap.js
  app/javascript/components/tpi/CheckList.js
  app/javascript/components/tpi/DropdownSelector.js
  app/javascript/components/tpi/Filters.js
  app/javascript/components/tpi/LatestInformation.js
  app/javascript/components/tpi/Navbar.js
  app/javascript/components/tpi/NestedDropdown.js
  app/javascript/components/tpi/RemoteDropdown.js
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/CompanyTag.js
  app/views/cclow/cclow/_related_laws_list.html.erb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/home/_hero.html.erb
  app/views/cclow/home/_latest_additions.html.erb
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_header.html.erb
  app/views/layouts/cclow/_publications-banner.html.erb
  app/views/layouts/tpi/_banner.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi, cclow

remove page title truncate, add font swap, small perf improvements
  app/assets/stylesheets/cclow/_typography.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/models/geography.rb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

fix accessibility in few places TPI part
  app/assets/stylesheets/tpi/_hero.scss
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/cclow.html.erb
  app/views/layouts/tpi.html.erb
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

fix accessibility issues for cclow project
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/geography_decorator.rb
  app/javascript/components/cclow/EventsTimeline.js
  app/javascript/components/cclow/world-map/WorldMap.js
  app/javascript/shared/controllers/slider_controller.js
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/home/_hero.html.erb
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_footer.html.erb
Labels: cclow

fix react warnings
  app/javascript/components/cclow/EventsTimeline.js
  app/javascript/components/cclow/world-map/MapLegend.js
Labels: none

lighthouse sites
  spec/performance/sites.txt
Labels: none

fix more seo issues
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_footer.scss
  app/javascript/components/tpi/Testimonials.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_subscribe.html.erb
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/pages/_logo_description.html.erb
Labels: tpi

update nokogiri
  Gemfile.lock
Labels: none

remove not used partials
  app/views/shared/_search-icon.html.erb
  app/views/shared/_tpi-logo.html.erb
Labels: none

move shared pages partials to shared directory
  app/views/cclow/pages/show.html.erb
  app/views/shared/pages/_logo_description.html.erb
  app/views/shared/pages/_regular.html.erb
  app/views/shared/pages/_text_description.html.erb
  app/views/tpi/pages/show.html.erb
Labels: tpi, cclow

pages css cleanup
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_home.scss
  app/assets/stylesheets/cclow/_pages.scss
  app/assets/stylesheets/pages.scss
  app/views/cclow/pages/show.html.erb
Labels: cclow

missing image alt names
  app/views/shared/pages/_regular.html.erb
  app/views/shared/pages/_text_description.html.erb
Labels: none

fix pages css to enable more themes for cclow pages
  app/assets/stylesheets/cclow/_pages.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/views/shared/pages/_text_description.html.erb
Labels: none

use full text filters for selecteable list component
  app/admin/external_legislations.rb
  app/admin/legislations.rb
  app/models/external_legislation.rb
  app/models/legislation.rb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/targets/_form.html.erb
Labels: admin

change CP alignment colors for cement and steel
  app/models/cp/alignment.rb
  app/services/api/charts/cp_performance.rb
Labels: none

link storage dir
  config/deploy.rb
Labels: none

upgrade rails
  Gemfile.lock
Labels: none

rename user guid file
  app/controllers/concerns/tpi/user_download.rb
  public/tpi/export_support/User guide TPI files.xlsx
  spec/controllers/tpi/sectors_controller_spec.rb
Labels: none

add data guide for tpi downloads
  app/controllers/concerns/tpi/user_download.rb
  public/tpi/export_support/Data_Guide_NH.xlsx
  spec/controllers/tpi/sectors_controller_spec.rb
Labels: none

update rails dependencies
  Gemfile.lock
Labels: none

update frontend and build packages
  babel.config.js
  yarn.lock
Labels: none

fix linters
  .rubocop.yml
  app/validators/content_type_validator.rb
  lib/tasks/flags.rake
Labels: none

add banks and bank assessments
  app/models/bank.rb
  app/models/bank_assessment.rb
  db/migrate/20220704085154_create_banks.rb
  db/migrate/20220704092137_create_bank_assessments.rb
  db/structure.sql
Labels: none

add bank assessment indicators and results
  app/models/bank_assessment.rb
  app/models/bank_assessment_indicator.rb
  app/models/bank_assessment_result.rb
  db/migrate/20220704094334_create_bank_assessment_indicators.rb
  db/migrate/20220704094826_create_bank_assessment_results.rb
  db/structure.sql
Labels: none

simplify relations
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_result.rb
  db/migrate/20220704085154_create_banks.rb
  db/structure.sql
  spec/factories/bank_assessments.rb
  spec/factories/banks.rb
  spec/models/bank_assessment_spec.rb
  spec/models/bank_spec.rb
Labels: none

import banks, add admin panel for banks
  app/admin/banks.rb
  app/services/csv_import/banks.rb
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank_assessments.csv
  db/seeds/tpi/banks.csv
Labels: admin

update db dump for system specs
  db/test-dump.psql
Labels: none

fix tests workflow
  .github/workflows/tests.yml
Labels: none

import bank assessment indicators
  app/models/bank_assessment_indicator.rb
  app/services/csv_import/bank_assessment_indicators.rb
  app/services/seed/cclow_data.rb
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank_assessment_indicators.csv
Labels: none

add bank assessment results importer
  Gemfile
  Gemfile.lock
  app/models/bank_assessment_indicator.rb
  app/models/bank_assessment_result.rb
  app/services/csv_import/bank_assessments.rb
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank_assessments.csv
Labels: none

add bank assessments to admin panel
  app/admin/bank_assessments.rb
  app/admin/banks.rb
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/admin/cp_benchmarks.rb
  app/admin/mq_assessments.rb
  app/admin/news_article.rb
  app/admin/page.rb
  app/admin/publication.rb
  app/admin/testimonials.rb
  app/admin/tpi_sector_clusters.rb
  app/admin/tpi_sectors.rb
  app/decorators/bank_assessment_decorator.rb
  app/decorators/bank_decorator.rb
  app/models/bank_assessment_indicator.rb
Labels: admin

add almost empty banking tool index page
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/BankDropdown.js
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  config/routes.rb
Labels: tpi, cclow

first version of bank show page
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/shared/_property.scss
  app/controllers/tpi/banks_controller.rb
  app/models/bank_assessment.rb
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/show.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/shared/_property.html.erb
Labels: tpi, cclow

add missing indicators
  db/seeds/tpi/bank_assessment_indicators.csv
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
