Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

add missing parts to pages
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/decorators/cclow/target_decorator.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: cclow

Fix typo in css
  app/assets/stylesheets/cclow/_filters.scss
Labels: none

Fix an issue with scaling out to full width on mobile * Add a meta tag to both TPI and CCLOW * Viewport meta tag tells smaller device browsers how to scale the page
  app/views/layouts/cclow.html.erb
  app/views/layouts/tpi.html.erb
Labels: none

Add mobile styles for CCLOW homepage
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/assets/stylesheets/cclow/_pages.scss
  app/assets/stylesheets/cclow/_typography.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/assets/stylesheets/cclow/layout.scss
  app/javascript/components/world-map/MapLegend.js
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_footer.html.erb
Labels: cclow

Fixes after rebase
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/_world-map.scss
Labels: none

adds all events to geography's timeline
  app/models/geography.rb
  app/views/cclow/geographies/show.html.erb
Labels: cclow

Trying to get a direct simple URL to a file
  app/controllers/tpi/publications_controller.rb
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi, cclow

rename caption for main political groups
  app/views/cclow/geographies/_overview.html.erb
Labels: cclow

Add missing spacer on mobile homepage + responsive slider
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/_pages.scss
  app/javascript/shared/controllers/slider_controller.js
  app/views/cclow/home/_hero.html.erb
  app/views/cclow/home/index.html.erb
Labels: cclow

add tags filter to litigations cases page
  app/assets/stylesheets/cclow/_filters.scss
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/models/concerns/taggable.rb
Labels: none

add tags filter to climate targets and legislation pages
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

add geography filter
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

adjusting figures
  app/views/tpi/home/index.html.erb
Labels: tpi

Avoid crashing if no tag
  app/decorators/cclow/target_decorator.rb
Labels: cclow

set both domains in the routes
  config/routes.rb
Labels: none

Responsive map
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
Labels: none

Responsive dropdowns on the map
  app/javascript/components/world-map/MapLegend.js
  app/javascript/components/world-map/WorldMap.js
Labels: none

Fix zoom controls icons styles
  app/assets/stylesheets/cclow/_world-map.scss
Labels: none

Updates TPI homepage images
  app/assets/images/homepage/bitmap.jpg
  app/assets/images/homepage/bitmap@2x.jpg
  app/assets/images/homepage/bitmap@3x.jpg
  app/assets/images/homepage/homepage-bg.jpg
Labels: none

Ensure bundler is up to date
  .travis.yml
Labels: none

Upgraded bundler and bundled
  .travis.yml
  Gemfile.lock
Labels: none

Lets try not to install bundler
  .travis.yml
Labels: none

get rid of this as well
  .travis.yml
Labels: none

add params[:q] to permitted params
  app/controllers/concerns/cclow/filter_controller.rb
Labels: none

Adds spec to ensure that filtering is working
  spec/controllers/cclow/climate_targets_controller_spec.rb
Labels: none

Adds some hint text to backend
  app/admin/companies.rb
Labels: admin

WIP: Adds latest information block
  app/views/tpi/companies/show.html.erb
Labels: tpi

Changes from single sector to multiple sectors for publications and articles
  app/admin/news_article.rb
  app/admin/publication.rb
  app/controllers/tpi/publications_controller.rb
  app/decorators/news_article_decorator.rb
  app/decorators/publication_decorator.rb
  app/models/news_article.rb
  app/models/publication.rb
  app/views/tpi/publications/_promoted.html.erb
  db/migrate/20191217083323_create_join_table_publications_tpi_sectors.rb
  db/migrate/20191217085001_create_join_table_news_articles_tpi_sectors.rb
  db/schema.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
Labels: tpi, cclow, admin

Annotated models
  app/models/news_article.rb
  app/models/publication.rb
  app/models/target.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
  spec/factories/targets.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
  spec/models/target_spec.rb
Labels: none

Fixes wrong join
  app/services/queries/tpi/news_publications_query.rb
Labels: none

Fixes spec
  spec/services/queries/tpi/news_publications_query_spec.rb
Labels: none

Fixes routing constraints, I think
  config/routes.rb
Labels: none

Shows INDC block for all countries
  app/views/cclow/geographies/show.html.erb
Labels: cclow

Style latest information section
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Labels: tpi

create ui for time range filter
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_filters.scss
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LitigationCases.js
  package.json
  yarn.lock
Labels: none

add time range filter to target and ligislation pages
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

Style latest information accoding to designs
  app/assets/images/icons/minus.svg
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/LatestInformation.js
  app/views/tpi/companies/show.html.erb
Labels: tpi

Don't show Read more button if there are less or exactly three lines of text
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/LatestInformation.js
Labels: none

Adds some hint text to backend
  app/admin/companies.rb
Labels: admin

WIP: Adds latest information block
  app/views/tpi/companies/show.html.erb
Labels: tpi
