Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

bring back enumerable extension from chartkick, couple more changes to pie chart html and css
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/javascript/components/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/hooks.js
  app/javascript/components/charts/mq-level/Chart.js
  app/javascript/components/charts/mq-sector-pie/Chart.js
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  config/initializers/extensions.rb
  lib/extensions/enumerable.rb
  spec/services/api/charts/mq_assessment_spec.rb
Labels: tpi

fix specs
  spec/services/api/charts/mq_assessment_spec.rb
Labels: none

cp all sectors tooltip
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/javascript/components/charts/cp-performance-all-sectors/options.js
Labels: none

mq level chart styles changes to make look more like on designs
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/charts/mq-level.scss
  app/javascript/components/charts/mq-level/options.js
  app/services/api/charts/mq_assessment.rb
  spec/services/api/charts/mq_assessment_spec.rb
Labels: none

order cp and mq assessments by date
  app/views/tpi/companies/show.html.erb
Labels: tpi

change radius
  app/javascript/components/charts/mq-level/options.js
Labels: none

cp all sectors white dataLabel for No Dosclosure
  app/javascript/components/charts/cp-performance-all-sectors/options.js
Labels: none

Sort companies by name
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

add mobile navigate menu
  app/assets/images/icon_chevron_dark/chevron-up.svg
  app/assets/stylesheets/cclow/_geography-page.scss
  app/javascript/components/MobileNavigateMenu.js
  app/views/layouts/cclow/geography.html.erb
Labels: none

add item to mobile navigate menu
  app/javascript/components/MobileNavigateMenu.js
  app/views/layouts/cclow/geography.html.erb
Labels: none

Renamed historical_comments to company_comments_internal
  app/admin/companies.rb
  app/models/company.rb
  app/services/csv_import/companies.rb
  db/migrate/20200310163503_rename_historical_comments_to_company_comments_internal_on_companies.rb
  db/schema.rb
Labels: admin

Annotate models
  app/models/company.rb
  app/models/news_article.rb
  app/models/publication.rb
  spec/factories/companies.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
  spec/models/company_spec.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
Labels: none

implement mobile version of the overview and context page
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/decorators/cclow/geography_overview_decorator.rb
  app/javascript/components/EventsTimeline.js
  app/javascript/components/MobileNavigateMenu.js
  app/javascript/components/world-map/MapLegend.js
  app/views/cclow/geographies/_overview.html.erb
  app/views/cclow/geographies/show.html.erb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

Renamed field in spec
  spec/factories/companies.rb
Labels: none

implement mobile version of the climate targets page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/javascript/components/MobileNavigateMenu.js
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/legislations/index.html.erb
Labels: cclow

update figure
  app/views/tpi/home/index.html.erb
Labels: tpi

Display litigation languages
  app/views/cclow/cclow/_documents_list.html.erb
Labels: cclow

fix design
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/_typography.scss
Labels: none

Reviews display of laws when connecting to litigations and targets
  app/decorators/legislation_decorator.rb
  app/models/legislation.rb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/targets/_form.html.erb
Labels: admin

update display name as well
  app/decorators/external_legislation_decorator.rb
  app/models/external_legislation.rb
  app/views/admin/litigations/_form.html.erb
Labels: admin

fix background patterns
  app/assets/images/homepage/homepage-dot-pattern.png
  app/assets/stylesheets/tpi/_hero.scss
Labels: none

code review
  app/assets/stylesheets/tpi.scss
Labels: none

fixed primary background of buttons
  app/assets/stylesheets/tpi/buttons.scss
Labels: none

Tweak publications layout
  app/assets/stylesheets/tpi/tags.scss
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi

Show the youtube icon when assets are precompiled
  app/assets/stylesheets/admin/trix.scss
Labels: none

Add text to contacts
  app/views/layouts/tpi/_footer.html.erb
Labels: none

Changed date position
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi

Expand search to look in geographies name
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
Labels: none

adding simple system tests for public pages
  .rubocop.yml
  Gemfile
  Gemfile.lock
  db/seeds.rb
  db/test-dump.psql
  lib/tasks/test.rake
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/system/public/tpi/company_selector_spec.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/home_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Labels: none

make pg_restore faster
  lib/tasks/test.rake
Labels: none

company selector specs
  spec/system/public/tpi/company_selector_spec.rb
Labels: none

couple simple cclow public pages tests
  spec/system/public/cclow/climate_targets_spec.rb
  spec/system/public/cclow/home_spec.rb
  spec/system/public/cclow/legislation_and_policies_spec.rb
  spec/system/public/cclow/litigations_spec.rb
Labels: none

add cclow geographies specs
  spec/rails_helper.rb
  spec/support/capybara_helpers.rb
  spec/system/public/cclow/geographies_spec.rb
  spec/system/public/tpi/company_spec.rb
Labels: none

moar cclow public pages tests
  spec/system/public/cclow/geographies_spec.rb
  spec/system/public/cclow/home_spec.rb
Labels: none

remove not needed decorator
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/decorators/cclow/litigation_side_decorator.rb
  app/decorators/cclow/target_decorator.rb
Labels: cclow

remove commented code
  spec/system/public/tpi/sectors_spec.rb
Labels: none

add some missing slugs, releted -> related
  app/decorators/cclow/target_decorator.rb
  app/views/cclow/cclow/_related_litigations_list.html.erb
  app/views/cclow/geography/legislations/show.html.erb
Labels: cclow

some more leftovers of wrong links
  app/javascript/components/LawsDropdown.js
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
Labels: cclow

fix rails warning messages
  app/models/cclow_map_content_data.rb
Labels: none

bump rspec-rails versio
  Gemfile
  Gemfile.lock
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
