Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

update instruments filter label to include instrument type
  app/controllers/concerns/cclow/filter_controller.rb
Labels: none

add missing unique validations for instruments and governances
  app/models/governance.rb
  app/models/governance_type.rb
  app/models/instrument.rb
  app/models/instrument_type.rb
  db/migrate/20220218100325_add_unique_indexes_to_instruments_and_instrument_types.rb
  db/migrate/20220218100643_add_unique_indexes_to_governances_and_governance_types.rb
  db/structure.sql
  spec/models/governance_spec.rb
  spec/models/governance_type_spec.rb
  spec/models/instrument_spec.rb
  spec/models/instrument_type_spec.rb
Labels: none

make uniqueness case insensitive
  app/models/governance.rb
  app/models/governance_type.rb
  app/models/instrument.rb
  app/models/instrument_type.rb
Labels: none

fix filters when it does not exist
  app/javascript/components/cclow/pages/List.js
Labels: none

fix rebase errors
  db/structure.sql
Labels: none

update geography publications link
  app/views/layouts/cclow/geography.html.erb
Labels: none

use different world map
  app/javascript/components/cclow/world-map/WorldMap.js
  public/cclow/world.topo.json
Labels: none

add just basic compat for ie11
  app/assets/fonts/BrownTT-Bold.eot
  app/assets/fonts/BrownTT-Bold.woff
  app/assets/fonts/BrownTT-Bold.woff2
  app/assets/fonts/BrownTT-Regular.eot
  app/assets/fonts/BrownTT-Regular.woff
  app/assets/fonts/BrownTT-Regular.woff2
  app/assets/stylesheets/cclow/_typography.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/helpers/application_helper.rb
  app/views/layouts/cclow.html.erb
  app/views/layouts/tpi.html.erb
Labels: none

small fix
  app/helpers/application_helper.rb
Labels: none

migration to rename governances to themes
  db/migrate/20220221123402_rename_governances_to_themes.rb
  db/structure.sql
Labels: none

temp disable publications and news from seeds
  app/services/seed/tpi_data.rb
  db/test-dump.psql
Labels: none

update label for themes in filters
  app/controllers/concerns/cclow/filter_controller.rb
Labels: none

rename governances => themes
  app/admin/legislations.rb
  app/admin/theme_types.rb
  app/admin/themes.rb
  app/commands/command/destroy/legislation.rb
  app/commands/command/destroy/theme.rb
  app/commands/command/destroy/theme_type.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/decorators/governance_decorator.rb
  app/decorators/governance_type_decorator.rb
  app/decorators/legislation_decorator.rb
  app/decorators/theme_decorator.rb
  app/decorators/theme_type_decorator.rb
  app/javascript/components/cclow/pages/LegislationAndPolicies.js
  app/models/ability.rb
  app/models/governance.rb
  app/models/legislation.rb
  app/models/theme.rb
  app/models/theme_type.rb
  app/services/csv_import/legislations.rb
  app/services/queries/cclow/legislation_query.rb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/legislations/_form.html.erb
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/governance_controller_spec.rb
  spec/controllers/admin/governance_types_controller_spec.rb
  spec/controllers/admin/theme_controller_spec.rb
  spec/controllers/admin/theme_types_controller_spec.rb
  spec/factories/theme_types.rb
  spec/factories/themes.rb
  spec/models/theme_spec.rb
  spec/models/theme_type_spec.rb
Labels: admin

update sec issue
  Gemfile.lock
Labels: none

add years with targets to user export
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
Labels: none

add specs for TPI zip downloads
  app/controllers/concerns/tpi/user_download.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/factories/cp_assessment.rb
  spec/factories/cp_benchmarks.rb
  spec/factories/mq_assessments.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_mq_assessments_methodology_1_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_mq_assessments_methodology_1_csv.json
  spec/spec_helper.rb
  spec/support/controller_helpers.rb
Labels: none

update gems
  Gemfile.lock
Labels: none

low hanging fruit specs
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/data_uploads_controller_spec.rb
  spec/controllers/admin/instrument_controller_spec.rb
  spec/controllers/admin/instrument_types_controller_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/controllers/admin/mq_assessments_controller_spec.rb
  spec/controllers/admin/theme_controller_spec.rb
  spec/controllers/admin/theme_types_controller_spec.rb
  spec/factories/data_uploads.rb
  spec/models/dynamic_router_spec.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
  spec/models/testimonial_spec.rb
  spec/support/test_files.rb
Labels: none

csv - change some delimiters to ; and strip outer div tag
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
Labels: none

add CSV streaming for cclow user export
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/streaming.rb
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
Labels: none

update specs
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/fixtures/snapshots/cclow_legislation_and_policies_controller_csv.json
  spec/fixtures/snapshots/cclow_litigation_cases_controller_csv.json
Labels: none

strip outer div created by trix, we don't need that and it makes the data hard to read/write in import/export process
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
  app/services/html_helper.rb
  config/initializers/inflections.rb
  lib/tasks/fix.rake
  spec/models/geography_spec.rb
  spec/models/legislation_spec.rb
  spec/models/litigation_spec.rb
  spec/models/target_spec.rb
Labels: none

add is_external and url to document csv admin download
  app/admin/documents.rb
  spec/controllers/admin/documents_controller_spec.rb
Labels: admin

add region to cp benchmarks
  app/admin/cp_benchmarks.rb
  app/models/cp/benchmark.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  db/migrate/20220310091530_add_region_to_cp_benchmarks.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/cp_benchmarks.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_zip_sector_benchmarks_csv.json
  spec/models/cp/benchmark_spec.rb
  spec/support/fixtures/files/cp_benchmarks.csv
Labels: admin

add cp assessment regional alignment columns
  app/admin/cp_assessments.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/helpers.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  db/migrate/20220324160017_add_regional_alignments_to_cp_assessments.rb
  db/structure.sql
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Labels: admin

catch pending migrations in test db dump
  lib/tasks/test.rake
  spec/rails_helper.rb
Labels: none

update test db dump, remove selenium warning
  db/test-dump.psql
  spec/rails_helper.rb
Labels: none

remove cp alignment year and override
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/decorators/cp/assessment_decorator.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/csv_import/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20220324184534_remove_cp_alignment_year_override_from_cp_assessments.rb
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/models/cp/assessment_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Labels: admin

rename cp_alignment to cp_alignment_2050
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_import/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20220324190738_rename_cp_alignment_to_cp_alignment2050.rb
  db/seeds/tpi/cp-assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/factories/cp_assessment.rb
  spec/models/cp/assessment_spec.rb
  spec/services/api/charts/cp_performance_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Labels: tpi, admin

fix selected assessments labels
  app/javascript/components/tpi/RemoteDropdown.js
  app/views/tpi/companies/show.html.erb
Labels: tpi

refactor company presenter
  app/controllers/tpi/companies_controller.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi, cclow

pass selected view to api charts presenter
  app/controllers/tpi/companies_controller.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi, cclow

wip company page with regional view
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/_cp_alignment.html.erb
  app/views/tpi/companies/show.html.erb
  db/seeds/tpi/cp-assessments.csv
Labels: tpi

missing model annotations
  app/models/cp/assessment.rb
  spec/models/cp/assessment_spec.rb
Labels: none

fix cp assessments export
  app/admin/cp_assessments.rb
Labels: admin

fix benchmark upload
  app/services/csv_import/cp_benchmarks.rb
Labels: none

implementing feedback
  app/admin/companies.rb
  app/assets/stylesheets/admin/utilities.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/admin/cp/_emissions_table.html.arb
  app/views/tpi/companies/show.html.erb
Labels: tpi, admin

apply more changes to cp regional alignments, add new csv to export
  app/admin/cp_assessments.rb
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/concerns/tpi/user_download.rb
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/csv_export/user/cp_assessments_regional.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/companies/show.html.erb
  spec/factories/cp_assessment.rb
  spec/models/cp/assessment_spec.rb
  spec/services/api/charts/cp_assessment_spec.rb
Labels: tpi, admin

remove not used method for getting latest benchmarks
  app/models/company.rb
  spec/models/company_spec.rb
Labels: none

fix RemoteDropdown to pass view
  app/javascript/components/tpi/RemoteDropdown.js
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
