Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

update case studies
  lib/tasks/onetime.rake
  lib/tasks/support/ABRDN.png
  lib/tasks/support/Lans.png
  lib/tasks/support/USS.png
Labels: none

add author and author image to publications
  app/admin/publication.rb
  app/models/publication.rb
  db/migrate/20220902105018_add_author_to_publication.rb
  db/structure.sql
  spec/factories/publications.rb
Labels: admin

changes for latest research on home page
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/index.html.erb
  lib/tasks/dev.rake
  lib/tasks/onetime.rake
Labels: tpi, cclow

apply height for research box
  app/assets/stylesheets/tpi/pages/home.scss
Labels: none

use thumbnail for author image
  app/admin/publication.rb
  app/assets/stylesheets/tpi/pages/home.scss
  app/models/publication.rb
  app/views/tpi/home/index.html.erb
Labels: tpi, admin

update test db dump
  db/test-dump.psql
Labels: none

small stylistic changes to research boxes
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

add methodology and publications to tpi sectors page
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/controllers/tpi/sectors_controller.rb
  app/models/content.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  lib/tasks/onetime.rake
Labels: tpi, cclow, admin

missing model annotations
  app/models/case_study.rb
  app/models/publication.rb
  spec/factories/case_studies.rb
  spec/factories/publications.rb
  spec/models/case_study_spec.rb
  spec/models/publication_spec.rb
Labels: none

small changes
  app/views/layouts/tpi/_banner.html.erb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi

small style fixes, prepare for bank methodology
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_latest-information.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/controllers/tpi/banks_controller.rb
  app/models/content.rb
  app/views/tpi/banks/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi, cclow

fix banks methodology bug
  app/controllers/tpi/banks_controller.rb
Labels: tpi, cclow

more changes to banks and sectors pages
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/models/content.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/sectors/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi, admin

methodology text change
  lib/tasks/onetime.rake
Labels: none

sectors methodology change
  app/controllers/tpi/sectors_controller.rb
  lib/tasks/onetime.rake
Labels: tpi, cclow

fix linters
  app/views/tpi/banks/index.html.erb
  app/views/tpi/sectors/index.html.erb
  config/brakeman.ignore
  lib/tasks/onetime.rake
Labels: tpi

more changes
  app/controllers/tpi/sectors_controller.rb
  app/services/queries/tpi/news_publications_query.rb
  lib/tasks/onetime.rake
  spec/services/queries/tpi/news_publications_query_spec.rb
Labels: tpi, cclow

more changes
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi

forgot about new tags
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

change terms and conditions link
  app/views/tpi/home/index.html.erb
Labels: tpi

sectors' cp assessment show only when there are any
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/sectors/show.html.erb
Labels: tpi, cclow

filter out sectors without companies
  app/controllers/tpi/sectors_controller.rb
  app/models/tpi_sector.rb
Labels: tpi, cclow

remove not needed tooltips
  app/views/tpi/companies/show.html.erb
Labels: tpi

hide go to cp performance link if there are none
  app/views/tpi/companies/show.html.erb
Labels: tpi

more changes for stat box styles
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi, cclow

two new about menu entries
  app/assets/stylesheets/tpi/_navbar.scss
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/javascript/components/tpi/Navbar.js
  app/models/tpi_page.rb
  app/views/admin/pages/_form.html.erb
  app/views/layouts/tpi/_header.html.erb
Labels: admin

add position column to pages
  app/admin/page.rb
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/views/admin/pages/_form.html.erb
  db/migrate/20220908080811_add_position_to_pages.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/pages.rb
  spec/models/cclow_page_spec.rb
  spec/models/tpi_page_spec.rb
Labels: admin

simple corporate bond issuers page
  app/assets/stylesheets/tpi/pages/corporate-bonds.scss
  app/controllers/tpi/home_controller.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/corporate_bond_issuers.html.erb
  app/views/tpi/home/index.html.erb
  config/routes.rb
  public/tpi/static/Summary - top 30 OG and Electricity bond issuers.xlsx
Labels: tpi, cclow

more small changes
  app/assets/stylesheets/tpi/_base-tooltip.scss
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/companies/show.html.erb
  config/locales/en.yml
Labels: tpi, cclow

small change
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi

corporate page padding
  app/assets/stylesheets/tpi/pages/corporate-bonds.scss
Labels: none

use of the data
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi

more changes
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi

forot abut that
  app/views/tpi/home/index.html.erb
Labels: tpi

fix regional cp assessments
  app/models/company.rb
  app/models/cp/assessment.rb
Labels: none

fix target years tooltip
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/options.js
  app/services/api/charts/cp_assessment.rb
Labels: none

use semicolons for isin, sedol in csv export
  app/services/csv_export/user/bank_assessments.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_assessments_regional.rb
  app/services/csv_export/user/mq_assessments.rb
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_assessments_csv.json
Labels: none

bigger partners logos
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_navbar.scss
Labels: none

fix bug with regional view
  app/controllers/tpi/companies_controller.rb
Labels: tpi, cclow

fix variant image resize
  app/models/publication.rb
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
