Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Adds target year filter to targets search page
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/services/queries/cclow/target_query.rb
Labels: none

Linking to the search results page from country page
  app/decorators/cclow/geography_overview_decorator.rb
  app/views/cclow/geographies/_overview.html.erb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

Fix bug with filtering publications
  app/javascript/components/Filters.js
  app/services/queries/tpi/news_publications_query.rb
Labels: none

Count only published
  app/decorators/cclow/geography_overview_decorator.rb
Labels: cclow

hoist state to the List component, sync filters with history API - LegislationsList
  app/decorators/cclow/geography_overview_decorator.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/helpers.js
Labels: cclow

do not use 'use' in names as hooks convention, fix time filter, remove question mark from query if empty
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/helpers.js
Labels: none

refactor legislations, litigations and climate targets list components
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/layout.scss
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

fix react warnings
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

remove not needed Fragments
  app/javascript/components/SearchFilter.js
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Labels: none

cursor pointer for search filter label
  app/assets/stylesheets/cclow/_filters.scss
Labels: none

refactor responsive checker
  app/javascript/components/Responsive.js
  app/javascript/components/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/pages/cclow/List.js
Labels: none

fix list mobile design
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/javascript/components/pages/cclow/List.js
Labels: none

fix integration tets
  spec/system/public/cclow/geographies_spec.rb
Labels: none

fix geo filters
  app/services/queries/cclow/common_filters.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
Labels: none

forgot about q and recent filters
  app/javascript/components/pages/cclow/List.js
Labels: none

fix integration tests
  spec/system/public/cclow/geographies_spec.rb
Labels: none

add no search results message
  app/javascript/components/pages/cclow/List.js
Labels: none

different no items messages
  app/javascript/components/pages/cclow/List.js
  app/views/cclow/geographies/_overview.html.erb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

implement mobile style to company page
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/charts/mq-level.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/RemoteDropdown.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/options.js
  app/javascript/components/charts/mq-level/Chart.js
  app/javascript/components/charts/mq-level/options.js
  app/views/tpi/companies/_company_property.html.erb
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

fix tests
  spec/system/public/cclow/geographies_spec.rb
Labels: none

show the day, avoid crashing if no date
  app/views/tpi/companies/show.html.erb
Labels: tpi

Don't say all, because we filter sometimes
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

parse description html
  app/decorators/cclow/target_decorator.rb
Labels: cclow

implement mobile style to publications page
  app/assets/stylesheets/tpi/_filters.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/javascript/components/Filters.js
  app/views/tpi/publications/index.html.erb
Labels: tpi

fix styles for tpi home page
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/_testimonials.scss
  app/javascript/components/Testimonials.js
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

fix tpi - pages design
  app/assets/stylesheets/tpi/_pages.scss
  app/models/content.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/tpi/pages/show.html.erb
Labels: tpi, admin

change the order of the elements on the publication page
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi

add publications banner to geography page
  app/assets/images/cclow/publications_banner.png
  app/assets/images/cclow/publications_banner@2x.png
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geographies/show.html.erb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

missing related word
  app/views/layouts/cclow/geography.html.erb
Labels: none

update specs wording to match reality
  spec/system/public/cclow/climate_targets_spec.rb
  spec/system/public/cclow/legislation_and_policies_spec.rb
  spec/system/public/cclow/litigations_spec.rb
Labels: none

using wrong service name
  .travis.yml
Labels: none

fix links in latest information block
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/LatestInformation.js
Labels: none

return extra changes
  app/assets/stylesheets/tpi/pages/company.scss
Labels: none

create publication banner for mobile
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_publications-banner.html.erb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

small text change
  app/views/layouts/cclow/_publications-banner.html.erb
Labels: none

style fix
  app/assets/stylesheets/tpi/_pages.scss
  app/views/tpi/pages/show.html.erb
Labels: tpi

style fix
  app/assets/stylesheets/tpi/_pages.scss
  app/views/tpi/pages/show.html.erb
Labels: tpi

fix text again
  app/views/tpi/home/index.html.erb
Labels: tpi

updating bundles
  Gemfile.lock
  spec/controllers/admin/litigations_controller_spec.rb
Labels: none

upgrade js dependencies
  yarn.lock
Labels: none
