Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

add nested dropdown label and close on select
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/NestedDropdown.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/views/tpi/sectors/show.html.erb
Labels: tpi

filtering top 10 by selected show by
  app/javascript/components/charts/cp-performance/Chart.js
  app/services/api/charts/sector.rb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

populate nested dropdown from the options we have from the backend
  app/javascript/components/charts/cp-performance/Chart.js
  app/models/cp/assessment.rb
  app/services/api/charts/sector.rb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

make the benchmark labels not overlap each other
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/helpers.js
Labels: none

standardize number of decimal places
  app/helpers/chart_helper.rb
  app/javascript/components/charts/cp-performance/Tooltip.js
Labels: none

open nested list on left when no place on the right
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/javascript/components/NestedDropdown.js
Labels: none

chart tooltip sort by value
  app/javascript/components/charts/cp-performance/Tooltip.js
Labels: none

fix sorting by last emission
  app/javascript/components/charts/cp-performance/Chart.js
Labels: none

fix showing up targeted values
  app/services/api/charts/sector.rb
Labels: none

fix rendering chart on company page
  app/javascript/components/charts/cp-performance/Chart.js
Labels: none

show only market cap groups that we have data for
  app/javascript/components/charts/cp-performance/Chart.js
Labels: none

add filter by sector for litigation
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/models/laws_sector.rb
  app/services/queries/cclow/litigation_query.rb
Labels: none

position area labels in better way
  app/javascript/components/charts/cp-performance/helpers.js
Labels: none

add filter by sector for legislation
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/services/queries/cclow/legislation_query.rb
Labels: none

replaces includes with joins as we dont need eager loading
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
Labels: none

Dynamic year
  app/views/layouts/tpi/_footer.html.erb
Labels: none

fix ambiguous id error
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
Labels: none

remove rails warning about dangerous sql
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
Labels: none

add more tests for litigations query
  spec/factories/events.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Labels: none

add more tests, fixing order by last event
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Labels: none

add eventable concern, more tets
  app/models/concerns/eventable.rb
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Labels: none

some success with changing the queries to use distinct
  app/models/concerns/taggable.rb
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Labels: none

more tests, refactor query objects
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/services/queries/cclow/common_filters.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
  spec/factories/companies.rb
  spec/factories/geographies.rb
  spec/factories/laws_sectors.rb
  spec/factories/legislations.rb
  spec/factories/litigation_sides.rb
  spec/factories/litigations.rb
  spec/factories/tags.rb
  spec/factories/tpi_sectors.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
Labels: none

fixing travis
  .travis.yml
Labels: none

update ruby version, trying to fix travis, fix some tests
  .ruby-version
  .travis.yml
  Gemfile
  Gemfile.lock
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
Labels: none

update nokogiri
  .travis.yml
  Gemfile.lock
Labels: none

fix brakeman sast tests
  config/brakeman.ignore
Labels: none

update ruby version and fix travis
  .ruby-version
  .travis.yml
  Gemfile
  Gemfile.lock
Labels: none

more query specs
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Labels: none

Set rvm version on capistrano config
  config/deploy/production.rb
  config/deploy/staging.rb
Labels: none

speedup query tests
  Gemfile
  Gemfile.lock
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
Labels: none

remove not needed id order
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
Labels: none

fix instrument options and governances distinct
  app/controllers/concerns/cclow/filter_controller.rb
Labels: none

updates litigation-sources file and upload script
  app/services/migration/litigation.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/litigation-sources.csv
  lib/tasks/reimport.rake
Labels: none

Avoid accidents and adding empty data
  app/services/migration/litigation.rb
  app/services/seed/cclow_data.rb
  lib/tasks/reimport.rake
Labels: none

short_description and summary for litigations and legilsations
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
Labels: cclow

bring back line clamp as it is good, just use also html strip and backend truncation
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: cclow

bring back events timeline for legislations and litigations
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/javascript/components/EventsTimeline.js
Labels: none

Updates prod ruby version
  config/deploy/production.rb
Labels: none

Updates format to match the right format
  app/controllers/cclow/api/targets_controller.rb
  app/models/target.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Labels: none
