Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Update font-size in download form: Download
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Fix banking placement buttons: Download
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/views/tpi/banks/index.html.erb
Labels: tpi

Use company id on upload: Download|MQ
  app/services/csv_import/mq_assessments.rb
Labels: none

Fix latest cp assessment download: MQ | Download
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
Labels: none

Order first by publication_date: MQ | Download
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/api/presenters/company.rb
Labels: tpi, cclow

Add timestamp to MQ download files: Download
  app/controllers/concerns/tpi/user_download.rb
Labels: none

Add fiscal year to MQ data: Download
  app/services/csv_export/user/latest_mq_assessments.rb
Labels: none

Use publication date instead of assessment date: MQ
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/_mq_assessment_metadata.html.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

Guide, email and fix of MQ graph: Download | MQ
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/javascript/components/tpi/charts/bubble/Chart.js
  public/tpi/export_support/User guide - Management Quality.xlsx
Labels: none

Add support for undefined, market cap group: MQ
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/models/bank.rb
  app/models/company.rb
Labels: none

Fix pie chart v5 beta: MQ
  app/models/mq/assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
Labels: none

Another fix for MQ stuff: MQ
  app/models/mq/assessment.rb
Labels: none

No skipping for beta assessments: MQ
  app/services/api/charts/sector.rb
Labels: none

Add fiscal year to files: MQ
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
Labels: tpi, cclow

Fixes
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/api/charts/sector.rb
Labels: none

Fixes
  app/models/mq/assessment.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
Labels: none

Add CP user guide
  app/controllers/concerns/tpi/user_download.rb
  public/tpi/export_support/User guide - TPI Carbon Performance.xlsx
Labels: none

Support industries from admin panel
  app/admin/industries.rb
  app/admin/tpi_sectors.rb
  app/controllers/tpi/sectors_controller.rb
  app/decorators/industry_decorator.rb
  app/decorators/tpi_sector_decorator.rb
  app/models/data_upload.rb
  app/models/industry.rb
  app/models/tpi_sector.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/services/csv_import/helpers/cached_collections.rb
  app/services/csv_import/industries.rb
  app/views/admin/tpi_sectors/_form.html.erb
  db/migrate/20251212110612_create_join_table_industries_tpi_sectors.rb
  db/structure.sql
  industries_csv_quick_reference.txt
  industries_import_example.csv
  industries_import_with_ids_example.csv
Labels: tpi, cclow, admin

Allow timestamp format for uploads
  app/services/csv_import/mq_assessments.rb
Labels: none

Hide mq downlaod button
  app/controllers/tpi/sectors_controller.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi, cclow

Revert "Hide mq downlaod button"
  app/controllers/tpi/sectors_controller.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi, cclow

Update guide link
  app/controllers/concerns/tpi/user_download.rb
  public/tpi/export_support/User guide - TPI Management Quality.xlsx
Labels: none

Fix MQ graph for v5
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/api/presenters/company.rb
Labels: tpi, cclow

Industry vizz changes
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/controllers/tpi/industries_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DropdownSelector.js
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/industries/show.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
Labels: tpi, cclow

Changes in industry visualization
  app/admin/companies.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/industries_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/models/company.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_cp_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/industries/show.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
  spec/models/company_spec.rb
Labels: tpi, cclow, admin

Add MQ notes
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/_mq_assessment.html.erb
Labels: tpi

ASCOR changes and Banking changes
  app/admin/ascor/assessment_indicators.rb
  app/admin/ascor/assessments.rb
  app/assets/stylesheets/tpi/_ascor-benchmarks.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/controllers/tpi/home_controller.rb
  app/helpers/ascor_helper.rb
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
  app/models/ascor/assessment_indicator.rb
  app/models/bank.rb
  app/services/api/ascor/bubble_chart.rb
  app/services/csv_export/ascor/assessment_indicators.rb
  app/services/csv_export/ascor/assessments.rb
  app/services/csv_import/ascor_assessment_indicators.rb
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_notes.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/ascor/show_assessment.js.erb
  db/migrate/20260129093719_add_assessment_date_to_ascor_assessment_indicators.rb
  db/structure.sql
Labels: tpi, cclow, admin

Show state of always first: banking
  app/controllers/tpi/banks_controller.rb
Labels: tpi, cclow

Dynamic assessment dates
  app/models/ascor/assessment_indicator.rb
  app/services/api/ascor/bubble_chart.rb
Labels: none

ASCOR change
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
Labels: none

Fix label
  app/javascript/components/tpi/DownloadFormModal.jsx
Labels: none

Q1 MQ download changes
  app/admin/companies.rb
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/industries_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/javascript/components/tpi/charts/mq-sector-pie/Chart.js
  app/mailers/mq_download_mailer.rb
  app/models/mq/assessment.rb
  app/services/csv_import/companies.rb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  app/views/mq_download_mailer/authorisation_required_email.html.erb
  app/views/mq_download_mailer/exempted_use_email.html.erb
  app/views/mq_download_mailer/info_email.html.erb
  app/views/mq_download_mailer/lseg_notification_email.html.erb
  app/views/mq_download_mailer/permitted_use_email.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/industries/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260209120000_add_mq_focus_company_to_companies.rb
  db/migrate/20260209120001_set_mq_focus_company_for_dec_2025_uploads.rb
Labels: tpi, cclow, admin

Update upload of companies
  app/admin/companies.rb
  app/services/csv_import/companies.rb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  db/migrate/20260209130000_add_permid_to_companies.rb
Labels: admin

Fix migrations
  db/migrate/20260209120000_add_mq_focus_company_to_companies.rb
  db/migrate/20260209120001_set_mq_focus_company_for_dec_2025_uploads.rb
Labels: none

Fix file names
  app/controllers/tpi/sectors_controller.rb
  app/mailers/mq_download_mailer.rb
Labels: tpi, cclow

Fixes to MQ changes
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
Labels: none

Batch upload companies support
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/tpi/BaseTooltip.js
  app/services/csv_import/companies.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Handle empty group assessment
  app/models/mq/assessment.rb
Labels: none

Use 2030 short term button
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Labels: none

Fix cp graph
  app/models/company.rb
Labels: none
