Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

CP change: show message on missing data sector
  app/javascript/components/tpi/charts/cp-performance/Chart.js
Labels: none

CP changes: notify when graph is empty
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

CP Changes V2: addendum
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  app/views/tpi/companies/show.html.erb
  spec/models/cp/assessment_spec.rb
  spec/models/tpi_sector_spec.rb
  spec/services/api/charts/cp_assessment_spec.rb
  spec/services/csv_export/user/chemicals_cp_benchmarks_spec.rb
  spec/services/csv_export/user/cp_benchmarks_spec.rb
Labels: tpi, admin

CP changes: change date picker
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP changes: fix sector ref 2
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

CP changes: fix sector ref 3
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

CP Changes V2: second iter
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/models/company_subsector.rb
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

Rename migration
  db/migrate/20260428110000_add_benchmark_label_to_cp_benchmarks.rb
Labels: none

CP changes: fix steel buttons
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP changes: fix cp banner for steel
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes: Show Chemicals in homepage
  app/models/tpi_sector_cluster.rb
  app/views/tpi/home/_sector_cluster_stat.html.erb
Labels: tpi

CP Changes: Show Chemicals as industry
  app/decorators/tpi/cp_performance_sector_decorator.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_performance.rb
Labels: none

CP Changes: Show Chemicals in homepage
  app/models/tpi_sector_cluster.rb
  app/views/tpi/home/_sector_cluster_stat.html.erb
Labels: tpi

CP Changes: Show Chemicals as industry
  app/decorators/tpi/cp_performance_sector_decorator.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_performance.rb
Labels: none

Remove climate arc
  app/views/tpi/home/index.html.erb
Labels: tpi

CP Changes: review for steel and coal
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/services/api/charts/cp_assessment.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes 3 review: Invert styles steel vs global
  app/assets/stylesheets/tpi/pages/company.scss
Labels: none

CP Changes 3 review: fix rendering of cp graph
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes 3 review: fix sector filtering cp graph
  app/services/api/charts/sector.rb
Labels: none

CP Changes v3: quick fix
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

CP Changes: fix missing data message
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

CP Changes: fix global graph steel sector
  app/services/api/charts/sector.rb
Labels: none

CP Changes: more
  app/javascript/components/tpi/charts/cp-performance/Chart.js
Labels: none

CP ChangeS
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
Labels: none

CP Changes again
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Labels: none

CP Changes again
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
Labels: none

CP Changes
  app/services/api/charts/sector.rb
Labels: none

CP Changes: revert cp style for coal
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes 3 review: Invert styles steel vs global
  app/assets/stylesheets/tpi/pages/company.scss
Labels: none

CP Changes: fix missing data message
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi

CP Changes
  app/services/api/charts/sector.rb
Labels: none

CP Changes again
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
Labels: none

CP Changes 3 review: fix rendering of cp graph
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/companies/show.html.erb
Labels: tpi

Remove climate arc
  app/views/tpi/home/index.html.erb
Labels: tpi

CP Changes: revert cp style for coal
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes: review for steel and coal
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/services/api/charts/cp_assessment.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

CP Changes: fix global graph steel sector
  app/services/api/charts/sector.rb
Labels: none

CP Changes 3 review: fix sector filtering cp graph
  app/services/api/charts/sector.rb
Labels: none

CP Changes again
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Labels: none

CP Changes v3: quick fix
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Labels: tpi
