Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

added percentage of global total emissions
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_percent_2016.csv
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_percent_2016.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_percent_2016.yml
Labels: none

apply custom font to chart svg, sort cp performance chart by sector name
  app/assets/stylesheets/tpi/_charts.scss
  app/services/api/charts/cp_performance.rb
  spec/services/api/charts/cp_performance_spec.rb
Labels: none

add static cluster list, update specs to expect sorted data
  app/models/tpi_sector.rb
  app/services/api/charts/cp_performance.rb
  spec/services/api/charts/cp_performance_spec.rb
Labels: none

uhh, svg elements madness
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/views/tpi/sectors/index.html.erb
Labels: tpi

make line of 1px width
  app/javascript/components/charts/CPPerformanceAllSectors.js
Labels: none

add tpi sector cluster model
  app/admin/news_article.rb
  app/admin/page.rb
  app/admin/publication.rb
  app/admin/testimonials.rb
  app/admin/tpi_sector_clusters.rb
  app/admin/tpi_sectors.rb
  app/controllers/tpi/sectors_controller.rb
  app/decorators/tpi_sector_cluster_decorator.rb
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/models/ability.rb
  app/models/tpi_sector.rb
  app/models/tpi_sector_cluster.rb
  app/services/api/charts/cp_performance.rb
  app/services/seed/tpi_data.rb
  app/views/admin/tpi_sectors/_form.html.erb
  app/views/tpi/sectors/index.html.erb
  db/migrate/20200131074036_create_tpi_sector_clusters.rb
  db/schema.rb
  lib/tasks/reimport.rake
Labels: tpi, cclow, admin

cp performance chart: label links, remove column border width
  app/decorators/tpi/cp_performance_sector_decorator.rb
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/views/tpi/sectors/index.html.erb
Labels: tpi

cp performance chart: extend below line
  app/javascript/components/charts/CPPerformanceAllSectors.js
Labels: none

add condition for ordering of legislations
  app/controllers/cclow/legislation_and_policies_controller.rb
Labels: none

add more specs
  spec/controllers/admin/tpi_sector_clusters_controller_spec.rb
  spec/controllers/admin/tpi_sectors_controller_spec.rb
  spec/factories/tpi_sector_cluster.rb
  spec/services/api/charts/cp_performance_spec.rb
Labels: none

fix error with array to array comparison of nil value
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/services/api/charts/cp_performance.rb
  spec/services/api/charts/cp_performance_spec.rb
Labels: none

notify of successful rake task
  lib/tasks/reimport.rake
Labels: none

use sector slugs
  app/decorators/tpi/cp_performance_sector_decorator.rb
Labels: none

Use CSS variable to set fixed navbar height
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_fixed-navbar.scss
  app/assets/stylesheets/cclow/layout.scss
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_fixed-navbar.scss
Labels: none

fix filter by tag
  app/controllers/concerns/cclow/filter_controller.rb
Labels: none

After log out redirect to root & add helper fixed_navbar method
  app/admin/override.rb
  app/controllers/cclow/cclow_controller.rb
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/geographies_controller.rb
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/cclow/home_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/cclow/pages_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/home_controller.rb
  app/controllers/tpi/pages_controller.rb
  app/controllers/tpi/publications_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/controllers/tpi/tpi_controller.rb
Labels: tpi, cclow, admin

fix legislative process design
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/cclow/geography_overview_decorator.rb
  app/views/cclow/geographies/show.html.erb
Labels: cclow

Move the logout redirection code to active_admin initializer
  app/admin/override.rb
  config/initializers/active_admin.rb
Labels: admin

Force name of the column to be correct
  app/admin/cp_assessments.rb
  app/admin/mq_assessments.rb
Labels: admin

avoid crashing download if no assessment
  app/services/csv_export/user/company_latest_assessments.rb
Labels: none

Fail safe
  app/decorators/target_decorator.rb
Labels: none

Correct path to NewsArticle admin panel
  app/controllers/tpi/publications_controller.rb
Labels: tpi, cclow

Updates title for newsarticles and publications
  app/controllers/tpi/publications_controller.rb
Labels: tpi, cclow

Updates title for newsarticles and publications
  app/controllers/tpi/publications_controller.rb
Labels: tpi, cclow

Rename namespace
  .rubocop.yml
Labels: none

Don't add to the chart items that we are not couting on
  app/services/api/charts/cp_performance.rb
Labels: none

Change style of the labels in the chart plot
  app/javascript/components/charts/CPPerformanceAllSectors.js
Labels: none

Fix display of fixed-navbar on mobile screens
  app/assets/stylesheets/tpi/_navbar.scss
  app/views/layouts/tpi.html.erb
Labels: none

Enable two new map datasets in the code
  app/models/cclow_map_context_data.rb
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.csv
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.yml
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.csv
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.yml
Labels: none

Put extra information in map metadata files and enable datasets based on active prop in yml
  app/models/cclow_map_context_data.rb
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.yml
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.yml
Labels: none

Ensure we have images
  app/models/image.rb
  app/views/admin/pages/_image_fields.html.erb
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/pages/show.html.erb
Labels: tpi, admin

Tidy up TPI tables on the backend
  app/admin/mq_assessments.rb
  app/assets/stylesheets/admin/models/cp_assessments.scss
  app/assets/stylesheets/admin/models/mq_assessments.scss
Labels: admin

stream publication files until we resolve that differently
  app/controllers/tpi/publications_controller.rb
Labels: tpi, cclow

use input allow for files, add preview tags
  app/admin/news_article.rb
  app/admin/publication.rb
  app/views/admin/pages/_image_fields.html.erb
Labels: admin

show only currently published assessments
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/show.html.erb
  spec/models/company_spec.rb
Labels: tpi, cclow

Add exception for not assessed option
  app/views/tpi/companies/show.html.erb
Labels: tpi

Expand list of supported types
  app/admin/publication.rb
Labels: admin

Adjusting table sizes on the backend
  app/admin/litigations.rb
  app/admin/targets.rb
  app/assets/stylesheets/admin/models/geographies.scss
  app/assets/stylesheets/admin/models/litigations.scss
  app/assets/stylesheets/admin/models/targets.scss
Labels: admin

Show Laws and Policies as the name
  app/admin/legislations.rb
  config/locales/en.yml
Labels: admin

Adjust tables and styles of admin side
  app/admin/companies.rb
  app/admin/geographies.rb
  app/admin/news_article.rb
  app/admin/publication.rb
  app/admin/tags.rb
  app/admin/tpi_sector_clusters.rb
  app/assets/stylesheets/admin/models/companies.scss
  app/assets/stylesheets/admin/models/cp_benchmarks.scss
  app/assets/stylesheets/admin/models/events.scss
  app/assets/stylesheets/admin/models/news_articles.scss
  app/assets/stylesheets/admin/models/publications.scss
  app/assets/stylesheets/admin/models/tpi_sectors.scss
Labels: admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
