Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Style latest information section
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Labels: tpi

Style latest information accoding to designs
  app/assets/images/icons/minus.svg
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/LatestInformation.js
  app/views/tpi/companies/show.html.erb
Labels: tpi

Don't show Read more button if there are less or exactly three lines of text
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/LatestInformation.js
Labels: none

Make investors and supporters clickable on TPI homepage
  app/assets/images/icons/plus-blue.svg
  app/assets/stylesheets/tpi/_hero.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

Make investors and supporters clickable on TPI homepage
  app/assets/images/icons/plus-blue.svg
  app/assets/stylesheets/tpi/_hero.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

Includes publications and news on sector page
  app/controllers/tpi/sectors_controller.rb
  app/models/tpi_sector.rb
  app/views/tpi/sectors/show.html.erb
Labels: tpi, cclow

Show a bit more detail on the events and responses
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

add filters by type and statuses
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

fix typo
  app/assets/stylesheets/cclow/_filters.scss
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

fix bugs when company has no mq assessments
  app/controllers/concerns/tpi/user_download.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

add missing published scopes for TPI
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/search_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/services/api/charts/cp_assessment.rb
Labels: tpi, cclow

Fix publications layout
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi

fix filter by date
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

fix specs, add global traits for visibility statuses
  spec/factories/visibility_statuses.rb
  spec/services/api/charts/cp_assessment_spec.rb
Labels: none

fix filtering by last event date
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

remove old code
  app/javascript/shared/controllers/content_list_controller.js
  app/views/cclow/climate_targets/index.html.erb
  app/views/cclow/legislation_and_policies/_list_item.html.erb
  app/views/cclow/legislation_and_policies/index.html.erb
  app/views/cclow/litigation_cases/_list_item.html.erb
  app/views/cclow/litigation_cases/index.html.erb
Labels: cclow

add load more button
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

add missing filters
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Labels: none

trying to fix full text filter working with other
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

remove not needed public icons
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  public/icons/arrow-down.svg
  public/icons/arrow-right.svg
  public/icons/check.svg
  public/icons/country-flag.svg
  public/icons/dark-minus.svg
  public/icons/dark-plus.svg
  public/icons/download.svg
  public/icons/filter-blue.svg
  public/icons/filter-white.svg
  public/icons/laws.svg
  public/icons/legal-scale.svg
  public/icons/legislation_types/executive.svg
  public/icons/legislation_types/legislative.svg
  public/icons/official-building.svg
  public/icons/oval.svg
  public/icons/plus.svg
  public/icons/search-again.svg
  public/icons/search.svg
  public/icons/star.svg
  public/icons/target.svg
  public/icons/trending-down.svg
  public/icons/trending-up.svg
  public/icons/white-chevron-down.svg
  public/icons/world.svg
  public/icons/x.svg
Labels: none

trying to fix rcslider
  app/assets/stylesheets/cclow.scss
Labels: none

add distinct to queries
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Labels: none

connect time range filter
  app/javascript/components/pages/cclow/ClimateTargets.js
Labels: none

hide time range filter for targets
  app/javascript/components/pages/cclow/ClimateTargets.js
Labels: none

add missing design for climate target
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
Labels: cclow

change routes for climate targets
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/layouts/cclow/geography.html.erb
  config/routes.rb
Labels: cclow

add is active field to company
  app/admin/companies.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/views/tpi/search/index.html.erb
  db/migrate/20191221151801_add_is_active_to_company.rb
  db/schema.rb
Labels: tpi, cclow, admin

Upgrade octokit to remove warning from Faraday on server startup
  Gemfile
  Gemfile.lock
Labels: none

use cp assessment publication date to select benchmark instead of assessment date
  app/models/company.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  spec/models/company_spec.rb
Labels: none

Move geography specific methods to geography model
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/models/geography.rb
  app/views/cclow/geography/climate_targets/index.html.erb
Labels: cclow

Fix typo and add correct breadcrumbs to climate targets sectors
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/models/geography.rb
Labels: none

Underline only the links of sectors with targets
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geography/climate_targets/index.html.erb
Labels: cclow

Fix NDC targets - query the EUR iso instead of counting targets per each eu country as these targets are duplicated
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/models/geography.rb
Labels: none

quick fix to duplicate laws
  app/views/cclow/geography/legislations/index.html.erb
Labels: cclow

Sector should exist, but adding a failsafe because some data is not clean
  app/models/geography.rb
Labels: none

Small design fixes
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geography/legislations/_climate_targets.html.erb
  app/views/cclow/geography/legislations/show.html.erb
Labels: cclow

Fix after rebase
  app/assets/stylesheets/cclow/_geography-page.scss
Labels: none

update tagline
  app/views/cclow/home/_hero.html.erb
Labels: cclow

Adds links on title for laws and litigation cases. not sure if the icon should link too
  app/assets/stylesheets/cclow/_hero.scss
  app/views/cclow/home/_hero.html.erb
Labels: cclow

Standardize the titles
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
