Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Adds fields to geographies and updates backend and frontend
  app/admin/geographies.rb
  app/decorators/geography_decorator.rb
  app/models/geography.rb
  app/views/admin/geographies/_form.html.erb
  app/views/cclow/geographies/_overview.html.erb
  db/migrate/20200227100810_add_percent_global_emissions_and_climate_risk_index_and_wb_income_group_to_geographies.rb
  db/schema.rb
  spec/factories/geographies.rb
  spec/models/geography_spec.rb
Labels: cclow, admin

annotates models
  app/models/cp/unit.rb
  app/models/image.rb
  app/models/tpi_sector.rb
  app/models/tpi_sector_cluster.rb
  spec/factories/tpi_sectors.rb
  spec/models/cclow_page_spec.rb
  spec/models/tpi_page_spec.rb
  spec/models/tpi_sector_spec.rb
Labels: none

Adds import script for geographies metadata
  app/decorators/geography_decorator.rb
  app/services/csv_import/geographies.rb
  app/services/migration/geographies.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/geographies_metadata.csv
  lib/tasks/reimport.rake
Labels: none

use friendly_id for geographies page URLs
  app/controllers/cclow/geographies_controller.rb
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/decorators/cclow/target_decorator.rb
  app/views/layouts/cclow/geography.html.erb
Labels: cclow

[CCLOW] Style static pages according to UI kit
  app/assets/stylesheets/cclow/_pages.scss
Labels: none

Add route method ot legislation
  app/controllers/cclow/api/targets_controller.rb
  app/models/legislation.rb
  app/models/target.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Labels: none

Change type of publication date to datetime, so they can control sorting
  app/admin/news_article.rb
  app/admin/publication.rb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/show.html.erb
  db/migrate/20200227111927_change_publication_date_on_publications.rb
  db/schema.rb
Labels: tpi, admin

Removes article_type from news_articles
  app/admin/news_article.rb
  app/models/news_article.rb
  app/services/csv_import/news_articles.rb
  app/views/tpi/publications/_promoted.html.erb
  db/migrate/20200227112956_remove_article_type_from_news_articles.rb
Labels: tpi, admin

Use different date_time_picker
  app/admin/news_article.rb
  app/admin/publication.rb
Labels: admin

[TPI] Style static pages according to UI kit
  app/assets/stylesheets/tpi/_pages.scss
Labels: none

Don't crash if theres no description
  app/views/tpi/pages/show.html.erb
Labels: tpi

[CCLOW] Use inside list-style + add text-indent to lists
  app/assets/stylesheets/cclow/_pages.scss
Labels: none

[TPI] Fix static pages grid - it should take up space of 9 columns
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/views/tpi/pages/show.html.erb
Labels: tpi

Adds link to publications
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_header.html.erb
Labels: cclow

add cookies consent tooltip
  app/assets/images/cclow/icons/close.svg
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_cookies-tooltip.scss
  app/javascript/shared/controllers/cookies_consent_controller.js
  app/views/layouts/cclow.html.erb
  app/views/layouts/cclow/_cookies_tooltip.html.erb
Labels: none

fix geography links
  app/controllers/cclow/api/map_indicators_controller.rb
  app/javascript/components/LawsDropdown.js
  app/services/api/latest_additions.rb
  app/services/api/presenters/event.rb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/home/_hero.html.erb
Labels: cclow

add about cookies link
  app/views/layouts/cclow/_cookies_tooltip.html.erb
Labels: none

style fix
  app/assets/stylesheets/cclow/_cookies-tooltip.scss
Labels: none

fix filter style
  app/assets/stylesheets/tpi/_filters.scss
Labels: none

removed already fixed litigations
  db/seeds/laws_migration/litigation-sources.csv
Labels: none

Clear case documents when importing updated data
  app/services/migration/litigation.rb
Labels: none

print right info
  app/services/migration/litigation.rb
Labels: none

Fix a couple of entries
  db/seeds/laws_migration/litigation-sources.csv
Labels: none

Catch more errors, fix file again
  app/services/migration/litigation.rb
  db/seeds/laws_migration/litigation-sources.csv
Labels: none

very ugly fix to cp chart
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/options.js
Labels: none

eslint plugin hooks
  .eslintrc.yml
  package.json
  yarn.lock
Labels: none

refactor cp chart
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/CompanySelector.js
  app/services/api/charts/sector.rb
Labels: none

error handling
  app/javascript/components/charts/cp-performance/Chart.js
Labels: none

fix cp chart for single assessment
  app/javascript/components/charts/cp-performance/Chart.js
Labels: none

use friendly_id for litigation cases and legislations URLs
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/services/api/presenters/event.rb
  app/views/cclow/cclow/_releted_litigations_list.html.erb
  config/brakeman.ignore
Labels: cclow

return extra changes
  app/controllers/cclow/geography/litigation_cases_controller.rb
Labels: none

fix legend for the single cp chart
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/CompanySelector.js
Labels: none

Updates puma
  Gemfile.lock
Labels: none

validates legislation_type
  app/models/legislation.rb
Labels: none

implement mobile versions of the Search page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/assets/stylesheets/cclow/layout.scss
  app/helpers/application_helper.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/views/layouts/cclow/_fixed-navbar.html.erb
  app/views/layouts/cclow/_footer.html.erb
Labels: none

bug fix
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/layout.scss
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

move BubbleChart to charts folder
  app/javascript/components/charts/bubble/Chart.js
  app/javascript/components/charts/bubble/SingleCell.js
  app/javascript/components/charts/bubble/index.js
  app/views/tpi/sectors/index.html.erb
Labels: tpi

move mq assessment level chart to JS
  app/helpers/chart_helper.rb
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/mq-level/Chart.js
  app/javascript/components/charts/mq-level/index.js
  app/javascript/components/charts/mq-level/options.js
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/mq_assessment.js.erb
Labels: tpi

move mq sector pie chart to JS
  app/helpers/chart_helper.rb
  app/javascript/components/charts/mq-sector-pie/Chart.js
  app/javascript/components/charts/mq-sector-pie/index.js
  app/javascript/components/charts/mq-sector-pie/options.js
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

remove chartkick
  Gemfile
  Gemfile.lock
  app/javascript/packs/tpi.js
  package.json
  yarn.lock
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
