Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

add instruments to legislation page
  app/controllers/cclow/geography/legislations_controller.rb
  app/views/cclow/geography/legislations/show.html.erb
Labels: cclow

fix categories tag css
  app/assets/stylesheets/cclow/_geography-page.scss
Labels: none

fix scroll anchor for load more button
  app/assets/stylesheets/cclow/_buttons.scss
  app/javascript/components/pages/cclow/List.js
Labels: none

couple tweaks for admin panel
  app/admin/page.rb
  app/assets/stylesheets/admin/models/events.scss
  app/assets/stylesheets/admin/models/pages.scss
  app/assets/stylesheets/admin/models/targets.scss
  app/assets/stylesheets/admin/models/testimonials.scss
  app/assets/stylesheets/admin/utilities.scss
  app/decorators/content_decorator.rb
Labels: admin

instruments ordered_with_parent
  app/controllers/cclow/geography/legislations_controller.rb
  app/models/instrument.rb
Labels: none

allow setting different branch to deploy to staging
  config/deploy/staging.rb
Labels: none

update staging domains
  config/environments/staging.rb
Labels: none

fix cp tooltip interactions on mobile
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/Tooltip.js
  app/javascript/components/charts/cp-performance/options.js
Labels: none

use direct upload to fix preview whenever there is validation error
  app/helpers/file_helper.rb
  app/inputs/file_input.rb
  app/javascript/admin/index.js
Labels: admin

fix documents without language bug
  app/views/cclow/cclow/_documents_list.html.erb
Labels: cclow

remove close button for cp performance tooltip
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/Tooltip.js
  app/javascript/components/charts/cp-performance/options.js
Labels: none

changing title and description for cclow pages
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/cclow/geography/legislations/index.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
  app/views/cclow/home/index.html.erb
  app/views/cclow/pages/show.html.erb
  app/views/layouts/cclow.html.erb
Labels: cclow

change tpi pages titles and description, fix some of cclow as well
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/layouts/tpi.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/home/disclaimer.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/home/newsletter.html.erb
  app/views/tpi/home/register.html.erb
  app/views/tpi/pages/show.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  app/views/tpi/search/index.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi, cclow

updating dependencies
  Gemfile.lock
  config/webpacker.yml
  package.json
  yarn.lock
Labels: none

fix html content list formatting for cclow
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

more robust solution for wrong language
  app/views/cclow/cclow/_documents_list.html.erb
Labels: cclow

bump node version
  config/deploy.rb
Labels: none

bump node once again
  .nvmrc
  config/deploy.rb
Labels: none

admin panel: add preview button for some resources
  app/admin/companies.rb
  app/admin/geographies.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/news_article.rb
  app/admin/page.rb
  app/admin/tpi_sectors.rb
  app/decorators/legislation_decorator.rb
  app/decorators/page_decorator.rb
Labels: admin

fix cclow pages, slug_path -> path
  app/controllers/cclow/pages_controller.rb
  app/controllers/concerns/cclow/static_pages_controller.rb
Labels: none

different domains for preview urls
  app/admin/companies.rb
  app/admin/geographies.rb
  app/admin/litigations.rb
  app/admin/news_article.rb
  app/admin/tpi_sectors.rb
  app/decorators/company_decorator.rb
  app/decorators/geography_decorator.rb
  app/decorators/legislation_decorator.rb
  app/decorators/litigation_decorator.rb
  app/decorators/news_article_decorator.rb
  app/decorators/page_decorator.rb
  app/decorators/tpi_sector_decorator.rb
  config/application.rb
  config/environments/production.rb
  config/environments/staging.rb
Labels: admin

admin: remove upload link for documents
  app/admin/documents.rb
  lib/extensions/active_admin/active_admin_csv_download.rb
Labels: admin

admin: do not break words in table cells
  app/assets/stylesheets/admin/base.scss
Labels: none

remove legislation and litigation index pages, redirect to search
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/legislations/index.html.erb
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
Labels: cclow

add extra message for laws and policies filter when eu member selected
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/models/geography.rb
Labels: none

fix eslint
  .eslintrc.yml
  app/javascript/components/DropdownSelector.js
  app/javascript/components/MobileNavigateMenu.js
  app/javascript/components/MultiSelect.js
  app/javascript/components/Navbar.js
  app/javascript/components/NestedDropdown.js
  app/javascript/components/RemoteDropdown.js
  app/javascript/components/SearchFilter.js
  app/javascript/components/Testimonials.js
  app/javascript/components/charts/bubble/CompaniesAccordion.js
  app/javascript/components/charts/cp-performance/helpers.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/packs/cclow.js
  app/javascript/packs/server_rendering.js
  app/javascript/packs/tpi.js
  package.json
  yarn.lock
Labels: none

fix message verifier active storage error - just temp fix
  app/helpers/file_helper.rb
  app/inputs/file_input.rb
Labels: none

some useful redirects when litigation case or law does not exist
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
Labels: none

bundle update
  Gemfile.lock
  package.json
  yarn.lock
Labels: none

some js dependency updates
  package.json
  yarn.lock
Labels: none

security update node-forge
  yarn.lock
Labels: none

set logrotation
  config/environments/production.rb
  config/environments/staging.rb
Labels: none

add targets to admin legislation show view
  app/admin/legislations.rb
  app/decorators/legislation_decorator.rb
Labels: admin

add Burmese to language list
  app/models/language.rb
Labels: none

adding a rake task that cleans up wrongly imported characters
  lib/tasks/fix.rake
Labels: none

transaction should wrap everything
  lib/tasks/fix.rake
Labels: none

moar wrong characters
  lib/tasks/fix.rake
Labels: none

add some specs to test dropping cclow, tpi prefixes
  app/views/cclow/geographies/_overview.html.erb
  app/views/layouts/cclow/geography.html.erb
  spec/requests/cclow_prefix_dropped_spec.rb
  spec/requests/tpi_prefix_droppped_spec.rb
  spec/system/public/cclow/geographies_spec.rb
Labels: cclow

keep serving json on old /cclow/api/targets endpoints
  config/routes.rb
Labels: none

change how we determine sectoral vs framework laws
  app/controllers/cclow/api/targets_controller.rb
  app/models/legislation.rb
  app/models/target.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Labels: none
