Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Add BETA to level 5
  app/views/tpi/sectors/show.html.erb
Labels: tpi

feat: adding beta_mq_assessments? to company model
  app/models/company.rb
  spec/models/company_spec.rb
Labels: none

refactoring: Methodology is taken into accounts during calculation of MQ status
  app/models/mq/assessment.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Labels: none

Clean key from special characters so d3-select doesn't crash
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/Chart.js
Labels: none

Disable BETA button and add tooltip for companies lacking data
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_info-tooltip.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/javascript/components/tpi/InfoTooltip.js
  app/views/tpi/companies/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi

fix: of other views using mq_beta_scores partial
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

fix: show tooltip only when there are no MQ BETA data
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi

feat: ASCOR Countries model
  app/admin/ascor/countries.rb
  app/admin/data_uploads.rb
  app/models/ascor.rb
  app/models/ascor/country.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_countries.rb
  app/services/csv_import/base_importer.rb
  app/services/seed/tpi_data.rb
  config/initializers/inflections.rb
  db/migrate/20230912074824_create_ascor_countries.rb
  db/seeds/tpi/ascor_countries.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_countries_controller_spec.rb
  spec/factories/ascor_countries.rb
  spec/models/ascor/countries_spec.rb
  spec/support/fixtures/files/ascor_countries.csv
Labels: admin

feat: ASCOR Benchmarks model
  app/admin/ascor/benchmarks.rb
  app/admin/ascor/countries.rb
  app/models/ascor/benchmark.rb
  app/models/ascor/benchmark_type.rb
  app/models/ascor/country.rb
  app/models/ascor/emissions_boundary.rb
  app/models/ascor/emissions_metric.rb
  app/models/ascor/land_use.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_benchmarks.rb
  app/services/seed/tpi_data.rb
  config/initializers/active_admin.rb
  db/migrate/20230912103652_create_ascor_benchmarks.rb
  db/seeds/tpi/ascor_benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_benchmarks_controller_spec.rb
  spec/factories/ascor_benchmarks.rb
  spec/models/ascor/benchmarks_spec.rb
  spec/support/fixtures/files/ascor_benchmarks.csv
Labels: admin

feat: ASCOR Pathways model
  app/admin/ascor/pathways.rb
  app/models/ascor/country.rb
  app/models/ascor/emissions_metric.rb
  app/models/ascor/pathway.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_pathways.rb
  app/services/seed/tpi_data.rb
  db/migrate/20230912074824_create_ascor_countries.rb
  db/migrate/20230914065509_create_ascor_pathways.rb
  db/seeds/tpi/ascor_pathways.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_pathways_controller_spec.rb
  spec/factories/ascor_pathways.rb
  spec/models/ascor/pathways_spec.rb
  spec/support/fixtures/files/ascor_pathways.csv
Labels: admin

feat: ASCOR Assessment indicators model
  app/admin/ascor/assessment_indicators.rb
  app/admin/ascor/benchmarks.rb
  app/admin/ascor/countries.rb
  app/admin/ascor/pathways.rb
  app/models/ascor/assessment_indicator.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_assessment_indicators.rb
  app/services/seed/tpi_data.rb
  db/migrate/20230914100201_create_ascor_assessment_indicators.rb
  db/seeds/tpi/ascor_assessment_indicators.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_assessment_indicators_controller_spec.rb
  spec/factories/ascor_assessment_indicators.rb
  spec/models/ascor/assessment_indicator_spec.rb
  spec/support/fixtures/files/ascor_assessment_indicators.csv
Labels: admin

feat: ASCOR Assessments model
  app/admin/ascor/assessments.rb
  app/models/ascor/assessment.rb
  app/models/ascor/assessment_indicator.rb
  app/models/ascor/assessment_result.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_assessments.rb
  app/services/seed/tpi_data.rb
  db/migrate/20230915063557_create_ascor_assessments.rb
  db/migrate/20230915064402_create_ascor_assessment_results.rb
  db/seeds/tpi/ascor_assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_assessments_controller_spec.rb
  spec/factories/ascor_assessment.rb
  spec/factories/ascor_assessment_result.rb
  spec/models/ascor/assessment_result_spec.rb
  spec/models/ascor/assessment_spec.rb
  spec/support/fixtures/files/ascor_assessments.csv
Labels: admin

feat: Basic skeleton of ASCOR page
  app/admin/ascor/assessments.rb
  app/assets/stylesheets/tpi/pages/sovereign-bonds.scss
  app/controllers/tpi/sovereign_bonds_issuers_controller.rb
  app/models/ascor/country.rb
  app/services/seed/tpi_data.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/sovereign_bonds_issuers/index.html.erb
  app/views/tpi/sovereign_bonds_issuers/show.html.erb
  config/routes.rb
  db/migrate/20230912074824_create_ascor_countries.rb
  db/structure.sql
  db/test-dump.psql
  lib/tasks/onetime.rake
  spec/controllers/tpi/sovereign_bonds_issuers_controller_spec.rb
  spec/system/public/tpi/sovereign_bonds_issuers_spec.rb
Labels: tpi, cclow, admin

fix: update brakeman warning list
  config/brakeman.ignore
Labels: none

refactoring: Renaming sovereign_bonds_issuers to ascor
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/country.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/home/index.html.erb
  config/brakeman.ignore
  config/routes.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/system/public/tpi/ascor_spec.rb
Labels: tpi, cclow

refactoring: ASCOR countries model
  app/admin/ascor/countries.rb
  app/models/ascor/country.rb
  app/services/csv_import/ascor_countries.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_countries.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_countries.rb
  spec/models/ascor/countries_spec.rb
  spec/support/fixtures/files/ascor_countries.csv
Labels: admin

refactoring: ASCOR benchmarks model
  app/admin/ascor/benchmarks.rb
  app/models/ascor/benchmark.rb
  app/models/ascor/emissions_boundary.rb
  app/models/ascor/emissions_metric.rb
  app/services/csv_import/ascor_benchmarks.rb
  app/services/csv_import/helpers/emissions.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_benchmarks.rb
  spec/models/ascor/benchmarks_spec.rb
  spec/support/fixtures/files/ascor_benchmarks.csv
Labels: admin

refactoring: ASCOR assessment indicators model
  app/admin/ascor/assessment_indicators.rb
  app/models/ascor/assessment_indicator.rb
  app/services/csv_import/ascor_assessment_indicators.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_assessment_indicators.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_assessment_indicators.rb
  spec/support/fixtures/files/ascor_assessment_indicators.csv
Labels: admin

refactoring: ASCOR assessments model
  app/admin/ascor/assessments.rb
  app/admin/ascor/benchmarks.rb
  app/admin/ascor/countries.rb
  app/admin/ascor/pathways.rb
  app/services/csv_import/ascor_assessments.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_assessment.rb
  spec/factories/ascor_assessment_result.rb
  spec/support/fixtures/files/ascor_assessments.csv
Labels: admin

refactoring: ASCOR pathways model
  app/admin/ascor/assessments.rb
  app/admin/ascor/benchmarks.rb
  app/admin/ascor/countries.rb
  app/admin/ascor/pathways.rb
  app/models/ascor/emissions_boundary.rb
  app/models/ascor/emissions_metric.rb
  app/models/ascor/land_use.rb
  app/models/ascor/pathway.rb
  app/services/csv_import/ascor_pathways.rb
  app/services/csv_import/helpers/emissions.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_pathways.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_assessment_result.rb
  spec/factories/ascor_pathways.rb
  spec/models/ascor/pathways_spec.rb
  spec/support/fixtures/files/ascor_pathways.csv
Labels: admin

feat: Export ASCOR indicators
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/assessment.rb
  app/models/ascor/assessment_indicator.rb
  app/models/ascor/assessment_result.rb
  app/models/ascor/benchmark.rb
  app/models/ascor/country.rb
  app/models/ascor/pathway.rb
  app/models/bank_assessment_indicator.rb
  app/models/publication.rb
  app/services/csv_export/ascor/assessment_indicators.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/factories/ascor_assessment_indicators.rb
  spec/factories/ascor_benchmarks.rb
  spec/factories/ascor_countries.rb
  spec/factories/ascor_pathways.rb
  spec/factories/bank_assessment_indicators.rb
  spec/factories/publications.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_indicators_csv.json
  spec/models/ascor/assessment_indicator_spec.rb
  spec/models/ascor/assessment_result_spec.rb
  spec/models/ascor/assessment_spec.rb
  spec/models/bank_assessment_indicator_spec.rb
  spec/models/publication_spec.rb
Labels: tpi, cclow

feat: Export ASCOR assessments
  app/controllers/tpi/ascor_controller.rb
  app/services/csv_export/ascor/assessments.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_assessment_indicators_csv.json
  spec/rails_helper.rb
Labels: tpi, cclow

feat: Export ASCOR countries
  app/controllers/tpi/ascor_controller.rb
  app/services/csv_export/ascor/countries.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_countries_csv.json
Labels: tpi, cclow

feat: Export ASCOR benchmarks
  app/controllers/tpi/ascor_controller.rb
  app/services/csv_export/ascor/benchmarks.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/factories/ascor_assessment.rb
  spec/factories/ascor_benchmarks.rb
  spec/factories/ascor_pathways.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_assessment_indicators_csv.json
  spec/fixtures/snapshots/tpi_ascor_download_zip_benchmarks_csv.json
Labels: tpi, cclow

feat: Export ASCOR pathways
  app/controllers/tpi/ascor_controller.rb
  app/services/csv_export/ascor/pathways.rb
  app/services/csv_import/ascor_pathways.rb
  app/services/csv_import/helpers/emissions.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_pathways_csv.json
  spec/support/fixtures/files/ascor_pathways.csv
Labels: tpi, cclow

feat: Allow to hide bank assessment results at bubble and accordion charts
  app/admin/bank_assessment_indicators.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/views/tpi/banks/_index_charts.html.erb
  app/views/tpi/banks/index.html.erb
  db/migrate/20230926075145_add_disable_bubbles_at_graph_to_bank_assessment_indicator.rb
  db/structure.sql
  db/test-dump.psql
Labels: tpi, admin

fix: structure.sql
  db/structure.sql
Labels: none

feat: Mark indicator as placeholder
  app/admin/bank_assessment_indicators.rb
  app/javascript/components/tpi/charts/average-bank-score/Chart.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
  app/services/csv_export/user/bank_assessments.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_index_charts.html.erb
  app/views/tpi/banks/_indicators.html.erb
  db/migrate/20230927112905_rename_disable_bubbles_at_chart_to_is_placeholder.rb
  db/structure.sql
  db/test-dump.psql
Labels: tpi, admin

feat: ASCOR layer
  app/assets/images/tpi/ascor/circles_1.svg
  app/assets/images/tpi/ascor/circles_2.svg
  app/assets/images/tpi/ascor/logo.png
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/RemoteDropdown.js
  app/views/layouts/tpi/_banner.html.erb
  app/views/layouts/tpi/_hosted_by.html.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Labels: tpi

feat: ASCOR bubble chart data
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/assessment_result.rb
  app/services/api/ascor/bubble_chart.rb
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/_index_assessment.js.erb
  app/views/tpi/ascor/index.html.erb
  config/routes.rb
  spec/services/api/ascor/bubble_chart_spec.rb
Labels: tpi, cclow

test: use match_array instead of eq
  spec/services/api/ascor/bubble_chart_spec.rb
Labels: none

feat: ASCOR emissions chart data
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/country.rb
  app/services/api/ascor/emissions_chart.rb
  app/views/tpi/ascor/_emissions_chart.html.erb
  app/views/tpi/ascor/_index_emissions_assessment.js.erb
  app/views/tpi/ascor/index.html.erb
  config/routes.rb
  spec/services/api/ascor/emissions_chart_spec.rb
Labels: tpi, cclow

Create countries bubble chart
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/country-bubble/Chart.js
  app/javascript/components/tpi/charts/country-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/country-bubble/SingleCell.js
  app/javascript/components/tpi/charts/country-bubble/constants.js
  app/javascript/components/tpi/charts/country-bubble/index.js
  app/views/tpi/ascor/_bubble_chart.html.erb
Labels: tpi

feat: ASCOR assessments results per country
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_index_assessment.js.erb
  app/views/tpi/ascor/_show_assessment.js.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  config/routes.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/ascor_spec.rb
Labels: tpi, cclow

refactoring: removing TODOs and renaming ascor bubble chart folder
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
  app/javascript/components/tpi/charts/ascor-bubble/index.js
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/index.html.erb
  spec/system/public/tpi/ascor_spec.rb
Labels: tpi

Review fixes
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/ascor-bubble/index.js
Labels: none

feat: Rest of the styles
  app/assets/images/tpi/ascor/circles_1.svg
  app/assets/images/tpi/ascor/circles_2.svg
  app/assets/images/tpi/ascor/excempt.svg
  app/assets/images/tpi/ascor/logo.png
  app/assets/images/tpi/ascor/no.svg
  app/assets/images/tpi/ascor/no_data.svg
  app/assets/images/tpi/ascor/no_disclosure.svg
  app/assets/images/tpi/ascor/not_applicable.svg
  app/assets/images/tpi/ascor/oval.svg
  app/assets/images/tpi/ascor/partial.svg
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/helpers/ascor_helper.rb
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/services/api/ascor/emissions_chart.rb
  app/views/tpi/ascor/_assessment.html.erb
Labels: tpi, cclow

fix of descriptions
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/index.html.erb
Labels: tpi

feat: Calculate ASCOR recent emissions
  app/admin/ascor/assessments.rb
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/AscorRecentEmissions.js
  app/services/api/ascor/recent_emissions.rb
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_metrics_ep1a.html.erb
  spec/services/api/ascor/recent_emissions_spec.rb
Labels: tpi, cclow, admin

feat: Adding modals with info to ASCOR All countries page
  app/javascript/components/tpi/InfoModal.js
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/_emissions_chart.html.erb
  app/views/tpi/ascor/index.html.erb
Labels: tpi
