Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

fix(tpi): adjust partners banner to design specs
  app/assets/stylesheets/tpi/_banner.scss
  app/views/layouts/tpi/_banner.html.erb
Labels: none

Mobile brand fixes
  app/assets/images/clint_eastwood.jpg
  app/assets/images/eli_wallach.jpg
  app/assets/images/lee_van_cleef.jpg
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/javascript/components/Navbar.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Labels: none

Fix inside navbar-menu for mobile devices
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/Navbar.js
Labels: none

Thicking the burger
  app/assets/stylesheets/tpi/_navbar.scss
Labels: none

Set default date formatting
  config/initializers/date_time.rb
Labels: none

rename label and info icons
  app/views/tpi/companies/show.html.erb
  config/locales/controllers.en.yml
Labels: tpi

Updates spec to new date format
  spec/models/company_spec.rb
  spec/services/api/charts/mq_assessment_spec.rb
Labels: none

set datepicker default date format directly in input
  app/inputs/datepicker_input.rb
  config/initializers/date_time.rb
  config/initializers/time_date_formats.rb
Labels: none

Filter litigations by side types and names
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
Labels: none

Add missing labels to litigation show page
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

Make litigation sides linkable (if connected entity present) + add ellipsis to long tags
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Labels: cclow

cclow user download: add legislation file export
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/services/csv_export/user/legislations.rb
  config/initializers/renderers.rb
Labels: none

cclow user download: legislations quick optimization
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/services/csv_export/user/legislations.rb
Labels: none

Sort the filter lists
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/SearchFilter.js
Labels: none

Fix the url to connected entity
  app/decorators/litigation_side_decorator.rb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
Labels: cclow

Create a litigation side decorator dedicated for frontend
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/decorators/cclow/litigation_side_decorator.rb
  app/decorators/litigation_side_decorator.rb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
Labels: cclow

cclow user download: climate targets csv
  app/controllers/cclow/climate_targets_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/targets.rb
Labels: none

cclow user download: litigation cases backend side
  app/controllers/cclow/litigation_cases_controller.rb
  app/services/csv_export/user/litigations.rb
Labels: none

Fix background color of more options in Firefox
  app/assets/stylesheets/cclow/_geography-page.scss
Labels: none

Simplifies litigation sides filtering and adds specs
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Labels: none

Added published_litigation sub factory
  spec/factories/litigations.rb
Labels: none

Fix scope issue. Adds another line to ensure we test published/unpublished filtering
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Labels: none

cclow user download: change litigation cases frontend, add connected laws and events to csv
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/csv_export/user/litigations.rb
Labels: none

Unnused method
  app/services/queries/cclow/litigation_query.rb
Labels: none

Show requested fields, fix some min_widths to make things better
  app/admin/legislations.rb
  app/assets/stylesheets/admin/models/legislations.scss
Labels: admin

adjust columns for litigations admin index page
  app/admin/litigations.rb
  app/assets/stylesheets/admin/models/litigations.scss
Labels: admin

Enable filtering by methodology version
  app/admin/mq_assessments.rb
  app/models/mq/assessment.rb
Labels: admin

Support our default format of date
  app/services/csv_import/mq_assessments.rb
Labels: none

Fix links color
  app/assets/stylesheets/cclow/_geography-page.scss
Labels: none

code review
  app/controllers/tpi/search_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/decorators/tpi/company_decorator.rb
  app/models/company.rb
  app/views/tpi/search/index.html.erb
  db/migrate/20191221151801_add_active_to_company.rb
  db/migrate/20191221151801_add_is_active_to_company.rb
  db/schema.rb
  spec/factories/companies.rb
  spec/models/company_spec.rb
Labels: tpi, cclow

rename company's field
  app/admin/companies.rb
Labels: admin

add more cclow controller simple specs
  app/controllers/cclow/legislation_and_policies_controller.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/factories/litigations.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Labels: none

little optimization with reseting scope
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
Labels: none

updates value on home
  app/views/tpi/home/index.html.erb
Labels: tpi

update number of investors too
  app/views/tpi/home/index.html.erb
Labels: tpi

Link to related laws and litigations
  app/views/cclow/cclow/_related_laws_list.html.erb
  app/views/cclow/cclow/_releted_litigations_list.html.erb
Labels: cclow

add name to image
  app/admin/page.rb
  app/models/image.rb
  app/views/admin/pages/_image_fields.html.erb
  app/views/cclow/pages/show.html.erb
  app/views/tpi/pages/show.html.erb
  db/migrate/20200117095143_add_name_to_image.rb
  db/schema.rb
Labels: tpi, cclow, admin

add timestamps to image
  db/migrate/20200117122856_add_timestamps_to_image.rb
  db/schema.rb
Labels: none

DRY
  app/views/admin/pages/_image_fields.html.erb
  db/schema.rb
Labels: admin

remove comments
  app/models/ability.rb
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
