Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

comment this seed again
  db/seeds.rb
Labels: none

Adds link to contact us and placeholder for signup area
  app/controllers/tpi/home_controller.rb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_header.html.erb
  app/views/tpi/home/register.html.erb
  config/routes.rb
Labels: tpi, cclow

SAVEPOINT
  app/services/csv_export/user/mq_assessments.rb
Labels: none

add download company data for a user
  Gemfile
  Gemfile.lock
  app/assets/images/icons/download.svg
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/tpi/companies_controller.rb
  app/services/csv_export/user/cp_assessments.rb
  app/views/tpi/companies/show.html.erb
  config/initializers/renderers.rb
  config/routes.rb
  db/seeds/mq-assessments-M1.csv
  db/seeds/mq-assessments-M2.csv
  db/seeds/mq-assessments-M3.csv
Labels: tpi, cclow

rubocop wasn't happy
  app/controllers/tpi/home_controller.rb
Labels: tpi, cclow

sort publications and news properly
  app/controllers/tpi/publications_controller.rb
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi, cclow

Sort properly, link well
  app/controllers/tpi/publications_controller.rb
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi, cclow

add download all data for all sectors and chosen sector
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/mq/assessment.rb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
Labels: tpi, cclow

fix the check for image
  app/views/tpi/publications/_promoted.html.erb
Labels: tpi

add sectors's benchmarks, units to cp assessments, think that's all
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
Labels: tpi, cclow

fix offenses
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

Adds timestamps to files and geography names
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  config/routes.rb
Labels: tpi, cclow

do not include empty files in user's download, remove go to carbon per if there are no, fix fetch company
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi, cclow

Enables tagging news_articles and publications
  app/admin/news_article.rb
  app/admin/publication.rb
  app/models/news_article.rb
  app/models/publication.rb
  db/migrate/20191204095451_rename_thumbnail_to_image_in_publications.rb
  db/schema.rb
Labels: admin

Dry models
  app/models/concerns/image_with_thumb.rb
  app/models/news_article.rb
  app/models/publication.rb
Labels: none

Fixed sorting and show only a few on the homepage
  app/controllers/tpi/home_controller.rb
  app/controllers/tpi/publications_controller.rb
Labels: tpi, cclow

Adds sector_id to news_articles and publications
  app/admin/news_article.rb
  app/admin/publication.rb
  app/models/news_article.rb
  app/models/publication.rb
  db/migrate/20191204100945_add_tpi_sector_id_to_publications_and_news.rb
  db/schema.rb
Labels: admin

rubocop knows
  app/admin/news_article.rb
  app/admin/publication.rb
  app/controllers/tpi/home_controller.rb
Labels: tpi, cclow, admin

Add react component scaffold for Publication filters
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_filters.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/views/tpi/publications/index.html.erb
Labels: tpi, cclow

give me some space
  app/assets/stylesheets/tpi/_pages.scss
Labels: none

Adds google analytics code
  app/views/layouts/tpi.html.erb
Labels: none

Adds title to all pages
  app/views/tpi/companies/show.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/home/newsletter.html.erb
  app/views/tpi/home/register.html.erb
  app/views/tpi/pages/show.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

change to image_processsing gem
  Gemfile
  Gemfile.lock
Labels: none

Nicer
  app/views/layouts/tpi.html.erb
Labels: none

fix load more button and add description size limit
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/shared/controllers/content_list_controller.js
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
  app/views/cclow/legislation_and_policies/_list_item.html.erb
  app/views/cclow/legislation_and_policies/index.html.erb
  app/views/cclow/litigation_cases/_list_item.html.erb
  app/views/cclow/litigation_cases/index.html.erb
Labels: cclow

feature(tpi): add search bar
  app/assets/images/icon_search/close.png
  app/assets/images/icon_search/close.svg
  app/assets/images/icon_search/close@2x.png
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/Navbar.js
  app/views/layouts/_header.html.erb
Labels: none

Setup links on footer
  app/controllers/tpi/home_controller.rb
  app/views/layouts/_footer.html.erb
  app/views/tpi/home/disclaimer.html.erb
  config/routes.rb
Labels: tpi, cclow

fix identation
  app/views/tpi/home/disclaimer.html.erb
Labels: tpi

Adds missing header
  app/services/csv_export/user/cp_assessments.rb
Labels: none

setup appsignal
  Capfile
  Gemfile
  Gemfile.lock
  config/appsignal.yml
  config/credentials.yml.enc
Labels: none

Changes to CP Assessments download
  app/services/csv_export/user/cp_assessments.rb
Labels: none

Changes to MQ Assessments download
  app/controllers/tpi/sectors_controller.rb
  app/services/csv_export/user/mq_assessments.rb
Labels: tpi, cclow

Please rubocop
  app/services/csv_export/user/cp_assessments.rb
Labels: none

add enter search action
  app/javascript/components/Navbar.js
Labels: none

Moves units import to TPI seed
  app/services/seed/tpi_data.rb
  db/seeds.rb
Labels: none

starting to fill in the search
  app/controllers/tpi/search_controller.rb
  app/models/company.rb
  app/models/news_article.rb
  app/models/publication.rb
  app/models/tpi_sector.rb
  config/routes.rb
Labels: tpi, cclow

Fixing import files and adding warning
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/mq_assessments.rb
  db/seeds/cp-assessments.csv
  db/seeds/tpi-companies.csv
Labels: none

Improves search, sorts records, adds display. needs love
  app/controllers/tpi/search_controller.rb
  app/models/company.rb
  app/models/news_article.rb
  app/models/publication.rb
  app/models/tpi_sector.rb
  app/views/tpi/search/index.html.erb
Labels: tpi, cclow

help rubocop be happy
  app/models/company.rb
  app/models/news_article.rb
  app/models/publication.rb
  app/models/tpi_sector.rb
Labels: none

change orders for downloads
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow
