Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

news and publications filter refactor
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/models/tag.rb
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/index.html.erb
  config/routes.rb
  spec/factories/publications.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
Labels: tpi, cclow

Remove button's default outline
  app/assets/stylesheets/tpi/_filters.scss
Labels: none

Persist state of active options in react, fix filtering on backend
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/index.html.erb
Labels: tpi, cclow

Fixes specs to match implementation
  spec/services/queries/tpi/news_publications_query_spec.rb
Labels: none

add react select to worldmap
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
Labels: none

remove not needed section on home page
  app/views/cclow/home/index.html.erb
Labels: cclow

Adds CCLOWPage model, uses STI
  app/admin/cclow_page.rb
  app/admin/tpi_page.rb
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/controllers/tpi/home_controller.rb
  app/controllers/tpi/pages_controller.rb
  app/decorators/page_decorator.rb
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/services/dynamic_router.rb
  db/migrate/20191206082828_add_type_to_pages.rb
  db/schema.rb
  lib/tasks/static_pages.rake
Labels: tpi, cclow, admin

Initialize Page
  db/migrate/20191206082828_add_type_to_pages.rb
Labels: none

Tidy up the admin pages
  app/admin/cclow_page.rb
  app/admin/page.rb
  app/admin/tpi_page.rb
  app/models/cclow_page.rb
  app/models/tpi_page.rb
  app/views/admin/pages/_content.html.erb
  app/views/admin/pages/_content_fields.html.erb
  app/views/admin/pages/_form.html.erb
  app/views/admin/pages/_image.html.erb
  lib/tasks/static_pages.rake
  spec/factories/pages.rb
Labels: admin

Eslint fixes
  app/javascript/components/Filters.js
Labels: none

design filter for regions and countries
  app/assets/images/icons/dark-minus.svg
  app/assets/images/icons/dark-plus.svg
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_filters.scss
  app/javascript/components/SearchFilter.js
  app/views/cclow/litigation_cases/index.html.erb
Labels: cclow

Enable menu selection for CCLOWPages
  app/admin/page.rb
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/views/admin/pages/_form.html.erb
Labels: admin

fix js lint
  app/javascript/components/SearchFilter.js
Labels: none

bug fix
  app/assets/stylesheets/cclow/_filters.scss
  app/assets/stylesheets/cclow/_geography-page.scss
  app/javascript/components/SearchFilter.js
  app/views/cclow/litigation_cases/index.html.erb
Labels: cclow

This commit removes target-scopes which will be replaced by tags
  app/admin/target_scopes.rb
  app/admin/targets.rb
  app/commands/command/destroy/target_scope.rb
  app/decorators/target_scope_decorator.rb
  app/models/scope.rb
  app/models/target.rb
  app/models/target_scope.rb
  app/views/admin/targets/_form.html.erb
  db/migrate/20191206120828_drop_target_scopes.rb
  db/schema.rb
  spec/controllers/admin/target_scopes_controller_spec.rb
  spec/factories/target_scope.rb
  spec/factories/targets.rb
  spec/models/target_scope_spec.rb
Labels: admin

Fixing bugs and removing bits that weren't needed anymore
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
Labels: none

Adds google analytics
  app/views/layouts/cclow.html.erb
Labels: none

Fixes wrong model name
  lib/tasks/static_pages.rake
Labels: none

Fixes validations
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
  lib/tasks/static_pages.rake
Labels: none

Set up cclow pages controllers and placeholder view template
  app/controllers/cclow/cclow_controller.rb
  app/controllers/cclow/pages_controller.rb
  app/controllers/concerns/cclow/static_pages_controller.rb
  app/views/cclow/pages/show.html.erb
Labels: cclow

Have 3 images in a row in cclow static pages
  app/assets/stylesheets/cclow/_pages.scss
Labels: none

Hook up and style static pages
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_pages.scss
  app/controllers/cclow/pages_controller.rb
  app/views/cclow/home/_hero.html.erb
  app/views/cclow/pages/show.html.erb
  app/views/layouts/cclow/_footer.html.erb
  app/views/layouts/cclow/_header.html.erb
Labels: cclow

Fixes after rebase
  app/assets/stylesheets/cclow.scss
Labels: none

WIP: importing legislations
  app/services/csv_import/legislations.rb
  app/services/csv_migration/legislation.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/events.csv
  db/seeds/laws_migration/legislation-sources.csv
  db/seeds/laws_migration/legislation.csv
  db/seeds/laws_migration/litigation-sources.csv
  db/seeds/laws_migration/litigations.csv
  db/seeds/laws_migration/targets_data_latest.csv
  lib/tasks/reimport.rake
Labels: none

Don't crash if no description
  app/views/cclow/pages/show.html.erb
Labels: cclow

Don't crash if no description
  app/decorators/page_decorator.rb
Labels: none

pass litigation_cases page to react component
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/LitigationCases.js
Labels: none

add map context data
  app/controllers/cclow/api/map_indicators_controller.rb
  app/models/cclow_map_data.rb
  config/routes.rb
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.csv
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.jsonld
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.csv
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.jsonld
  map_data/cumalitive_weather_idp_per_country_2008--2018.csv
  map_data/cumalitive_weather_idp_per_country_2008--2018.jsonld
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.csv
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.csv
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.jsonld
Labels: none

Add tooltip for the CCLOW map * Tooltip appears on bubble click * Set stroke for clicked circle * Tooltip is clickable - set a link inside * Style the tooltip
  app/assets/stylesheets/cclow/_colors.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
  package.json
  yarn.lock
Labels: none

Replaced single sectors with multi sectors for Laws and Litigations
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/decorators/legislation_decorator.rb
  app/decorators/litigation_decorator.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/api/latest_additions.rb
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  db/migrate/20191206164849_create_join_table_legislation_laws_sectors.rb
  db/migrate/20191206172130_remove_date_passed_from_legislations.rb
  db/migrate/20191206175055_create_join_table_litigations_laws_sectors.rb
  db/schema.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/models/legislation_spec.rb
  spec/services/api/latest_additions_spec.rb
Labels: admin

enable rolling back migrations
  db/migrate/20191206164849_create_join_table_legislation_laws_sectors.rb
  db/migrate/20191206175055_create_join_table_litigations_laws_sectors.rb
Labels: none

add some map content data
  app/controllers/cclow/api/map_indicators_controller.rb
  app/models/cclow_map_content_data.rb
  app/models/cclow_map_context_data.rb
Labels: none

remove metaprogramming
  app/models/cclow_map_context_data.rb
Labels: none

use real data in worldmap
  app/assets/stylesheets/cclow/_world-map.scss
  app/controllers/cclow/home_controller.rb
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/centroids.js
  app/javascript/components/world-map/world-map.hooks.js
  app/javascript/components/world-map/world-map.reducer.js
  app/models/cclow_map_context_data.rb
Labels: none

updates migration file for laws
  db/seeds/laws_migration/legislation.csv
Labels: none

First migration script for laws and their responses
  app/services/csv_import/base_importer.rb
  app/services/csv_import/legislations.rb
  app/services/csv_migration/legislation.rb
  app/services/migration/legislation.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/legislation.csv
Labels: none

trying to improve importer
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/legislations.rb
  app/services/migration/legislation.rb
  lib/tasks/reimport.rake
Labels: none

Adjustments to litigations table
  app/admin/litigations.rb
  app/models/geography.rb
  app/models/litigation.rb
  app/services/api/latest_additions.rb
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/litigations.rb
  app/services/seed/cclow_data.rb
  app/views/admin/litigations/_form.html.erb
  db/migrate/20191207060117_rename_jurisdiction_id_to_geography_id_litigations.rb
  db/schema.rb
  lib/tasks/reimport.rake
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/geographies_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/factories/litigations.rb
Labels: admin

tweaks to litigation migration
  app/models/litigation.rb
  app/services/csv_import/litigations.rb
  db/seeds/laws_migration/litigations.csv
Labels: none

Migrate targets data
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/targets.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/targets.csv
  lib/tasks/reimport.rake
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
