Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Make the margin between text and logos bigger
  app/assets/stylesheets/tpi/_pages.scss
Labels: none

Add menu attribute to Page model and adjust the form|index|show partials in the admin panel
  app/admin/page.rb
  app/models/page.rb
  app/views/admin/pages/_form.html.erb
  db/migrate/20191128144950_add_menu_to_pages.rb
  db/schema.rb
Labels: admin

Fix rubocop
  lib/tasks/static_pages.rake
Labels: none

Change static pages rake task to include the menu type in scaffolding
  lib/tasks/static_pages.rake
Labels: none

Fix rubocop
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/controllers/tpi/tpi_controller.rb
Labels: tpi, cclow

Add links to the header menu
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/controllers/tpi/tpi_controller.rb
  app/views/layouts/_header.html.erb
Labels: tpi, cclow

add ability to set newRecordId for nested-list-controller
  app/admin/page.rb
  app/decorators/page_decorator.rb
  app/javascript/admin/controllers/nested_list_controller.js
  app/views/admin/pages/_image.html.erb
Labels: admin

add cp alignment to the frontend
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/tpi/companies_controller.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/show.html.erb
  db/seeds/cp-assessments.csv
Labels: tpi, cclow

Use friendly_id for Pages
  app/models/page.rb
  app/views/admin/pages/_form.html.erb
  db/schema.rb
  lib/tasks/static_pages.rake
Labels: admin

fix db schema
  db/schema.rb
Labels: none

fix db schema
  db/schema.rb
Labels: none

Content is too big for index table
  app/admin/news_article.rb
Labels: admin

Fix the rake task; search by title
  lib/tasks/static_pages.rake
Labels: none

Fixes file format
  db/seeds/cp-assessments.csv
Labels: none

add zones to cp charts
  app/admin/companies.rb
  app/helpers/chart_helper.rb
  app/services/api/charts/cp_assessment.rb
Labels: admin

fix cp unit seeds
  db/seeds.rb
Labels: none

add missing unit to cp charts
  app/helpers/chart_helper.rb
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

add last reported year to sectors cp charts
  app/helpers/chart_helper.rb
  app/services/api/charts/sector.rb
Labels: none

quickly add some legend for projected/targeted emissions
  app/assets/stylesheets/tpi/_charts.scss
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

fix specs
  spec/services/api/charts/sector_spec.rb
Labels: none

annotate models
  app/models/news_article.rb
  spec/factories/news_articles.rb
  spec/models/news_article_spec.rb
Labels: none

update rubocop, fix flaky test
  Gemfile.lock
  spec/controllers/admin/targets_controller_spec.rb
Labels: none

add design for search result page
  app/assets/images/icons/legislation_types/executive.svg
  app/assets/images/icons/legislation_types/legislative.svg
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/legislation_and_policies/_searched_item.html.erb
  app/views/cclow/legislation_and_policies/search.html.erb
  config/routes.rb
Labels: cclow

Adds Testimonial Model
  app/admin/testimonials.rb
  app/decorators/testimonial_decorator.rb
  app/models/testimonial.rb
  db/migrate/20191202115009_create_testimonials.rb
  db/schema.rb
  spec/controllers/admin/testimonials_controller_spec.rb
  spec/factories/testimonials.rb
  spec/models/testimonial_spec.rb
Labels: admin

Sort contents by creation date
  app/views/tpi/pages/show.html.erb
Labels: tpi

add user role filter on index page
  app/admin/admin_users.rb
Labels: admin

titleize user roles
  app/admin/admin_users.rb
Labels: admin

update seeds
  db/seeds.rb
Labels: none

(seeds) extract #seed_file helper
  db/seeds.rb
Labels: none

revert changes in app-controller for now
  app/controllers/application_controller.rb
Labels: none

add role to user model
  Gemfile
  Gemfile.lock
  app/admin/admin_users.rb
  app/controllers/application_controller.rb
  app/models/ability.rb
  app/models/admin_user.rb
  db/migrate/20191129143147_add_role_to_admin_users.rb
  db/schema.rb
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/factories/admin_users.rb
  spec/models/admin_user_spec.rb
Labels: admin

Add publications model and management
  app/admin/publication.rb
  app/decorators/publication_decorator.rb
  app/models/publication.rb
  db/migrate/20191202132618_create_publications.rb
  spec/controllers/admin/publications_controller_spec.rb
  spec/factories/publications.rb
  spec/models/publication_spec.rb
  spec/rails_helper.rb
Labels: admin

add query to search component
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/concerns/cclow/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/views/cclow/legislation_and_policies/_list_item.html.erb
  app/views/cclow/legislation_and_policies/index.html.erb
  app/views/cclow/legislation_and_policies/search.html.erb
  config/routes.rb
Labels: cclow

Adds file_link decorator
  app/admin/publication.rb
  app/decorators/publication_decorator.rb
Labels: admin

Added a page with the mailchimp embed for newsletter
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_newsletter.scss
  app/controllers/tpi/home_controller.rb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_header.html.erb
  app/views/tpi/home/newsletter.html.erb
  config/routes.rb
Labels: tpi, cclow

Polish styles on homepage
  app/assets/images/homepage/bitmap.jpg
  app/assets/images/homepage/bitmap@2x.jpg
  app/assets/images/homepage/homepage-bg.jpg
  app/assets/images/icons/plus.svg
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/controllers/tpi/home_controller.rb
  app/views/layouts/_banner.html.erb
  app/views/layouts/_footer.html.erb
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi, cclow

Rubocop
  app/controllers/tpi/home_controller.rb
Labels: tpi, cclow

Style the subscribe container
  app/assets/stylesheets/tpi/_footer.scss
  app/views/layouts/_footer.html.erb
  db/schema.rb
Labels: none

Link testimonials on the FE
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/_testimonials.html.erb
Labels: tpi, cclow

Fixes after rebasing with develop
  db/schema.rb
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
