Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

refactoring: ASCOR publications are selected based on tags and not sector
  app/controllers/tpi/ascor_controller.rb
  db/migrate/20231207082211_remove_ascor_sector.rb
  db/structure.sql
  db/test-dump.psql
  spec/system/public/tpi/ascor_spec.rb
Labels: tpi, cclow

refactoring: Removing quartile from tooltip at ASCOR bubble graph
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
Labels: none

fix: Show max 3 publications on ASCOR index page
  app/controllers/tpi/ascor_controller.rb
Labels: tpi, cclow

fix: Minor bug fixes of ASCOR pathway chart
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
Labels: none

fix: Trix image attachments
  Gemfile.lock
  app/assets/stylesheets/admin/trix.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/decorators/news_article_decorator.rb
  app/inputs/trix_input.rb
  app/javascript/packs/admin.js
  bin/yarn
  package.json
  yarn.lock
Labels: none

chore: Update of obsolete libraries
  Gemfile
  Gemfile.lock
  app/models/application_record.rb
Labels: none

feat: Adding short description attribute to News
  app/admin/news_article.rb
  app/models/news_article.rb
  app/views/tpi/publications/_list.html.erb
  db/migrate/20240119084250_add_short_description_to_news_articles.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/factories/news_articles.rb
Labels: tpi, admin

update of test dump file
  db/test-dump.psql
Labels: none

update of test dump file II
  db/test-dump.psql
Labels: none

test: Update of test db dump III.
  db/structure.sql
  db/test-dump.psql
Labels: none

test: Updating version of postgres at github workflow
  .github/workflows/tests.yml
Labels: none

test: Creating db dump with correct version of db_dump
  .github/workflows/tests.yml
  db/test-dump.psql
Labels: none

feat: Adding cp_alignment_2027 to company cp assessments
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/news_article.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20240202090401_add_cp_alignment2027_to_cp_assessments.rb
  db/seeds/tpi/company-cp-assessments.csv
  db/structure.sql
  db/test-dump.psql
  public/tpi/export_support/User guide TPI files.xlsx
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/factories/news_articles.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_regional_csv.json
  spec/models/cp/assessment_spec.rb
  spec/models/news_article_spec.rb
  spec/support/fixtures/files/company_cp_assessments.csv
Labels: tpi, admin

refactoring: Updating TPI files guide
  public/tpi/export_support/User guide TPI files.xlsx
Labels: none

chore: update nokogiri
  Gemfile.lock
Labels: none

feat: Adding visibility status to ASCOR countries
  app/admin/ascor/countries.rb
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/assessment_result.rb
  app/models/ascor/country.rb
  app/services/api/ascor/bubble_chart.rb
  app/services/api/ascor/emissions_chart.rb
  app/services/csv_export/ascor/assessments.rb
  app/services/csv_export/ascor/benchmarks.rb
  app/services/csv_export/ascor/countries.rb
  app/services/csv_export/ascor/pathways.rb
  app/services/csv_import/ascor_countries.rb
  app/views/tpi/ascor/_emissions_chart.html.erb
  db/migrate/20240206094238_add_visibility_status_to_ascor_countries.rb
  db/seeds/tpi/ascor_countries.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/factories/ascor_countries.rb
  spec/services/api/ascor/benchmarks_chart_spec.rb
  spec/services/api/ascor/bubble_chart_spec.rb
  spec/services/api/ascor/emissions_chart_spec.rb
  spec/services/api/ascor/recent_emissions_spec.rb
  spec/support/fixtures/files/ascor_countries.csv
Labels: tpi, cclow, admin

feat: Adding visibility status attribute to ASCOR countries admin csv
  app/admin/ascor/countries.rb
Labels: admin

refactoring: Removing inclusion validation on region for ASCOR country
  app/admin/ascor/countries.rb
  app/models/ascor/country.rb
  spec/models/ascor/countries_spec.rb
Labels: admin

test: changing id of draft ascor countries
  spec/services/api/ascor/benchmarks_chart_spec.rb
  spec/services/api/ascor/bubble_chart_spec.rb
  spec/services/api/ascor/emissions_chart_spec.rb
  spec/services/api/ascor/recent_emissions_spec.rb
Labels: none

refactoring: Update of TPI user guides file
  public/tpi/export_support/User guide TPI files.xlsx
Labels: none

fix: Typo at CP Matrix column name
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Labels: none

chore: update of gems
  Gemfile.lock
  package.json
Labels: none

feat: Adding events option for NewsArticles
  app/admin/news_article.rb
  app/javascript/components/tpi/Filters.js
  app/models/news_article.rb
  app/services/queries/tpi/news_publications_query.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/search/index.html.erb
  db/migrate/20240527100352_add_is_event_to_news_articles.rb
  db/structure.sql
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/factories/news_articles.rb
  spec/models/news_article_spec.rb
Labels: tpi, admin

test: update test-dump
  db/test-dump.psql
Labels: none

chore: update gems
  Gemfile.lock
Labels: none

fix: move listen gem to all gem section
  Gemfile
Labels: none

fix: move listen gem to development section
  Gemfile
Labels: none

refactoring: Initial refactoring of Homepage
  app/admin/tpi_sector_clusters.rb
  app/assets/images/tpi/funders/climate-arc.png
  app/assets/images/tpi/funders/climateworks.png
  app/assets/images/tpi/funders/fte-russell.png
  app/assets/images/tpi/funders/laudes-foundation.png
  app/assets/images/tpi/funders/lseg-foundation.png
  app/assets/images/tpi/home/aum.png
  app/assets/images/tpi/home/banks.png
  app/assets/images/tpi/home/corporate-carbon-performance.png
  app/assets/images/tpi/home/corporate-management-quality.png
  app/assets/images/tpi/home/energy.png
  app/assets/images/tpi/home/food.png
  app/assets/images/tpi/home/industry.png
  app/assets/images/tpi/home/supporters.png
  app/assets/images/tpi/home/transport.png
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_filters.scss
  app/assets/stylesheets/tpi/_latest-information.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/_search.scss
  app/assets/stylesheets/tpi/_selector.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/controllers/tpi/home_controller.rb
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/_sector_cluster_stat.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/home/newsletter.html.erb
Labels: tpi, cclow, admin

chore: updating gems
  Gemfile
  Gemfile.lock
  app/controllers/tpi/home_controller.rb
  spec/system/public/tpi/home_spec.rb
Labels: tpi, cclow

refactoring: Minor tweaks of homepage based on user feedback
  app/assets/images/newsletter_background/newsletter_img_new.png
  app/assets/images/tpi/home/ascor.png
  app/assets/images/tpi/home/aum.png
  app/assets/images/tpi/home/banks.png
  app/assets/images/tpi/home/corporate-carbon-performance.png
  app/assets/images/tpi/home/corporate-management-quality.png
  app/assets/images/tpi/home/energy.png
  app/assets/images/tpi/home/food.png
  app/assets/images/tpi/home/industry.png
  app/assets/images/tpi/home/supporters.png
  app/assets/images/tpi/home/transport.png
  app/assets/images/tpi/partners/grantham-bigger.png
  app/assets/images/tpi/partners/lse-bigger.png
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/home_controller.rb
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/layouts/tpi/_hosted_by.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi, cclow

refactoring: Text changes at homepage
  app/views/tpi/home/index.html.erb
Labels: tpi

refactoring: Another minor changes of homepage
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/components/tpi/MqBetaModal.jsx
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/_sector_cluster_stat.html.erb
  app/views/tpi/home/corporate_bond_issuers.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/home/newsletter.html.erb
Labels: tpi

fix: Count only published ASCOR countries at homepage
  app/controllers/tpi/home_controller.rb
Labels: tpi, cclow

refactoring: Renaming sector cluster to consumer-goods
  app/views/tpi/home/index.html.erb
Labels: tpi

refactoring: Minor changes of homepage
  app/assets/images/tpi/funders/ftse-russell-horizontal.png
  app/assets/images/tpi/funders/ftse-russell-new.png
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

refactoring: Minor changes of homepage II.
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/home/newsletter.html.erb
Labels: tpi

fix: At Glance values are static content
  app/models/content.rb
Labels: none

fix: Issues with slider height at homepage
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

refactoring: Removing supporters from homepage
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

chore: upgrade ruby gems
  Gemfile.lock
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
