Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

Add test email for banking download
  app/controllers/tpi/banks_controller.rb
Labels: tpi, cclow

Add year to cp-matrix for bank + line val for null
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
Labels: none

Run linting
  app/admin/banks.rb
  app/admin/cp_assessments.rb
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/models/bank.rb
  app/models/cp/matrix.rb
  app/services/api/charts/cp_matrix.rb
  app/services/csv_export/user/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments2030.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20250825064207_add2030_alignments_to_cp_assessments.rb
  db/migrate/20250825064811_add2030_alignment_to_cp_matrices.rb
  spec/factories/cp_assessment.rb
  spec/factories/cp_matrices.rb
Labels: admin

Add bank indicator's rake tasks
  DEPLOYMENT_GUIDE.md
  db/backups/README.md
  db/migrate/20250825065000_add_version_to_bank_assessment_indicators.rb
  db/seeds/tpi/bank_assessment_indicators_new.csv
  lib/tasks/backup_bank_assessment_data.rake
  lib/tasks/update_bank_assessment_indicators.rake
  spec/factories/bank_assessment_indicators.rb
Labels: none

Add new indicators for bank assessments
  .gitignore
  DEPLOYMENT_GUIDE.md
  app/admin/bank_assessment_indicators.rb
  app/admin/bank_assessments.rb
  app/admin/banks.rb
  app/controllers/tpi/banks_controller.rb
  app/decorators/bank_assessment_decorator.rb
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_indicator.rb
  app/models/bank_assessment_result.rb
  app/models/cp/assessment.rb
  app/models/cp/portfolio.rb
  app/presenters/tpi/bank_assessment_presenter.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
  db/migrate/20250825065000_add_version_to_bank_assessment_indicators.rb
  db/migrate/20250825093802_fix_bank_assessment_indicators_uniqueness_constraint.rb
  lib/tasks/backup_bank_assessment_data.rake
  lib/tasks/update_bank_assessment_indicators.rake
Labels: tpi, cclow, admin

Show inactive bank assessments in admin
  app/admin/bank_assessments.rb
  app/services/csv_import/bank_assessment_indicators.rb
  app/services/csv_import/base_importer.rb
Labels: admin

Update views to address errors on non-test data, bank assessment
  .gitignore
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
Labels: tpi

Make local migration for index idempotent
  bank_of_china_assessment.csv
  db/migrate/20250825093802_fix_bank_assessment_indicators_uniqueness_constraint.rb
  sample_bank_assessment_results.csv
Labels: none

Make local migration for index idempotent
  bank_of_china_assessment.csv
  sample_bank_assessment_results.csv
Labels: none

Add support for subsector for banking assessments
  app/admin/cp_assessments.rb
  app/models/cp/assessment.rb
  app/models/subsector.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_matrix.rb
  app/services/csv_export/user/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments.rb
  db/migrate/20250825120001_create_subsectors.rb
  db/migrate/20250825120002_add_subsector_id_to_cp_assessments.rb
  db/migrate/20250825120003_create_coal_mining_subsectors.rb
Labels: admin

Fix link of subsector-sector
  app/models/subsector.rb
  app/models/tpi_sector.rb
Labels: none

Add subsector selector to CPA creation page, admin
  app/admin/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
Labels: admin

Run rubocop a
  app/assets/stylesheets/tpi/pages/bank.scss
  app/controllers/tpi/banks_controller.rb
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/show.html.erb
  lib/tasks/backup_bank_assessment_data.rake
  lib/tasks/update_bank_assessment_indicators.rake
Labels: tpi, cclow

Revert unnecessary change
  app/services/api/charts/cp_matrix.rb
Labels: none

Fix creation of CP assessment for banks
  app/admin/cp_assessments.rb
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_cp_matrix.html.erb
Labels: tpi, admin

Fix aligment selector CP assessment banking
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/views/tpi/banks/_cp_matrix.html.erb
Labels: tpi

Update bank indicators
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
  db/migrate/20250828000000_wipe_2025_bank_assessment_indicators_and_results.rb
  db/seeds/tpi/bank_assessment_indicators_new.csv
Labels: tpi

Add Bank Assessment 2030 upload option
  app/admin/cp_assessments.rb
  app/models/data_upload.rb
  app/views/tpi/banks/_assessment.html.erb
Labels: tpi, admin

Fix bubble graph bank and indicators rake task
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/services/api/charts/cp_matrix.rb
  lib/tasks/update_bank_assessment_indicators.rake
Labels: none

Revert problematic changes from prev commit, keeping rake
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/services/api/charts/cp_matrix.rb
Labels: none

Fix bubble graph when there's no data
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
Labels: none

Dynamic date selector update index bank
  app/views/tpi/banks/index_assessment.js.erb
Labels: tpi

Add message when assessment date doesn't have data
  app/views/tpi/banks/_index_charts.html.erb
Labels: tpi

Fix date selector in bank index
  app/controllers/tpi/banks_controller.rb
  app/services/api/charts/average_bank_score.rb
  app/views/tpi/banks/_index_charts.html.erb
Labels: tpi, cclow

Dynamic graphs and tables: Bank Assessments
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/hooks.js
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_result.rb
  app/presenters/tpi/bank_assessment_presenter.rb
  app/services/api/charts/average_bank_score.rb
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/_index_charts.html.erb
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/show.html.erb
  db/migrate/20250825065000_add_version_to_bank_assessment_indicators.rb
Labels: tpi, cclow

Run rubocop fix
  app/admin/companies.rb
  app/admin/data_uploads.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  app/controllers/tpi/banks_controller.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_indicator.rb
  app/services/api/charts/average_bank_score.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/geographies_controller_spec.rb
  spec/controllers/admin/instrument_controller_spec.rb
  spec/controllers/admin/instrument_types_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
  spec/controllers/admin/theme_controller_spec.rb
  spec/controllers/admin/theme_types_controller_spec.rb
Labels: tpi, cclow, admin

Show empty assessments when no assessment available: Banks
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/show.html.erb
Labels: tpi, cclow

Move MQ assessment date to indicators section: Banking changes
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/show.html.erb
Labels: tpi

Add new logos
  app/assets/images/logo/lse_logo_2025.png
  app/assets/images/logo/tpi_transition_logo_2025.png
  app/assets/stylesheets/tpi/_banner.scss
  app/views/layouts/tpi/_banner.html.erb
  app/views/layouts/tpi/_hosted_by.html.erb
Labels: none

Make CP matrix term selector dynamic: Banking
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_cp_matrix.html.erb
Labels: tpi

Smaller size for right logo and less white space, banner
  app/assets/stylesheets/tpi/_banner.scss
Labels: none

Order assessment dates desc: Banking
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/views/tpi/banks/_cp_matrix.html.erb
Labels: tpi

Smaller size for right logo and less white space, banner
  app/assets/stylesheets/tpi/_banner.scss
Labels: none

Add new logos
  app/assets/images/logo/lse_logo_2025.png
  app/assets/images/logo/tpi_transition_logo_2025.png
  app/assets/stylesheets/tpi/_banner.scss
  app/views/layouts/tpi/_banner.html.erb
  app/views/layouts/tpi/_hosted_by.html.erb
Labels: none

Use 2027 as opposed to 2025 for short-term cp matrix: Banking
  app/admin/cp_assessments.rb
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/models/cp/matrix.rb
  app/models/data_upload.rb
  app/services/api/charts/cp_matrix.rb
  app/services/csv_import/bank_cp_assessments2027.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20250912094608_add_cp_alignment2027_to_cp_matrices.rb
Labels: admin

Not show benchmarks for sectors not present: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Labels: tpi

Update logo in mobile view
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
Labels: none

Update logo in mobile view
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
Labels: none

Increase logo in mobile: logos
  app/assets/stylesheets/tpi/_navbar.scss
Labels: none

Increase logo in mobile: logos
  app/assets/stylesheets/tpi/_navbar.scss
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
