Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

chore: upgrade actions/upload-artifact to newest version
  .github/workflows/tests.yml
Labels: none

feat: Adding format to publication links
  app/controllers/tpi/home_controller.rb
  app/helpers/file_helper.rb
  app/models/bank_assessment.rb
  app/views/tpi/home/index.html.erb
  app/views/tpi/publications/_list.html.erb
Labels: tpi, cclow

feat: Adding format to Download file link at Publication detail
  app/views/tpi/publications/show.html.erb
Labels: tpi

Update sectors pages
  app/assets/images/icons/hover-cursor.svg
  app/assets/images/tpi/sectors-bubble-chart-legend.svg
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/bubble/SingleCell.js
  app/javascript/components/tpi/charts/mq-sector-bar/Bar.js
  app/javascript/components/tpi/charts/mq-sector-bar/Chart.js
  app/javascript/components/tpi/charts/mq-sector-bar/index.js
  app/javascript/components/tpi/charts/mq-sector-pie/Chart.js
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
  package.json
  yarn.lock
Labels: tpi

chore: Update rails
  Gemfile.lock
Labels: none

tests: fix BETA MQ tests
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Labels: none

refactoring: Removing BETA naming
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/controllers/tpi/tpi_controller.rb
  app/javascript/components/tpi/charts/mq-level/options.js
  app/models/mq/assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Labels: tpi, cclow

refactoring: Splitting MQ download option
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
  spec/controllers/tpi/sectors_controller_spec.rb
Labels: tpi, cclow

feat: Adding default mailer endpoint
  .env.sample
  Gemfile
  Gemfile.lock
  app/controllers/tpi/sectors_controller.rb
  app/mailers/application_mailer.rb
  app/mailers/data_download_mailer.rb
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/initializers/mailjet.rb
  config/routes.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/mailers/data_download_mailer_spec.rb
Labels: tpi, cclow

fix: rubocop offenses
  app/mailers/application_mailer.rb
  config/initializers/mailjet.rb
  spec/mailers/data_download_mailer_spec.rb
Labels: none

feat: Turning on emails
  app/mailers/data_download_mailer.rb
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  config/environments/production.rb
  config/environments/staging.rb
  spec/mailers/data_download_mailer_spec.rb
Labels: none

Fix styles and add download form
  app/assets/images/tpi/icons/download.svg
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_base-tooltip.scss
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/javascript/components/tpi/InfoTooltip.js
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/SingleCell.js
  app/javascript/components/tpi/charts/mq-sector-bar/Bar.js
  app/javascript/components/tpi/charts/mq-sector-pie/Chart.js
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  package.json
  yarn.lock
Labels: tpi

fix: Adding downloadUrl to DownloadFormModal component
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  spec/mailers/data_download_mailer_spec.rb
Labels: tpi, cclow

chore: upgrade of rexml gem
  Gemfile.lock
Labels: none

refactoring: Adding corporates routes
  app/javascript/components/tpi/DropdownSelector.js
  app/views/layouts/tpi/_header.html.erb
  config/routes.rb
Labels: none

fix: Methodology download option
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  public/static_files/TPI’s methodology report. Management Quality and Carbon Performance.pdf
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/system/public/cclow/climate_targets_spec.rb
Labels: tpi, cclow

fix: rubocop offenses
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

fix: company select test
  spec/system/public/tpi/company_selector_spec.rb
Labels: none

fix: download button icon
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Labels: tpi

feat: Methodology file depends on selected MQ version
  app/controllers/tpi/sectors_controller.rb
  public/static_files/Methodology and Indicator Report v4.0_final draft.pdf
Labels: tpi, cclow

Fix section pages styles bugs
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/_selector.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
Labels: none

Add sections pages fixed
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/_selector.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/views/tpi/companies/show.html.erb
Labels: tpi

Add sticky header and other design reviews
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/tpi/BaseTooltip.js
  app/javascript/components/tpi/InfoTooltip.js
  app/javascript/components/tpi/charts/mq-sector-pie/Chart.js
  app/views/tpi/shared/_mq_beta_scores.html.erb
Labels: tpi

test: fir sectors test
  spec/system/public/tpi/sectors_spec.rb
Labels: none

fix: assessment date combo boxes
  app/controllers/tpi/ascor_controller.rb
  app/views/tpi/ascor/_show_assessment.js.erb
  app/views/tpi/ascor/index_assessment.js.erb
  app/views/tpi/ascor/index_emissions_assessment.js.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/ascor/show_assessment.js.erb
Labels: tpi, cclow

feat: Adding ASCOR data with different assessment date
  app/controllers/tpi/ascor_controller.rb
  app/views/tpi/ascor/show.html.erb
  db/seeds/tpi/ascor_assessments.csv
  db/seeds/tpi/ascor_pathways.csv
Labels: tpi, cclow

Fix emission-chart reload
  app/views/tpi/ascor/index_emissions_assessment.js.erb
Labels: tpi

refactoring: changing scale of bubbles at chart
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/views/tpi/ascor/_emissions_chart.html.erb
Labels: tpi

Merge pull request #502 from Vizzuality/fix/ascor-assessment-dates
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/views/tpi/ascor/_emissions_chart.html.erb
  app/views/tpi/ascor/_show_assessment.js.erb
  app/views/tpi/ascor/index_assessment.js.erb
  app/views/tpi/ascor/index_emissions_assessment.js.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/ascor/show_assessment.js.erb
  db/seeds/tpi/ascor_assessments.csv
  db/seeds/tpi/ascor_pathways.csv
Labels: tpi, cclow

feat: Adding assessment date flags
  app/admin/cp_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20241115133904_add_assessment_date_flag_to_cp_assessments.rb
  db/seeds/tpi/company-cp-assessments.csv
  db/seeds/tpi/company-cp-benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/support/fixtures/files/company_cp_assessments.csv
Labels: tpi, admin

Add value range to circle chart
  app/assets/images/tpi/sectors-bubble-chart-legend.svg
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/SingleCell.js
Labels: none

Add value to circle chart range - companies chart
  app/assets/images/tpi/sectors-bubble-chart-legend.svg
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/SingleCell.js
  db/structure.sql
Labels: none

Undo changes in db/structure file
  db/structure.sql
Labels: none

Undo changes in db/structure file
  db/structure.sql
Labels: none

fix: Show only published publications and articles
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/home/index.html.erb
Labels: tpi, cclow

Reorder companies in level view by name
  .tool-versions
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

Reorder companies in level view by name (#507)
  .tool-versions
  app/controllers/tpi/sectors_controller.rb
Labels: tpi, cclow

Add 2028 CP Assessment
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  db/migrate/20250214160706_add_cp_alignment_2028_to_cp_assessments.rb
  db/seeds/tpi/company-cp-assessments.csv
  db/structure.sql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_regional_csv.json
  spec/models/cp/assessment_spec.rb
  spec/support/fixtures/files/company_cp_assessments.csv
Labels: tpi, admin

Add missing column
  app/admin/cp_assessments.rb
Labels: admin

Run test:db_dump
  db/test-dump.psql
Labels: none
