Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

fix path
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
Labels: none

get path and title for custom pages
  app/controllers/concerns/tpi/static_pages_controller.rb
Labels: none

quick fix
  app/services/domain_constraint.rb
Labels: none

fix target import: ghg target, add more specs for target imporer
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
Labels: none

no need to connect targets with legislations in importer
  app/services/csv_import/targets.rb
Labels: none

fix page preview_url
  app/decorators/page_decorator.rb
Labels: none

remove static disclaimer page
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/disclaimer.html.erb
  config/routes.rb
Labels: tpi

track NewsArticle title
  app/decorators/public_activity/activity_decorator.rb
Labels: none

add cclow pages sitemap
  app/controllers/cclow/sitemaps_controller.rb
  app/controllers/tpi/sitemaps_controller.rb
  app/views/cclow/sitemaps/index.xml.erb
  config/routes.rb
Labels: tpi, cclow

add TPI sitemap
  app/controllers/tpi/sitemaps_controller.rb
  app/views/tpi/sitemaps/index.xml.erb
  config/routes.rb
Labels: tpi, cclow

add dynamic robots txt
  app/controllers/robots_controller.rb
  app/views/robots/index.text.erb
  config/routes.rb
  public/robots.txt
Labels: none

display and group by instrument types on law page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/geography/legislations_controller.rb
  app/views/cclow/geography/legislations/show.html.erb
Labels: cclow

fix nil date parsing
  app/services/csv_import/date_utils.rb
Labels: none

fix sector chart data error
  app/services/api/charts/sector.rb
Labels: none

fix test
  .rubocop.yml
  spec/services/api/charts/mq_assessment_spec.rb
Labels: none

fix when methodology_version is nil
  app/services/csv_export/user/company_latest_assessments.rb
Labels: none

add created_at filter for companie
  app/admin/companies.rb
Labels: admin

fix mq assessment error when no answer found
  app/models/mq/assessment.rb
Labels: none

fix displaying llegislation without description
  app/views/cclow/geography/legislations/show.html.erb
Labels: cclow

moar validations for cp and mq assessments
  app/models/cp/assessment.rb
  app/models/mq/assessment.rb
  app/validators/date_after_validator.rb
  spec/models/cp/assessment_spec.rb
  spec/models/mq/assessment_spec.rb
Labels: none

change cp assessment_date format - importer
  app/services/csv_import/cp_assessments.rb
Labels: none

redirect to climate targets if sector does not exist
  app/controllers/cclow/geography/climate_targets_controller.rb
Labels: none

fix published not published articles and publications showing up in search results add missing specs
  app/controllers/tpi/search_controller.rb
  app/models/news_article.rb
  app/models/publication.rb
  config/database.yml
  spec/controllers/tpi/search_controller_spec.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
Labels: tpi, cclow

fix home page to not feature not published articles and publications
  app/controllers/tpi/home_controller.rb
  spec/controllers/tpi/home_controller_spec.rb
Labels: tpi, cclow

do not show unpublished news and articles
  app/controllers/tpi/publications_controller.rb
  app/services/queries/tpi/news_publications_query.rb
  spec/controllers/tpi/publications_controller_spec.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
Labels: tpi, cclow

updating bundle
  Gemfile.lock
Labels: none

new pg_search version introduced regression, freezing on older version for now
  Gemfile
  Gemfile.lock
Labels: none

wrong db name for development
  config/database.yml
Labels: none

party_type could be nil
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
Labels: cclow

fix twitter, change communication person
  app/views/layouts/tpi/_footer.html.erb
Labels: none

rubocop updates
  .rubocop.yml
  app/models/cclow_map_context_data.rb
  app/models/concerns/has_emissions.rb
  app/models/geography.rb
  lib/tasks/static_pages.rake
  spec/commands/csv_data_upload_spec.rb
Labels: none

making autoloading deprecation message go away
  config/initializers/active_admin.rb
Labels: none

updating dependencies
  Gemfile.lock
  app/services/migration/legislation.rb
  app/services/migration/litigation.rb
  lib/tasks/flags.rake
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Labels: none

updating readme
  README.md
  lib/tasks/test.rake
Labels: none

add super_diff, all columns are necessary for imported file now, changing existing csvs
  Gemfile
  Gemfile.lock
  app/admin/legislations.rb
  app/services/csv_import/base_importer.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/row.rb
  db/seeds/cp-benchmarks.csv
  db/seeds/geographies.csv
  db/seeds/laws_migration/events.csv
  db/seeds/laws_migration/legislation.csv
  db/seeds/laws_migration/litigations-sides.csv
  db/seeds/laws_migration/litigations.csv
  db/seeds/laws_migration/targets.csv
  db/seeds/legislations.csv
  db/seeds/litigations.csv
  db/seeds/mq-assessments-M1.csv
  db/seeds/mq-assessments-M2.csv
  db/seeds/mq-assessments-M3.csv
  db/seeds/tpi-companies.csv
  spec/commands/csv_data_upload_spec.rb
  spec/rails_helper.rb
  spec/support/fixtures/files/companies.csv
  spec/support/fixtures/files/cp_benchmarks.csv
  spec/support/fixtures/files/geographies.csv
  spec/support/fixtures/files/legislations.csv
  spec/support/fixtures/files/mq_assessments.csv
Labels: admin

add missing columns in csvs
  app/admin/companies.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  db/seeds/laws_migration/legislation.csv
Labels: admin

add Bosnian language to the list
  app/models/language.rb
Labels: none

more generic sitemap urls
  app/controllers/cclow/sitemaps_controller.rb
  app/controllers/tpi/sitemaps_controller.rb
Labels: tpi, cclow

fix tpi sitemap to not include unpublished publications and news, add a few specs for sitemaps
  app/controllers/tpi/sitemaps_controller.rb
  spec/controllers/cclow/sitemaps_controller_spec.rb
  spec/controllers/tpi/sitemaps_controller_spec.rb
  spec/factories/legislations.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
  spec/rails_helper.rb
Labels: tpi, cclow

easier to change database on development
  config/database.yml
Labels: none

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*
