Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

tpi home: remove partners
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/_partners.html.erb
Labels: tpi, cclow

tpi home: add couple dynamic values
  app/controllers/tpi/home_controller.rb
  app/models/tpi_sector_cluster.rb
  app/views/tpi/home/_sector_cluster_stat.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi, cclow

add code to page contents, improve home page
  app/admin/page.rb
  app/controllers/tpi/home_controller.rb
  app/models/content.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/tpi/home/index.html.erb
  config/routes.rb
  db/migrate/20220822094300_add_code_to_contents.rb
  db/structure.sql
  lib/tasks/onetime.rake
  spec/factories/contents.rb
  spec/models/content_spec.rb
Labels: tpi, cclow, admin

add case studies, and remove testimonials
  app/admin/case_studies.rb
  app/admin/testimonials.rb
  app/assets/stylesheets/admin/models/testimonials.scss
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_testimonials.scss
  app/controllers/tpi/home_controller.rb
  app/decorators/case_study_decorator.rb
  app/decorators/testimonial_decorator.rb
  app/models/ability.rb
  app/models/case_study.rb
  app/models/testimonial.rb
  app/views/tpi/home/index.html.erb
  db/migrate/20220822102328_create_case_studies.rb
  db/migrate/20220822103454_drop_testimonials.rb
  db/structure.sql
  spec/controllers/admin/case_studies_controller_spec.rb
  spec/controllers/admin/testimonials_controller_spec.rb
  spec/factories/case_studies.rb
  spec/factories/testimonials.rb
  spec/models/case_study_spec.rb
  spec/models/testimonial_spec.rb
Labels: tpi, cclow, admin

example case studies, apply new styles for case studies
  app/admin/case_studies.rb
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/decorators/case_study_decorator.rb
  app/models/case_study.rb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
  lib/tasks/support/brunel.png
  lib/tasks/support/church_of_england.png
  lib/tasks/support/robeco.png
Labels: tpi, admin

nested dropdown, changes in menu
  app/assets/images/icons/white-chevron-down.svg
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/tpi/_header.html.erb
  lib/tasks/onetime.rake
Labels: none

fix specs
  app/admin/page.rb
  app/controllers/tpi/home_controller.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/views/tpi/home/_sector_cluster_stat.html.erb
  db/test-dump.psql
  spec/controllers/tpi/home_controller_spec.rb
  spec/factories/case_studies.rb
  spec/support/fixtures/files/test.png
  spec/support/test_files.rb
  spec/system/public/tpi/home_spec.rb
Labels: tpi, cclow, admin

fix news publication filters to use query params
  app/javascript/components/tpi/Filters.js
  app/javascript/shared/hooks/index.js
  app/javascript/shared/hooks/use-query-param.js
Labels: none

more improvements to publications page
  app/javascript/components/tpi/Filters.js
Labels: none

small fixes to navbar item heights
  app/assets/stylesheets/tpi/_navbar.scss
Labels: none

update footer styles
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/layouts/tpi/_footer.html.erb
Labels: none

move faq to top menu
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/tpi/_header.html.erb
  lib/tasks/onetime.rake
Labels: none

more fixes to navbar
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
Labels: none

move hero scss to home scss
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi

fix problem with bulma sizes
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/_newsletter.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/_sizes.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/assets/stylesheets/tpi/pages/sector.scss
Labels: none

moar css changes for the home page mobile design
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

tpi home slider
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/shared/controllers/tpi_home_slider_controller.js
  app/views/tpi/home/index.html.erb
Labels: tpi

hover states
  app/assets/images/tpi/icons/plus-white.svg
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

more css changes
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Labels: tpi

make case study link not required
  app/admin/case_studies.rb
  app/assets/stylesheets/tpi/pages/home.scss
  app/decorators/case_study_decorator.rb
  app/models/case_study.rb
  app/views/tpi/home/index.html.erb
  db/migrate/20220822102328_create_case_studies.rb
  db/structure.sql
Labels: tpi, admin

use tags from query even if those do not exist or have no results
  app/javascript/components/tpi/Filters.js
Labels: none

add load more for publications
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/Filters.js
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/index.html.erb
Labels: tpi, cclow

fix filter button css
  app/assets/stylesheets/tpi/_filters.scss
Labels: none

fix specs
  app/views/tpi/banks/index.html.erb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/search/index.html.erb
  app/views/tpi/sectors/show.html.erb
  spec/models/case_study_spec.rb
Labels: tpi

update hero images
  app/assets/images/tpi/home/hero-background-middle.jpg
  app/assets/images/tpi/home/hero-background-small.jpg
  app/assets/images/tpi/home/hero-background.jpg
  app/assets/images/tpi/home/hero-background.png
  app/assets/stylesheets/tpi/pages/home.scss
Labels: none

add search icon for mobile
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/_search.scss
  app/javascript/components/tpi/Navbar.js
  app/views/tpi/search/index.html.erb
Labels: tpi

simple task to copy files
  lib/configuration_file.rb
  lib/tasks/storage.rake
Labels: none

do not upload file if file already exist
  lib/tasks/storage.rake
Labels: none

change color theme back to TPI one
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_helpers.scss
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

show on page constant
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/Filters.js
Labels: tpi, cclow

add slider for researches
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/index.html.erb
Labels: tpi, cclow

upgrade stimulus
  app/admin/data_uploads.rb
  app/javascript/admin/controllers/check_modified_controller.js
  app/javascript/admin/controllers/dependent_input_controller.js
  app/javascript/admin/controllers/embed_trix_controller.js
  app/javascript/admin/controllers/index.js
  app/javascript/admin/controllers/litigation_side_controller.js
  app/javascript/admin/controllers/nested_list_controller.js
  app/javascript/admin/controllers/tabs_controller.js
  app/javascript/admin/controllers/upload_instructions_controller.js
  app/javascript/admin/controllers/with_emission_table_form_controller.js
  app/javascript/shared/controllers/cookies_consent_controller.js
  app/javascript/shared/controllers/index.js
  app/javascript/shared/controllers/slider_controller.js
  app/javascript/shared/controllers/tpi_home_slider_controller.js
  app/javascript/tpi/controllers/index.js
  app/views/admin/cp/_emissions_table_edit.html.erb
  app/views/admin/documents/_list.html.erb
  app/views/admin/events/_list.html.erb
  app/views/admin/geographies/_form.html.erb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/litigations/_sides_list.html.erb
  app/views/admin/pages/_content.html.erb
  app/views/admin/pages/_form.html.erb
  app/views/admin/pages/_image.html.erb
  app/views/admin/targets/_form.html.erb
  app/views/admin/tpi_sectors/_form.html.erb
  app/views/cclow/home/_latest_additions.html.erb
  app/views/tpi/home/index.html.erb
  package.json
  yarn.lock
Labels: tpi, cclow, admin

use tiny slider for research boxes
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/shared/controllers/tpi_home_slider_controller.js
  app/views/tpi/home/index.html.erb
Labels: tpi

revert dropping testimonials, we will do it later
  db/migrate/20220822103454_drop_testimonials.rb
  db/structure.sql
Labels: none

reserve space for twitter timeline
  app/assets/stylesheets/tpi/pages/home.scss
Labels: none

add preview link to admin page
  app/admin/page.rb
Labels: admin

make slider items same height
  app/assets/stylesheets/tpi/pages/home.scss
Labels: none

show slider buttons on mobile
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/shared/controllers/tpi_home_slider_controller.js
  app/views/tpi/home/index.html.erb
Labels: tpi

add sovereign bonds link
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Labels: tpi

changing menu structure
  app/views/layouts/tpi/_header.html.erb
Labels: none
