Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

upgrading to Rails 6
  Gemfile
  Gemfile.lock
  app/commands/command/csv_data_upload.rb
  app/javascript/packs/cclow.js
  app/javascript/packs/tpi.js
  bin/rails
  bin/rake
  bin/setup
  config/application.rb
  config/cable.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/content_security_policy.rb
  config/initializers/inflections.rb
  config/puma.rb
  config/spring.rb
  db/migrate/20191119224043_add_foreign_key_constraint_to_active_storage_attachments_for_blob_id.active_storage.rb
  db/schema.rb
  package.json
  spec/commands/csv_data_upload_spec.rb
  yarn.lock
Labels: none

changes in AS and encoding the csv file
  app/admin/data_uploads.rb
  app/commands/command/csv_data_upload.rb
  app/services/csv_import/base_importer.rb
Labels: admin

fix document_spec
  spec/models/document_spec.rb
Labels: none

Configure deployment strategies for production and staging
  config/deploy/production.rb
  config/deploy/staging.rb
Labels: none

Add capistrano-nvm
  Capfile
  Gemfile
  Gemfile.lock
  config/deploy.rb
Labels: none

fix rubocop
  app/models/litigation.rb
Labels: none

Use response instead of framework for litigations adaptation and mitigation
  app/admin/litigations.rb
  app/admin/tags.rb
  app/models/litigation.rb
  app/models/response.rb
  app/views/admin/litigations/_form.html.erb
Labels: admin

Adds frameworks as tags to litigations
  app/admin/litigations.rb
  app/models/litigation.rb
  app/views/admin/litigations/_form.html.erb
Labels: admin

move things around
  app/admin/legislations.rb
  app/admin/litigations.rb
Labels: admin

adds right parameter to permitted_params
  app/admin/litigations.rb
Labels: admin

renamed core_objective to at_issue
  app/admin/litigations.rb
  app/decorators/litigation_decorator.rb
  app/services/csv_import/litigations.rb
  app/views/admin/litigations/_form.html.erb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
  db/migrate/20191119175419_rename_core_objective_to_at_issue.rb
  db/schema.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/factories/litigations.rb
Labels: cclow, admin

Updates responses and adds to legislations
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/models/legislation.rb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
Labels: admin

fixes eager loading issue
  app/admin/litigations.rb
Labels: admin

Update document_types for litigations
  app/decorators/litigation_decorator.rb
  app/models/litigation.rb
  spec/commands/csv_data_upload_spec.rb
  spec/factories/litigations.rb
Labels: none

Update seeds file for litigations
  db/seeds/litigations.csv
Labels: none

sort alphabetically
  app/admin/tags.rb
Labels: admin

Adds parent legislations to legislations
  app/admin/legislations.rb
  app/models/legislation.rb
  app/views/admin/legislations/_form.html.erb
  db/migrate/20191120152618_add_parent_to_legislations.rb
  db/schema.rb
  spec/controllers/admin/legislations_controller_spec.rb
Labels: admin

Temporary workaround for issue with capistrano_nvm + webpacker
  config/deploy.rb
Labels: none

Update credentials file with prod db password
  config/credentials.yml.enc
Labels: none

Update production database config
  config/database.yml
Labels: none

fixes migration
  db/migrate/20191120152618_add_parent_to_legislations.rb
  db/schema.rb
Labels: none

fix migration again
  db/migrate/20191120152618_add_parent_to_legislations.rb
  db/schema.rb
Labels: none

Move google bucket name into credentials file
  config/credentials.yml.enc
  config/storage.yml
Labels: none

feature(tpi: promoted publications): added publications to tpi home
  app/assets/images/mocks/tpi_publications_02.jpg
  app/assets/images/mocks/tpi_publications_03.jpg
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/tags.scss
  app/views/publications/_promoted.html.erb
  app/views/tpi/home/index.html.erb
Labels: tpi

Fix issue with bucket name declaration
  config/storage.yml
Labels: none

fix Litigations dev seed data
  app/services/csv_import/litigations.rb
  db/seeds/litigations.csv
Labels: none

annotate models and specs
  app/models/company.rb
  spec/factories/companies.rb
  spec/factories/tags.rb
  spec/models/company_spec.rb
Labels: none

changes to companies schema
  db/migrate/20191120162650_make_changes_to_companies_table.rb
Labels: none

Updates seeds for companies
  db/seeds/companies.csv
Labels: none

Updates company's size to market_cap_group on interfaces and specs
  app/admin/companies.rb
  app/javascript/components/BubbleChart.js
  app/models/company.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/services/csv_import/companies.rb
  app/views/tpi/companies/show.html.erb
  spec/factories/companies.rb
  spec/services/api/charts/sector_spec.rb
  spec/support/fixtures/files/companies.csv
Labels: tpi, admin

Enables editing new fields
  app/admin/companies.rb
  spec/factories/companies.rb
Labels: admin

Updated schema
  db/schema.rb
Labels: none

use contain_exactly rspec matcher
  .rubocop.yml
  spec/services/api/charts/cp_benchmark_spec.rb
  spec/services/api/charts/sector_spec.rb
Labels: none

styling Latest additions slider
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_latest-additions-slider.scss
  app/controllers/cclow/home_controller.rb
  app/javascript/packs/cclow.js
  app/views/cclow/home/_latest_additions.html.erb
  app/views/cclow/home/index.html.erb
  package-lock.json
  package.json
  yarn.lock
Labels: cclow

Renames constant for consistency
  app/javascript/components/BubbleChart.js
Labels: none

transferring logic from the controller to the service
  app/controllers/cclow/home_controller.rb
  app/services/api/latest_additions.rb
Labels: none

minor fixes
  app/assets/stylesheets/cclow/_latest-additions-slider.scss
  package-lock.json
Labels: none

fix AA jquery
  app/javascript/admin/controllers/nested_list_controller.js
  app/javascript/packs/tpi.js
  config/webpack/environment.js
Labels: admin

review fixes
  app/assets/stylesheets/cclow/_latest-additions-slider.scss
  app/decorators/cclow/litigation_decorator.rb
  app/services/api/latest_additions.rb
  app/views/cclow/home/_latest_additions.html.erb
Labels: cclow

feature(tpi: publications): add publications mock pages
  app/assets/stylesheets/tpi/_publications.scss
  app/controllers/tpi/publications_controller.rb
  app/views/tpi/home/index.html.erb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/index.html.erb
  config/routes.rb
Labels: tpi, cclow
