Repository Vizzuality/laws_and_pathways, changes with the labels that .github/labeler.yml gives for each.
All labels: tpi, cclow, admin

.github/labeler.yml:

tpi:
  - app/views/tpi/**/*
  - app/controllers/tpi/**/*
  - app/javascript/tpi/**/*

cclow:
  - app/views/cclow/**/*
  - app/controllers/tpi/**/*
  - app/decorators/cclow/**/*
  - app/javascript/tpi/**/*

admin:
  - app/admin/**/*
  - app/views/admin/**/*
  - app/javascript/admin/**/*

Add 2028 CP Assessment and updated copy (#508)
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  db/migrate/20250214160706_add_cp_alignment_2028_to_cp_assessments.rb
  db/seeds/tpi/company-cp-assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_regional_csv.json
  spec/models/cp/assessment_spec.rb
  spec/support/fixtures/files/company_cp_assessments.csv
Labels: tpi, admin

Update copy cp performance
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Update copy cp performance (#509)
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Fix line break on below 2 degrees
  app/services/api/charts/cp_performance.rb
Labels: none

Fix line break on below 2 degrees (#510)
  app/services/api/charts/cp_performance.rb
Labels: none

Update newsletter form
  app/views/tpi/home/newsletter.html.erb
Labels: tpi

Fix tooltip text
  app/javascript/components/tpi/charts/cp-performance/Tooltip.js
Labels: none

[Improvements] Update newsletter form (#511)
  app/javascript/components/tpi/charts/cp-performance/Tooltip.js
  app/views/tpi/home/newsletter.html.erb
Labels: tpi

Functioning buttons, missing styles
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Labels: none

Add buttons for selecting year
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Labels: none

Add buttons to graph
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Labels: tpi, cclow

Remove unused css
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Labels: none

Code review: ruby fixes
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
Labels: none

Add year selector buttons to corporate's chart (#512)
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Labels: tpi, cclow

Revert "Add year selector buttons to corporate's chart (#512)"
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Labels: tpi, cclow

Revert "Add year selector buttons to corporate's chart (#512)" (#513)
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Labels: tpi, cclow

Revert "Revert "Add year selector buttons to corporate's chart (#512)" (#513)"
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Labels: tpi, cclow

Revert "Revert "Add year selector buttons to corporate's chart (#512)" (#513)" (#514)
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Labels: tpi, cclow

Change graph to be 2027
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Labels: none

Change graph to be 2027 (#515)
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Labels: none

Use 2027 data as fallthru
  app/views/tpi/companies/show.html.erb
Labels: tpi

Use 2027 data as fallthru (#517)
  app/views/tpi/companies/show.html.erb
Labels: tpi

Use 2027 data as fallthru
  app/views/tpi/companies/show.html.erb
Labels: tpi

Update size and text of subtitle copy, corporates
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Update size and text of subtitle copy, corporates (#519)
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Update size and text of subtitle copy, corporates (#519)
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/sectors/index.html.erb
Labels: tpi

Fix ascor graph selector
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/hooks.js
Labels: none

Fix ascor graph selector (#521)
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/hooks.js
Labels: none

[Improvements] Fix ASCOR graph's selectors (#522)
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/hooks.js
Labels: none

Add support for coal mining subsectors, backend
  app/admin/cp_assessments.rb
  app/models/company.rb
  app/models/company_subsector.rb
  app/models/cp/assessment.rb
  app/services/csv_import/company_cp_assessments.rb
  db/migrate/20250315115731_add_subsectors_to_company.rb
  db/migrate/20250315121402_add_coal_mining_companies_subsector.rb
  db/migrate/20250315132936_add_id_to_company_subsectors.rb
  db/migrate/20250315133352_add_company_subsector_id_to_cp_assessment.rb
Labels: admin

Show subsector in CP Assessments table
  app/admin/cp_assessments.rb
  app/models/cp/assessment.rb
Labels: admin

Add subsector to date selector if present
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Labels: tpi

Update frontend to show multi-subsector data
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/show.html.erb
Labels: tpi

[Improvements] Support Coal Mining's subsectors (#523)
  app/admin/cp_assessments.rb
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/models/company_subsector.rb
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/tpi/companies/show.html.erb
  db/migrate/20250315115731_add_subsectors_to_company.rb
  db/migrate/20250315121402_add_coal_mining_companies_subsector.rb
  db/migrate/20250315132936_add_id_to_company_subsectors.rb
  db/migrate/20250315133352_add_company_subsector_id_to_cp_assessment.rb
Labels: tpi, admin

Add nil checks for by_company functions
  app/models/cp/assessment.rb
Labels: none

Add nil checks for by_company functions (#524)
  app/models/cp/assessment.rb
Labels: none

Add extra check on latest_cp_assessment if no subsector
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
Labels: none

Add clause for regional data as well
  app/services/api/presenters/company.rb
Labels: none

[Improvements] Add extra check on latest_cp_assessment if no subsector is present (#525)
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
Labels: none

Add separated subsectors' graphs
  app/services/api/charts/sector.rb
Labels: none
