Repository Vizzuality/laws_and_pathways, pull requests merged in 2023-10, with the labels that each got.

#449 feat: ASCOR bubble chart data
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/assessment_result.rb
  app/services/api/ascor/bubble_chart.rb
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/_index_assessment.js.erb
  app/views/tpi/ascor/index.html.erb
  config/routes.rb
  spec/services/api/ascor/bubble_chart_spec.rb
Labels: ruby

#450 feat: ASCOR emissions chart data
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/country.rb
  app/services/api/ascor/emissions_chart.rb
  app/views/tpi/ascor/_emissions_chart.html.erb
  app/views/tpi/ascor/_index_emissions_assessment.js.erb
  app/views/tpi/ascor/index.html.erb
  config/routes.rb
  spec/services/api/ascor/emissions_chart_spec.rb
Labels: ruby

#451 Create countries bubble chart
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
  app/javascript/components/tpi/charts/ascor-bubble/index.js
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/index.html.erb
  spec/system/public/tpi/ascor_spec.rb
Labels: javascript

#452 feat: ASCOR assessments results per country
  app/assets/images/tpi/ascor/circles_1.svg
  app/assets/images/tpi/ascor/circles_2.svg
  app/assets/images/tpi/ascor/excempt.svg
  app/assets/images/tpi/ascor/logo.png
  app/assets/images/tpi/ascor/no.svg
  app/assets/images/tpi/ascor/no_data.svg
  app/assets/images/tpi/ascor/no_disclosure.svg
  app/assets/images/tpi/ascor/not_applicable.svg
  app/assets/images/tpi/ascor/oval.svg
  app/assets/images/tpi/ascor/partial.svg
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/helpers/ascor_helper.rb
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/services/api/ascor/emissions_chart.rb
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_index_assessment.js.erb
  app/views/tpi/ascor/_show_assessment.js.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  config/routes.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/ascor_spec.rb
Labels: ruby

#454 feat: Adding modals with info to ASCOR All countries page
  app/javascript/components/tpi/InfoModal.js
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/_emissions_chart.html.erb
  app/views/tpi/ascor/index.html.erb
Labels: javascript

#455 Add filters
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/_selector.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/javascript/components/tpi/charts/emissions/Chart.js
  app/javascript/components/tpi/charts/emissions/CountrySelector.js
  app/javascript/components/tpi/charts/emissions/Emissions.js
  app/javascript/components/tpi/charts/emissions/Filters.js
  app/javascript/components/tpi/charts/emissions/Select.js
  app/javascript/components/tpi/charts/emissions/index.js
  app/javascript/components/tpi/charts/emissions/mockedData.js
  app/javascript/components/tpi/charts/emissions/options.js
  app/javascript/components/tpi/charts/hooks.js
  app/views/tpi/ascor/_emissions_chart.html.erb
Labels: javascript

#458 Add chart responsivity, update country selector
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/CountrySelector.js
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/javascript/components/tpi/charts/ascor-emissions/Filters.js
  app/javascript/components/tpi/charts/ascor-emissions/Select.js
  app/javascript/components/tpi/charts/ascor-emissions/index.js
  app/javascript/components/tpi/charts/ascor-emissions/mockedData.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
  app/services/api/ascor/emissions_chart.rb
  app/views/tpi/ascor/_emissions_chart.html.erb
Labels: javascript

#457 feat: React component that handles EP.1.a.i and EP.1.a.ii metrics
  app/admin/ascor/assessments.rb
  app/assets/images/tpi/ascor/no.svg
  app/assets/images/tpi/ascor/oval.svg
  app/assets/images/tpi/ascor/partial.svg
  app/assets/images/tpi/ascor/yes.svg
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorRecentEmissions.js
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/ascor-emissions/Filters.js
  app/models/ascor/emissions_boundary.rb
  app/services/csv_import/helpers/emissions.rb
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/home/index.html.erb
  spec/system/public/tpi/ascor_spec.rb
Labels: ruby, javascript

#459 feat: React component for ASCOR country selector
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/AscorDropdown.js
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Labels: javascript

#461 Add mobile version of the countries emissions bubble chart
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_bubble-chart-countries.scss
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/chart-mobile/ChartMobile.js
  app/javascript/components/tpi/charts/ascor-bubble/chart-mobile/index.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/ascor_spec.rb
Labels: javascript

#462 feat: Separate page for Publications
  app/assets/stylesheets/tpi/_pages.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/Filters.js
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  app/views/tpi/publications/show_news_article.erb
  app/views/tpi/sitemaps/index.xml.erb
  config/brakeman.ignore
  config/routes.rb
  spec/controllers/tpi/publications_controller_spec.rb
  spec/controllers/tpi/sitemaps_controller_spec.rb
Labels: ruby, javascript

#463 feat: Enhancing further separate publication page
  app/admin/news_article.rb
  app/admin/publication.rb
  app/assets/stylesheets/tpi/_publications.scss
  app/models/bank_assessment_indicator.rb
  app/models/news_article.rb
  app/models/publication.rb
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  db/migrate/20231023101859_add_is_insight_to_news_articles.rb
  db/migrate/20231023120255_add_summary_to_publications.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/controllers/admin/publications_controller_spec.rb
  spec/factories/bank_assessment_indicators.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
  spec/models/bank_assessment_indicator_spec.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
Labels: ruby

#464 feat: separate publication page
  app/admin/news_article.rb
  app/admin/publication.rb
  app/assets/stylesheets/tpi/_pages.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/Filters.js
  app/models/bank_assessment_indicator.rb
  app/models/news_article.rb
  app/models/publication.rb
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  app/views/tpi/publications/show_news_article.erb
  app/views/tpi/sitemaps/index.xml.erb
  config/brakeman.ignore
  config/routes.rb
  db/migrate/20231023101859_add_is_insight_to_news_articles.rb
  db/migrate/20231023120255_add_summary_to_publications.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/controllers/admin/publications_controller_spec.rb
  spec/controllers/tpi/publications_controller_spec.rb
  spec/controllers/tpi/sitemaps_controller_spec.rb
  spec/factories/bank_assessment_indicators.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
  spec/models/bank_assessment_indicator_spec.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
Labels: ruby, javascript

#465 feat: Minor tweaks required before MQ BETA feature deploy
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/tpi/MqBetaModal.jsx
  app/models/mq/question.rb
  db/seeds/tpi/mq-assessments-M5.csv
  db/test-dump.psql
  public/static_files/23-10-20 MQ V5 Report for publication.pptx
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/mq_assessments.csv
Labels: ruby, javascript
