Repository Vizzuality/laws_and_pathways, pull requests merged in 2023-11, with the labels that each got.

#470 Typo fixing and remove text from contact section
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_contact.html.erb
Labels: javascript

#471 feat: Adding research notes to ASCOR assessment model
  app/admin/ascor/assessments.rb
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/services/csv_import/ascor_assessments.rb
  app/views/tpi/ascor/show.html.erb
  db/seeds/tpi/ascor_assessments.csv
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/ascor_assessments.csv
Labels: ruby

#474 refactoring: Adding new bubble sizes to ASCOR tool
  app/services/api/ascor/bubble_chart.rb
  spec/services/api/ascor/bubble_chart_spec.rb
Labels: ruby, javascript

#475 feat: Service which calculates data for EP.2 chart
  app/models/ascor/assessment.rb
  app/models/ascor/benchmark.rb
  app/models/ascor/pathway.rb
  app/services/api/ascor/benchmarks_chart.rb
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_benchmarks_chart.html.erb
  app/views/tpi/ascor/show.html.erb
  spec/services/api/ascor/benchmarks_chart_spec.rb
Labels: ruby, javascript
